# Les paquets @arthome/* sont publies sur GitHub Packages.
# Le jeton n'est PAS ici : il vit dans le ~/.npmrc de la machine.
#   //npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
@arthome:registry=https://npm.pkg.github.com
