# @arthome/* packages are published to GitHub Packages.
# The token is NOT here: it lives in the machine's ~/.npmrc
#   //npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
@arthome:registry=https://npm.pkg.github.com
