# Generated from packages/contracts/src/storefront-api by tools/generate-openapi.py (D-120).
# Edit the declarations, run `pnpm run generate:openapi`, commit both. Never edit this file.

openapi: 3.1.1
x-arthome-codes-source: ERROR_CODES
info:
  title: Arthome Storefront BFF
  version: 1.0.0
  summary: The single contract for the three public surfaces — web, mobile, television.
  description: |
    Contract of the **storefront BFF**. It serves `storefront-web` (Next.js),
    `storefront-mobile` (React Native) and `storefront-tv` (react-native-tvos). These three
    surfaces share one document: what differs between them is a **parameter**
    (`X-Arthome-Surface`), never a shape.

    ## This document is generated, it is not written

    The source is zod, in `@arthome/contracts`; this document is produced by `z.toJSONSchema()`.
    Three consequences, visible throughout what follows:

    - **no date is a `z.date()`** and **no boundary schema carries a `z.transform()`**: both are
      unconvertible. Instants are `date-time` strings (RFC 3339, UTC).
    - a **request** schema is converted with `io: "input"`, a **response** schema with
      `io: "output"`. Getting it backwards produces false documentation.
    - the regenerated document must be **identical** to the committed one. That is a gate in
      `definition-of-done.md`.

    ## Closed vocabularies, and the survival of the fleet

    A closed vocabulary appears in two forms, and **they are not the same**.

    - on **input** (what the client sends): strict `enum`. An unknown value is refused with
      `api.schema_invalid`.
    - on **output** (what the server returns): `type: string` together with
      `x-arthome-vocabulary`, which lists the known values **for documentation only**. A surface
      that receives a value missing from that list **keeps it raw and treats it as neutral**; it
      never rejects, and above all it does not fail the whole page.

    The reason is `storefront-tv` Q12: a version published today will be running in living rooms
    a year from now, and the day the catalogue gains a 22nd discipline, those televisions will
    receive it. Strictness applies to the **shape** — required fields, types — never to the
    **member** of a vocabulary.

    ## A coded field is named after its vocabulary, never `reasonCode`

    `reasonCode` was carried by **five fields over four unrelated vocabularies** across the two
    contracts — playback refusals, blackout reasons, refund reasons, cancellation reasons — plus two
    price lines where it was a bare string. Nothing collided on the wire, since each lives in its own
    schema, and that is exactly what made it survive: **it was disambiguated only by where the reader
    was standing.** A generated client may hoist one `ReasonCode` type out of all of them, and a human
    reading both documents assumes one vocabulary and is wrong.

    So every coded field now names its own vocabulary — `denialReasonCode`, `blackoutReasonCode`,
    `refundReasonCode`, `cancelReasonCode`, `discountReasonCode` — which is the convention
    `failureCode`, `originCode` and `emptyReason` were already following. The generic name was the
    exception, not the rule.

    **The one place a bare `reasonCode` remains is inside `error.params`**, and it is not an exception
    to this: `params` is a bag whose keys are defined **per error `code`**, so the code that carries it
    is the disambiguator, stated rather than inferred.

    ## Public read and identified read — two bodies, one path

    **Ten catalogue operations are callable with no authentication at all**, and that is the
    **nominal** case: `home`, `live`, `categories`, `categories/{id}`, `artists`,
    `artists/{id}`, `dates/{id}`, `dates/{id}/availability`, `search`, `plans`. This surface
    exists to be indexed — the brief defines it by "search ranking and server rendering are
    decisive" — and a search engine's crawler has no cookie, no bearer token, and no reason
    whatsoever to manufacture one. **Guest mode** takes exactly the same path.

    The same path returns **two bodies**, and the difference is declared:

    | Called | Body | `Cache-Control` |
    |---|---|---|
    | with no authentication at all | **public body** — `watchVerdict`, `viewerRelations` and `viewerProgress` are **absent** | `public, max-age=<freshness>` |
    | with a session, bearer token or device token | public body **plus** the three overlays | `private, max-age=<freshness>` |

    **The public body is identical for every anonymous caller.** That is what makes it shareable:
    a cached render function can read neither cookie nor header, so it is anonymous by
    construction, and it can cache that body without risk. Serving as `public` a body that varies
    per viewer would be **a leak, not an optimisation** — and that is the sole reason for the
    `Vary` declared on these ten responses.

    **An absent field is never a null field**: the projection rule holds here as it does on the
    studio side. A surface receiving the public body knows it did not ask for the overlays; it
    does not confuse them with a refused right.

    **The absence of a credential is never a `401`.** A `401` on these ten paths means a
    credential was **presented and refused** — expired, malformed, wrong audience.

    ## What every response carries

    `servedAt` on **every** response; `validUntil` as soon as a perishable value is present;
    `lastEventSeq` on every read model fed by a stream. Every displayed countdown is computed
    against `servedAt`, **never** against the client's clock — a phone's clock drifts in standby,
    jumps on a timezone change, and its owner can set it.

    ## Errors

    One envelope, up to and including Traefik: `code`, `nature`, `params`, `traceId`. A
    validation failure translates into a **code**, never into a zod message in English. `nature`
    is `refused` (the server said no definitively), `unavailable` (retry) or
    `offline_forbidden` — the last one is **never emitted by the server**: it is the nature of a
    local refusal, produced by the surface before anything is sent, and it is in the vocabulary
    so that the surface has only one error shape to render.

    ## Pagination (D-010)

    The storefront paginates **by cursor**, opaque, Base64-encoded over the composite key
    `(created_at, id)`. It is **bidirectional**, **independent of page size** — a screen rotation
    does not invalidate it — and it lives **24 hours**. Beyond that: `410` `api.cursor_too_old`,
    which demands a full reload and says so.

    ## Maturity

    Endpoints served by `identity`, `catalog` and `ticketing` are **stable**: `oasdiff breaking`
    blocks any break. Those served by `streaming`, `chat`, `payouts` and `notifications` are
    **provisional**: `oasdiff` is a warning there. Every operation carries
    `x-arthome-maturity`.
  contact:
    name: Arthome — architecture
  license:
    name: UNLICENSED
servers:
- url: https://api.arthome.fr
  description: production
- url: https://api.staging.arthome.fr
  description: recette
- url: http://localhost:3001
  description: local development (docker compose)
tags:
- name: bootstrap
  description: Bootstrap, viewer context, invalidations.
- name: discovery
  description: Home, live, disciplines, artists, search.
- name: date
  description: A date's record, and everything attached to it.
- name: commerce
  description: Seats, cart, merchandise, subscription.
- name: playback
  description: Right to watch, token, session, resume position.
- name: chat
  description: The viewer's voice during a live show.
- name: pairing
  description: Device pairing (RFC 8628) — the five intents.
- name: account
  description: Account, preferences, security, personal data.
security:
- sessionCookie: []
- bearerToken: []
paths:
  /v1/devices:
    post:
      operationId: registerDevice
      summary: Registers the device and returns its device token.
      description: |
        **Called on first launch, before any session.** Device identity is a contract notion, and
        it is required for four things the surfaces ask for: opening and polling a pairing, naming
        itself under "connected devices", being revoked, and carrying a rate limit somewhere other
        than the IP address — which a household behind a NAT shares.

        It **is not a session** and opens no personal data; in particular it does not open the
        real-time channel.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      tags:
      - bootstrap
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                kind:
                  type: string
                  enum:
                  - tv
                  - mobile
                  - tablet
                  - desktop
                  - stick
                  - console
                  - box
                  x-arthome-vocabulary-source: DEVICE_KINDS
                label:
                  type: string
                  maxLength: 80
                osVersion:
                  type: string
                appVersion:
                  type: string
              required:
              - kind
              - label
            example:
              kind: tv
              label: Téléviseur du salon
              osVersion: tvOS 19.2
              appVersion: 1.4.0
      responses:
        '201':
          description: Device registered. The token is to be kept in the native store.
          headers:
            X-Arthome-Served-At:
              $ref: '#/components/headers/ServedAt'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        deviceId:
                          type: string
                          format: uuid
                        deviceToken:
                          type: string
                        expiresAt:
                          type: string
                          format: date-time
                      required:
                      - deviceId
                      - deviceToken
                      - expiresAt
                      additionalProperties: {}
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:02:11.004Z'
                data:
                  deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                  deviceToken: eyJhbGciOiJFUzI1NiIsImtpZCI6ImRldi0yMDI2LTA5In0
                  expiresAt: '2027-03-20T18:02:11.004Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/Unavailable'
  /v1/viewer-context:
    get:
      operationId: getViewerContext
      summary: The bootstrap — the entire budget of the start-up screen.
      description: |
        **A single call.** Device profiles, rights, preferences, domain constants, version of the
        label catalogue and of the taxonomy. The labels themselves come from the snapshot embedded
        at build time: the version check **never blocks** the first render.

        If this call fails, the surface must still display a **readable** message — not a raw code,
        not a blank screen. That is what makes the embedded snapshot mandatory rather than merely
        desirable.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      x-arthome-freshness: 300
      tags:
      - bootstrap
      security:
      - sessionCookie: []
      - bearerToken: []
      - deviceToken: []
      parameters:
      - $ref: '#/components/parameters/ViewerTimezone'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Viewer context.
          headers:
            X-Arthome-Served-At:
              $ref: '#/components/headers/ServedAt'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ViewerContext'
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:02:12.400Z'
                data:
                  deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                  signedIn: true
                  currentProfileId: 019928f4-2a11-7000-8000-000000000001
                  profiles:
                  - id: 019928f4-2a11-7000-8000-000000000001
                    name: Marie
                    kind: adult
                  plan:
                    tier: pass
                    state: active
                    seatDiscountBps: 1000
                    concurrentStreamsAllowed: 1
                  constants:
                    roomOpensMinutesBefore: 30
                    cancelDeadlineMinutesBefore: 60
                    scarcityThresholdBps: 8500
                    billboardPreviewDelaySec: 4
                    waitlistPriorityWindowHours: 2
                    chatRateLimitPerSecond: 2
                    chatCatchUpMessages: 20
                    reminderLeadMinutes: 30
                    replayExpiryWarningHours: 6
                    previewSecondsTotal: 300
                    searchExactTotalLimit: 10000
                    creditDelayCode: refund_delay_business_days_3_5
                  labelCatalog:
                    locale: fr
                    version: 41
                    url: https://cdn.arthome.fr/i18n/storefront/fr/v41.json
                  taxonomyArtifact:
                    locale: fr
                    version: 12
                    url: https://cdn.arthome.fr/taxonomy/fr/v12.json
                  realtime:
                    namespace: /storefront
                    pulseIntervalSec: 5
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/Unavailable'
  /v1/changes:
    get:
      operationId: listChanges
      summary: The invalidations since a given instant — not the data.
      description: |
        **One request instead of twelve.** On returning to the foreground, every observed read
        revalidates at the same time; an account screen shows half a dozen, a category page as many.
        Refusing that burst means refusing to open the application.

        It is also the path by which the storefront learns what it **did not cause** — Kafka being
        forbidden outside inter-service traffic, it is the only one possible. For Next's server
        rendering, the same tags feed `revalidateTag`: they are **named by the contract**, never
        invented by a surface.

        ## This feed requires a credential, and the public side has no feed at all

        **The `401` is a ruling, not an oversight** (D-022's rule applied). This path answers "what
        changed **for you** since your cursor". A public invalidation stream would answer "what
        changed in the catalogue since T". They are **two resources**, and their cacheability
        requirements are opposite: this one must `Vary` on the credential and can never be
        edge-cached; a public one is worthless unless it is. Served from one path, the public half
        inherits the private half's `Vary`, so Next's server rendering would reach origin on every
        revalidation check — which is most of what this path exists to save.

        The direction was chosen on reversibility. Making this path anonymous **cannot be undone**:
        once clients call it without a credential, the credential cannot come back. Adding a
        separate public path later is **purely additive**.

        **The cost, named rather than shrugged at.** Signed-out pages have no invalidation path and
        fall back to **time-based revalidation** on their family's freshness — 60 s for `home` and
        the lists, 300 s for `category` and `artist` (§ the freshness table). A catalogue change is
        therefore visible to a signed-out reader in **up to one freshness window**, where a feed
        would cut it to the push latency. That is a performance property, not a contract property,
        and it is the number to beat: a measurement showing a public page stale past its window, or
        an origin-hit cost that the time-based fallback makes unacceptable, reopens this.

        **What it would take to fill the gap, and why the shape is not written here.** Nobody has
        designed a public catalogue-change stream: whether it is keyed on time or on entity, what
        window it covers, what a client that has been away for a week receives, and whether it is a
        feed at all rather than an `ETag` on each catalogue read. What has no source does not enter
        the contract, so the gap is named and the shape is left alone.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - realtime
      tags:
      - bootstrap
      parameters:
      - name: since
        in: query
        required: true
        description: The `servedAt` of the client's last known response.
        schema:
          type: string
          format: date-time
      - name: scope
        in: query
        required: false
        description: |
          Which invalidations to return. `profile` covers what follows the account — tickets,
          orders, subscription, cart — and is what a surface wants on returning to the
          foreground. `device` restricts the answer to what follows **this device**, and exists
          for the television, where five profiles share one device and a switch of profile must
          not force the other four to reload.

          A **closed** vocabulary, and legitimately so: this is an input, and the server must
          refuse a scope it does not know rather than silently widen the answer.
        schema:
          default: profile
          type: string
          enum:
          - profile
          - device
          x-arthome-vocabulary-source: none
          x-arthome-vocabulary-reason: 'An account-management shape, local to this endpoint: what the person asked for, not a fact the domain reasons about.'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: A list of invalidations.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ChangeFeed'
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T20:44:02.010Z'
                data:
                  invalidated:
                  - date:019928a0-7d31-7a10-b8c4-2f9e11a4c001
                  - account:tickets
                  complete: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/auth/sign-up:
    post:
      operationId: signUp
      summary: Creates an account with email and password.
      description: |
        **A documented relay to `identity`, and the relay is mandatory, not preferable.** Three
        reasons, the first of which comes from our own tooling:

        1. **zod is the source and the OpenAPI is generated from it.** A transparent relay has no
           schema, so it **would not appear in this document** — the six missing contracts would
           stay missing. That is the decisive argument;
        2. **i18n by codes.** The authentication library answers in English sentences
           (`"Invalid email or password"`), which the error envelope forbids. The BFF translates
           into **codes**, envelope included;
        3. **rate limiting per `device_id`**, which the library cannot do: its ceilings are per
           address or per session, and a living room behind a NAT shares its address.

        The cookie, when there is one, is set on the **BFF's domain** — that is what lets the
        server renderer read it, and what keeps critical rule 1 free of an exception through the
        authentication door.

        **The public handle is generated, neutral, and changeable later** through `updateProfile`
        (D-101): a sign-up never fails on a handle, and nothing personal becomes public by
        default. A verification link is emailed at once; an unverified address blocks nothing
        (D-100), and `ViewerContext.account.emailVerified` says where it stands.

        **A taken email answers `409` `identity.email_taken`** (D-099). The status alone says the
        address is registered, so what bounds enumeration is the rate limit, answered `429`.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      tags:
      - account
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 12
                  maxLength: 128
                displayName:
                  type: string
                  maxLength: 80
                mode:
                  $ref: '#/components/schemas/SessionMode'
                deviceId:
                  anyOf:
                  - type: string
                    format: uuid
                  - type: 'null'
                acceptedTermsVersion:
                  type: integer
                  description: '**Timestamped by the server, versioned**: a consent without a version or a date is worth nothing.'
                locale:
                  type: string
                  enum:
                  - fr
                  - en
                  x-arthome-vocabulary-source: LOCALES
                  description: |
                    The language the account's emails are written in, starting with the welcome and the
                    verification link. **Strict, as an input**: a locale we cannot render is refused
                    rather than answered in another language. The country is not asked: the server
                    resolves it.
                  examples:
                  - fr
              required:
              - email
              - password
              - mode
              - acceptedTermsVersion
              - locale
            example:
              email: marie@example.org
              password: a-long-password
              displayName: Marie J.
              mode: cookie
              acceptedTermsVersion: 3
              locale: fr
      responses:
        '201':
          description: Account created and session opened, in the requested mode.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/SessionEstablished'
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:00:00.000Z'
                data:
                  mode: cookie
                  viewerContext:
                    deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                    signedIn: true
                    profiles: []
                    constants:
                      roomOpensMinutesBefore: 30
                      cancelDeadlineMinutesBefore: 60
                      scarcityThresholdBps: 8500
                      billboardPreviewDelaySec: 4
                      waitlistPriorityWindowHours: 2
                      chatRateLimitPerSecond: 10
                      reminderLeadMinutes: 30
                      replayExpiryWarningHours: 6
                    labelCatalog:
                      locale: fr
                      version: 41
                      url: https://cdn.arthome.fr/i18n/storefront/fr/v41.json
                    taxonomyArtifact:
                      locale: fr
                      version: 12
                      url: https://cdn.arthome.fr/taxonomy/fr/v12.json
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: '`identity.email_taken` — a **code**, not the library''s English sentence.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              example:
                error:
                  code: identity.email_taken
                  nature: refused
                  params: {}
                  traceId: 4bf92f3577b34da6a3ce929d0e0e4736
                servedAt: '2026-09-21T18:00:00.000Z'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/auth/sign-in:
    post:
      operationId: signIn
      summary: Opens a session with email and password.
      description: |
        Same relay, same translation into codes: `identity.invalid_credentials` **never** distinguishes an
        unknown email from a wrong password — the distinction would tell an attacker which accounts
        exist.

        `identity.two_factor_required` is an **intermediate** refusal, not a failure: it carries a
        `challengeId` to present to `/v1/auth/two-factor/verify`.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      x-arthome-idempotency-exemption: |
        **The one exemption that is not "nothing to deduplicate": this one is a prohibition.** The
        idempotency regime replays the original response **verbatim**; on a session opening, that
        would amount to **returning a token without having verified the credentials**. A replayed
        key would become a session bearer — and a stolen key, a stolen session.

        The five other authentication routes do carry the key, because a replay there returns the
        original response rather than a `410` or a second effect: that is safe resumption. A
        sign-in, no — it must **always** re-authenticate. The protection against double submission
        here is rate limiting per `device_id`, not the idempotency store.
      tags:
      - account
      security: []
      parameters:
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  maxLength: 128
                mode:
                  $ref: '#/components/schemas/SessionMode'
                deviceId:
                  anyOf:
                  - type: string
                    format: uuid
                  - type: 'null'
              required:
              - email
              - password
              - mode
            example:
              email: marie@example.org
              password: a-long-password
              mode: bearer
              deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
      responses:
        '200':
          description: Session opened, in the requested mode.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/SessionEstablished'
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:00:10.000Z'
                data:
                  mode: bearer
                  accessToken: sess_9f2ac1b4
                  refreshToken: refr_4d77e2
                  expiresAt: '2026-09-28T18:00:10Z'
                  viewerContext:
                    deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                    signedIn: true
                    profiles: []
                    constants:
                      roomOpensMinutesBefore: 30
                      cancelDeadlineMinutesBefore: 60
                      scarcityThresholdBps: 8500
                      billboardPreviewDelaySec: 4
                      waitlistPriorityWindowHours: 2
                      chatRateLimitPerSecond: 6
                      reminderLeadMinutes: 30
                      replayExpiryWarningHours: 6
                    labelCatalog:
                      locale: fr
                      version: 41
                      url: https://cdn.arthome.fr/i18n/storefront/fr/v41.json
                    taxonomyArtifact:
                      locale: fr
                      version: 12
                      url: https://cdn.arthome.fr/taxonomy/fr/v12.json
        '401':
          description: '`identity.invalid_credentials`, or `identity.two_factor_required` with its `challengeId`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              example:
                error:
                  code: identity.two_factor_required
                  nature: refused
                  params:
                    challengeId: chl_7ab2
                  traceId: 4bf92f3577b34da6a3ce929d0e0e4736
                servedAt: '2026-09-21T18:00:10.000Z'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/auth/sign-out:
    post:
      operationId: signOut
      summary: Closes the current session — and nothing else.
      description: |
        **The trap this operation exists to avoid.** The authentication library's `signOut` revokes
        **all** of the user's sessions. On a television shared by five profiles, that is never what
        anyone wants: it would sign out the whole living room.

        **Two gestures, two routes, never one for the other**:
        - **this one** closes the current session;
        - **`DELETE /v1/me/device-sessions/{sessionId}`** signs out **one profile** from a device
          (`multi-session.revoke`), the other accounts staying signed in;
        - **`DELETE /v1/me/devices/{deviceId}`** removes the device, all its sessions **and its
          playback leases**.

        **Order matters in `bearer` mode**: the session is destroyed server-side **then** the client
        clears its native store. Clearing the store is not revoking. In `cookie` mode, the cookie is
        cleared **with exactly the attributes that set it** — otherwise it is not cleared.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      tags:
      - account
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Session closed. Replayed, it succeeds.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        signedOut:
                          type: boolean
                      additionalProperties: {}
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T23:00:00.000Z'
                data:
                  signedOut: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/auth/verify-email:
    post:
      operationId: confirmEmailVerification
      summary: Confirms an email address from the link sent to it.
      description: |
        **The link points at the surface, never at the API**, which sends its token here. No
        session is needed: the link is opened on whatever device read the email.

        **The token is spent by its first use and expires** (`adr-auth.md` §6.7). An unknown, an
        expired and an already used token all answer the same `410`
        `identity.verification_link_invalid`: telling them apart would say which tokens were ever
        issued. A replay under the same `Idempotency-Key` answers the first `200` again.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      x-arthome-invalidates:
      - account:profile
      tags:
      - account
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  minLength: 1
                  maxLength: 256
              required:
              - token
            example:
              token: vrf_4b2c9e1f7a0d
      responses:
        '200':
          description: The address is verified.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        verified:
                          type: boolean
                      required:
                      - verified
                      additionalProperties: {}
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:05:00.000Z'
                data:
                  verified: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '410':
          description: '`identity.verification_link_invalid`: unknown, expired or already used, one answer for the three.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              example:
                error:
                  code: identity.verification_link_invalid
                  nature: refused
                  params: {}
                  traceId: 4bf92f3577b34da6a3ce929d0e0e4736
                servedAt: '2026-09-21T18:05:00.000Z'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/auth/verify-email/resend:
    post:
      operationId: resendEmailVerification
      summary: Queues a fresh verification link for the signed-in account's address.
      description: |
        The fresh link replaces the earlier ones, which stop working. **`queued: true`** says the
        link is recorded for `notifications` to send, which owns the sending; it does not say an
        email left. **`queued: false` when the address is already verified**: nothing is queued,
        and that is not a refusal.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      tags:
      - account
      security:
      - sessionCookie: []
        csrfToken: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: A link was queued for sending, or the address is already verified.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        queued:
                          type: boolean
                      required:
                      - queued
                      additionalProperties: {}
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:06:00.000Z'
                data:
                  queued: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CsrfRefused'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/auth/forget-password:
    post:
      operationId: requestPasswordReset
      summary: Requests a password reset link.
      description: |
        **Always answers `202`, whether the account exists or not.** Distinguishing the two would
        tell an attacker which emails are registered.

        **The email's link points at the surface, never at the API** — `arthome.fr/reset?token=…` —
        and therefore **per product and per language**. The library's default builds it from its own
        base address and would land the person on an API.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      tags:
      - account
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                locale:
                  type: string
                  enum:
                  - fr
                  - en
                  x-arthome-vocabulary-source: LOCALES
                  description: |
                    **The domain declares exactly two.** This one is an **input**, so the enum is strict:
                    a locale we cannot render is refused rather than silently answered in another
                    language.
                  examples:
                  - fr
              required:
              - email
            example:
              email: marie@example.org
              locale: fr
      responses:
        '202':
          description: Request accepted — the answer is the same in both cases.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        accepted:
                          type: boolean
                      additionalProperties: {}
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:01:00.000Z'
                data:
                  accepted: true
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/auth/reset-password:
    post:
      operationId: resetPassword
      summary: Sets a new password from a reset token.
      description: |
        **Does not open a session.** The person signs in again, which proves the new password works
        and avoids an email link becoming a session bearer. The token is single-use and
        short-lived.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      tags:
      - account
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                password:
                  type: string
                  minLength: 12
                  maxLength: 128
              required:
              - token
              - password
            example:
              token: rst_9f2ac1
              password: a-new-password
      responses:
        '200':
          description: Password changed. **All other sessions are revoked** — a password changed after a theft must close the door.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        changed:
                          type: boolean
                        otherSessionsRevoked:
                          type: integer
                      additionalProperties: {}
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:02:00.000Z'
                data:
                  changed: true
                  otherSessionsRevoked: 3
        '400':
          $ref: '#/components/responses/BadRequest'
        '410':
          $ref: '#/components/responses/Gone'
  /v1/auth/social/{provider}/start:
    post:
      operationId: startSocialSignIn
      summary: Starts a social sign-in — the surfaces never talk to the provider.
      description: |
        **The OAuth client is confidential and server-side.** No application embeds a secret: that
        is the only defensible form on a distributed binary, and the redirect is registered **once
        per provider**, on the BFF's domain.

        **The deep link on return never carries the token.** It carries only a **single-use opaque
        state**, which the application then exchanges for its token over direct TLS with the BFF
        (`/v1/auth/exchange`). The return URL travels through the operating system, can be logged,
        and can be opened by another application.

        **Per surface**: browsers follow an ordinary redirect; native shells open the **system
        browser**, never their WebView, and come back through a universal link. **The television
        does no OAuth**: it goes through pairing, intent `signin`.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      tags:
      - account
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - google
          - facebook
          x-arthome-vocabulary-source: none
          x-arthome-vocabulary-reason: An external provider or platform identifier. It is their vocabulary, not ours, and it changes when they change.
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:
                  $ref: '#/components/schemas/SessionMode'
                deviceId:
                  anyOf:
                  - type: string
                    format: uuid
                  - type: 'null'
                returnPath:
                  description: |
                    **Relative** return path inside the surface. An absolute address is refused: the allowlist
                    is made of **literal strings**, never of a pattern.
                  type:
                  - string
                  - 'null'
              required:
              - mode
            example:
              mode: bearer
              deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
              returnPath: /compte
      responses:
        '200':
          description: The authorization address to open, and the opaque state that will come back.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        authorizationUrl:
                          type: string
                          format: uri
                        state:
                          type: string
                          description: '**Opaque, single-use, short-lived.** It carries nothing meaningful.'
                        expiresAt:
                          type: string
                          format: date-time
                      required:
                      - authorizationUrl
                      - state
                      - expiresAt
                      additionalProperties: {}
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:03:00.000Z'
                data:
                  authorizationUrl: https://api.arthome.fr/v1/auth/social/google/redirect?state=ott_9f2ac1
                  state: ott_9f2ac1
                  expiresAt: '2026-09-21T18:13:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
  /v1/auth/exchange:
    post:
      operationId: exchangeOneTimeToken
      summary: Exchanges the opaque state from the return for a session.
      description: |
        **This is what makes the journey replayable if the operating system kills the application
        during the detour**: the pending state lives server-side, not in application memory. On
        return, the deep link says **where to go**, and this exchange says **what changed**.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      tags:
      - account
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: string
                mode:
                  $ref: '#/components/schemas/SessionMode'
                deviceId:
                  anyOf:
                  - type: string
                    format: uuid
                  - type: 'null'
              required:
              - state
              - mode
            example:
              state: ott_9f2ac1
              mode: bearer
              deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
      responses:
        '200':
          description: Session opened in the requested mode.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/SessionEstablished'
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:03:40.000Z'
                data:
                  mode: bearer
                  accessToken: sess_4d77e2
                  expiresAt: '2026-09-28T18:03:40Z'
                  viewerContext:
                    deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                    signedIn: true
                    profiles: []
                    constants:
                      roomOpensMinutesBefore: 30
                      cancelDeadlineMinutesBefore: 60
                      scarcityThresholdBps: 8500
                      billboardPreviewDelaySec: 4
                      waitlistPriorityWindowHours: 2
                      chatRateLimitPerSecond: 6
                      reminderLeadMinutes: 30
                      replayExpiryWarningHours: 6
                    labelCatalog:
                      locale: fr
                      version: 41
                      url: https://cdn.arthome.fr/i18n/storefront/fr/v41.json
                    taxonomyArtifact:
                      locale: fr
                      version: 12
                      url: https://cdn.arthome.fr/taxonomy/fr/v12.json
        '410':
          $ref: '#/components/responses/Gone'
  /v1/auth/change-password:
    post:
      operationId: changePassword
      summary: Changes the password from the account.
      description: |
        **The current password is required**, and that is not a formality: without it, a stolen
        session would be enough to lock the owner out of their own account.

        **Other sessions are revoked** — this is the gesture one makes on suspecting a theft, and
        leaving the other bearers untouched would empty it of meaning. The current session survives:
        you do not sign yourself out by changing your password.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      tags:
      - account
      security:
      - sessionCookie: []
        csrfToken: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                currentPassword:
                  type: string
                newPassword:
                  type: string
                  minLength: 12
                revokeOtherSessions:
                  default: true
                  type: boolean
              required:
              - currentPassword
              - newPassword
            example:
              currentPassword: an-old-password
              newPassword: a-new-password
      responses:
        '200':
          description: Password changed.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        changed:
                          type: boolean
                        otherSessionsRevoked:
                          type: integer
                      additionalProperties: {}
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:57:00.000Z'
                data:
                  changed: true
                  otherSessionsRevoked: 2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CsrfRefused'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/auth/two-factor:
    post:
      operationId: enableTwoFactor
      summary: Enables two-factor authentication and returns the backup codes.
      description: |
        **The backup codes are returned here, once only.** They are never read back: the server
        keeps only hashes of them. An operation able to repeat them would be able to read them, and
        it would no longer be a second factor.

        Two-factor authentication is a **precondition** for transferring ownership of a channel on
        the studio side: the contract refuses it without one.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      tags:
      - account
      security:
      - sessionCookie: []
        csrfToken: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: Re-authentication — this is a sensitive operation.
              required:
              - password
            example:
              password: a-long-password
      responses:
        '201':
          description: Secret to enrol and backup codes, returned **once only**.
          headers:
            Cache-Control:
              schema:
                type: string
                const: no-store
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        otpauthUri:
                          type: string
                        backupCodes:
                          type: array
                          items:
                            type: string
                      required:
                      - otpauthUri
                      - backupCodes
                      additionalProperties: {}
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:58:00.000Z'
                data:
                  otpauthUri: otpauth://totp/Arthome:marie%40example.org?secret=JBSWY3DP&issuer=Arthome
                  backupCodes:
                  - 7K2M-9QP4
                  - X3N8-2VTR
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CsrfRefused'
    delete:
      operationId: disableTwoFactor
      summary: Disables two-factor authentication.
      description: '**Re-authentication required**: disabling a second factor is exactly what a session thief would try first.'
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      tags:
      - account
      security:
      - sessionCookie: []
        csrfToken: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
              required:
              - password
            example:
              password: a-long-password
      responses:
        '200':
          description: Two-factor authentication disabled.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        twoFactorEnabled:
                          type: boolean
                      additionalProperties: {}
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:58:30.000Z'
                data:
                  twoFactorEnabled: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CsrfRefused'
  /v1/auth/two-factor/verify:
    post:
      operationId: verifyTwoFactor
      summary: Answers the two-factor challenge, and opens the session.
      description: |
        Follows `identity.two_factor_required`. The `challengeId` is **short-lived and single-use**; a
        consumed backup code cannot be replayed.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      tags:
      - account
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                challengeId:
                  type: string
                code:
                  type: string
                mode:
                  $ref: '#/components/schemas/SessionMode'
                deviceId:
                  anyOf:
                  - type: string
                    format: uuid
                  - type: 'null'
              required:
              - challengeId
              - code
              - mode
            example:
              challengeId: chl_7ab2
              code: '318204'
              mode: cookie
      responses:
        '200':
          description: Session opened, in the requested mode.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/SessionEstablished'
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:00:25.000Z'
                data:
                  mode: cookie
                  viewerContext:
                    deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                    signedIn: true
                    profiles: []
                    constants:
                      roomOpensMinutesBefore: 30
                      cancelDeadlineMinutesBefore: 60
                      scarcityThresholdBps: 8500
                      billboardPreviewDelaySec: 4
                      waitlistPriorityWindowHours: 2
                      chatRateLimitPerSecond: 10
                      reminderLeadMinutes: 30
                      replayExpiryWarningHours: 6
                    labelCatalog:
                      locale: fr
                      version: 41
                      url: https://cdn.arthome.fr/i18n/storefront/fr/v41.json
                    taxonomyArtifact:
                      locale: fr
                      version: 12
                      url: https://cdn.arthome.fr/taxonomy/fr/v12.json
        '401':
          $ref: '#/components/responses/Unauthorized'
        '410':
          $ref: '#/components/responses/Gone'
  /v1/me/passkeys:
    post:
      operationId: addPasskey
      summary: Enrols a passkey.
      description: |
        Returns the enrolment options produced by the server; the surface passes them to the browser
        or platform API, then returns the attestation to `PUT`. **The secret never leaves the
        hardware.**
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      tags:
      - account
      security:
      - sessionCookie: []
        csrfToken: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  maxLength: 80
            example:
              label: MacBook de Marie
      responses:
        '201':
          description: Enrolment options, single-use.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
            Cache-Control:
              schema:
                type: string
                const: no-store
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        registrationOptions:
                          type: object
                          properties: {}
                          additionalProperties: {}
                        expiresAt:
                          type: string
                          format: date-time
                      additionalProperties: {}
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:59:00.000Z'
                data:
                  registrationOptions:
                    challenge: k7M2pQ
                    rp:
                      id: arthome.fr
                      name: Arthome
                  expiresAt: '2026-09-21T19:04:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CsrfRefused'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /v1/me/passkeys/{passkeyId}:
    delete:
      operationId: removePasskey
      summary: Removes a passkey.
      description: '**Refused if it is the account''s last credential** (`LAST_CREDENTIAL`): an account with no way to sign in is a lost account.'
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      tags:
      - account
      security:
      - sessionCookie: []
        csrfToken: []
      - bearerToken: []
      parameters:
      - name: passkeyId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Passkey removed.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        removed:
                          type: boolean
                      additionalProperties: {}
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:59:30.000Z'
                data:
                  removed: true
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CsrfRefused'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /v1/me/payment-methods:
    post:
      operationId: addPaymentMethod
      summary: Registers a payment method from the web.
      description: |
        **The only surface able to register a card was the one with no keyboard.** The
        `payment_method` intent existed for television pairing, and the account's Security section
        displayed "Payment methods · Manage" without any command reaching it.

        **No card number touches our domain**: the command returns a setup `clientSecret`, and the
        surface's payment element takes it from there — that is what keeps the compliance scope as
        narrow as possible.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - ticketing
      x-arthome-invalidates:
      - account:payment-methods
      tags:
      - account
      security:
      - sessionCookie: []
        csrfToken: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                returnPath:
                  type: string
                  description: '**Relative** path inside the surface. An absolute address is refused.'
                setAsDefault:
                  default: false
                  type: boolean
              required:
              - returnPath
            example:
              returnPath: /compte/securite
              setAsDefault: true
      responses:
        '201':
          description: Setup opened. The surface presents the payment element.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
            Cache-Control:
              schema:
                type: string
                const: no-store
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        setupIntentRef:
                          type: string
                        clientSecret:
                          type: string
                        returnUrl:
                          type: string
                          format: uri
                        expiresAt:
                          type: string
                          format: date-time
                      required:
                      - setupIntentRef
                      - clientSecret
                      - returnUrl
                      additionalProperties: {}
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:55:20.000Z'
                data:
                  setupIntentRef: seti_1Ab2Cd
                  clientSecret: seti_1Ab2Cd_secret_7f3
                  returnUrl: https://arthome.fr/compte/securite?setup=seti_1Ab2Cd
                  expiresAt: '2026-09-21T19:25:20Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CsrfRefused'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /v1/me/payment-methods/{paymentMethodId}:
    delete:
      operationId: removePaymentMethod
      summary: Removes a payment method.
      description: |
        **Refused if it is the last method of an active subscription** (`payment_method.in_use`):
        silently removing a subscription's only card would produce a failed charge and a cancelled
        plan that nobody intended.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - ticketing
      tags:
      - account
      security:
      - sessionCookie: []
        csrfToken: []
      - bearerToken: []
      parameters:
      - name: paymentMethodId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Method removed. Replayed on an already-removed method, it succeeds.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        removed:
                          type: boolean
                      additionalProperties: {}
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:56:00.000Z'
                data:
                  removed: true
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CsrfRefused'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /v1/me/account:
    get:
      operationId: getAccountScreen
      summary: The aggregate of the account's eleven sections, in one call.
      description: |
        The eleven sections share **one** account shape. They justify neither eleven calls nor eleven
        schemas: eight are projections of this one. Only saved searches, orders and notifications are
        paginated separately.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      - ticketing
      - notifications
      x-arthome-freshness: 300
      tags:
      - account
      security:
      - sessionCookie: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: The account.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/AccountScreen'
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:55:00.000Z'
                data:
                  profile:
                    publicHandle: '@marie.j'
                    displayName: Marie J.
                    email: marie@example.org
                    emailVerified: true
                    phoneVerified: false
                    memberNumber: A-004212
                  subscription:
                    planTier: pass
                    state: active
                    currentPeriodEnd: '2026-10-21T00:00:00Z'
                    cancelAtPeriodEnd: false
                  credits: []
                  devices: []
                  consents:
                    purposes:
                      audience: true
                      perso: true
                      partners: false
                      ads: false
                    textVersion: 3
                    recordedAt: '2026-05-02T09:12:00Z'
                  deletion: null
          headers:
            Cache-Control:
              description: 'How long, and for whom, the answer may be kept: the route''s freshness family.'
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /v1/me/tickets:
    get:
      operationId: listMyTickets
      summary: My seats, upcoming or past, already ordered by the server.
      description: |
        The order is **server-side**: a date carrying an outcome rises to the top, because it calls
        for action. No surface reorders.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - ticketing
      - catalog
      - streaming
      x-arthome-freshness: 60
      tags:
      - account
      security:
      - sessionCookie: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/CursorDirection'
      - $ref: '#/components/parameters/Limit'
      - name: window
        in: query
        schema:
          default: upcoming
          type: string
          enum:
          - upcoming
          - past
          x-arthome-vocabulary-source: none
          x-arthome-vocabulary-reason: A sort or filter key. It is a property of THIS endpoint's list — which orders it offers — not of the domain, and adding one is an endpoint change rather than a vocabulary change.
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Page of seats.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/TicketCard'
                    page:
                      $ref: '#/components/schemas/CursorPageInfo'
                  required:
                  - items
                  - page
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:56:00.000Z'
                items: []
                page:
                  hasMore: false
                  emptyReason: no_ticket_yet
                  emptyActionCode: browse_catalog
          headers:
            Cache-Control:
              description: 'How long, and for whom, the answer may be kept: the route''s freshness family.'
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '410':
          $ref: '#/components/responses/Gone'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /v1/me/replays:
    get:
      operationId: listMyReplays
      summary: My replays, the ones expiring first.
      description: Each entry carries `replay.expiresAt` as an **instant**; the surface derives "expires in 41 h" against `servedAt`, with no call.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - ticketing
      - catalog
      - streaming
      x-arthome-freshness: 60
      tags:
      - account
      security:
      - sessionCookie: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Page of replays.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/DateCard'
                    page:
                      $ref: '#/components/schemas/CursorPageInfo'
                  required:
                  - items
                  - page
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:56:30.000Z'
                items: []
                page:
                  hasMore: false
                  emptyReason: no_replay_available
                  emptyActionCode: browse_catalog
          headers:
            Cache-Control:
              description: 'How long, and for whom, the answer may be kept: the route''s freshness family.'
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /v1/me/watchlist:
    get:
      operationId: listWatchlist
      summary: Ma liste.
      description: |
        "My list" — complete cards, not identifiers: the surface must be able to paint without a
        second call per entry.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      - catalog
      x-arthome-freshness: 60
      tags:
      - account
      security:
      - sessionCookie: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Page of dates set aside.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/DateCard'
                    page:
                      $ref: '#/components/schemas/CursorPageInfo'
                  required:
                  - items
                  - page
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:57:00.000Z'
                items: []
                page:
                  hasMore: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /v1/me/watchlist/{dateId}:
    put:
      operationId: addToWatchlist
      summary: Sets a date aside.
      description: |
        **A state assignment, not a toggle.** Two submissions of the same gesture leave a single
        entry; a toggle on an unreliable network would invert the result. Returns the updated card,
        so the surface repaints without a second round trip.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      x-arthome-invalidates:
      - home:rails
      tags:
      - account
      security:
      - sessionCookie: []
        csrfToken: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/DateId'
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: The updated card.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/DateCard'
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:57:20.000Z'
                data:
                  id: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                  displayState: live
                  viewerRelations:
                    inWatchlist: true
                    reminderSet: false
                    followsArtist: false
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CsrfRefused'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
    delete:
      operationId: removeFromWatchlist
      summary: Removes a date from my list.
      description: Replayed on an already-removed entry, it **succeeds** — an idempotent deletion must not fail.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      tags:
      - account
      security:
      - sessionCookie: []
        csrfToken: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/DateId'
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: The updated card.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/DateCard'
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:57:40.000Z'
                data:
                  id: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                  displayState: live
                  viewerRelations:
                    inWatchlist: false
                    reminderSet: false
                    followsArtist: false
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CsrfRefused'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /v1/me/follows:
    get:
      operationId: listFollowedArtists
      summary: Followed artists — the "Following" page, which had no entry point.
      description: |
        **The whole page was unserved.** `/v1/me/follows/{artistId}` exposed only `PUT` and
        `DELETE`, `/v1/artists` accepted no filter on following, and `AccountScreen` carried no list.
        The only way to paint the screen was to walk `/v1/artists` in full and filter client-side —
        that is, exactly what the contract forbids elsewhere, and rightly so.

        **The home page's `followed` rail was no substitute**: it carries `DateCard`s, hence
        announced dates, whereas half of this page is made of followed artists **with no date** — and
        it has no sort, no remove-in-place, and no empty states of its own.

        The contract in fact contradicted itself: `emptyReason` carried `no_followed_artist_live`,
        **an empty state for a list no operation produced**.

        It also serves `account/faves`, of whose two collections this is the first — the second being
        `/v1/me/watchlist`.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      - catalog
      - notifications
      x-arthome-freshness: 60
      tags:
      - account
      security:
      - sessionCookie: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      - name: sort
        in: query
        schema:
          default: next_date
          type: string
          enum:
          - alpha
          - followers
          - next_date
          x-arthome-vocabulary-source: none
          x-arthome-vocabulary-reason: A sort or filter key. It is a property of THIS endpoint's list — which orders it offers — not of the domain, and adding one is an endpoint change rather than a vocabulary change.
      - name: liveOnly
        in: query
        description: '**The "Following live" section**, served rather than filtered client-side.'
        schema:
          default: false
          type: boolean
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: |
            Page of followed artists. Each carries `alertEnabled` — **following and being alerted are two
            settings** — and `nextDate` when there is one, which gives the split the screen displays
            without a call per artist.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/ArtistSummary'
                    page:
                      $ref: '#/components/schemas/CursorPageInfo'
                  required:
                  - items
                  - page
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:58:40.000Z'
                items:
                - id: 019928a0-7d31-7a10-b8c4-2f9e11a4c333
                  channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                  name: Compagnie Verticale
                  categoryId: dance-contemporary
                  followers: 4120
                  isLiveNow: true
                  followedByViewer: true
                  alertEnabled: true
                page:
                  hasMore: false
                  emptyReason: no_followed_artist
                  emptyActionCode: browse_artists
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '410':
          $ref: '#/components/responses/Gone'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /v1/me/follows/{artistId}:
    put:
      operationId: followArtist
      summary: Follows an artist.
      description: |
        **Following and being alerted are two settings.** `followArtist` is a catalogue relation; the
        alert is a flag **per followed artist** carried by `notifications` (`alertEnabled` below).
        Conflating them would make it impossible to follow an artist without being notified — and the
        mobile design shows the two separately.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      - notifications
      x-arthome-invalidates:
      - home:rails
      tags:
      - account
      security:
      - sessionCookie: []
        csrfToken: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/ArtistId'
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                alertEnabled:
                  default: false
                  type: boolean
            example:
              alertEnabled: true
      responses:
        '200':
          description: The updated artist.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ArtistSummary'
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:58:00.000Z'
                data:
                  id: 019928a0-7d31-7a10-b8c4-2f9e11a4c333
                  channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                  name: Compagnie Verticale
                  categoryId: dance-contemporary
                  followedByViewer: true
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CsrfRefused'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
    delete:
      operationId: unfollowArtist
      summary: Unfollows an artist.
      description: |
        **A state assignment, not a toggle.** Returns the updated artist, so the surface repaints
        without a second round trip. It does not touch the alert flag, which is a distinct setting
        carried by `notifications`.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - identity
      tags:
      - account
      security:
      - sessionCookie: []
        csrfToken: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/ArtistId'
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: The updated artist.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ArtistSummary'
                  required:
                  - data
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:58:20.000Z'
                data:
                  id: 019928a0-7d31-7a10-b8c4-2f9e11a4c333
                  channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                  name: Compagnie Verticale
                  categoryId: dance-contemporary
                  followedByViewer: false
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CsrfRefused'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /v1/me/reminders/{dateId}:
    put:
      operationId: setReminder
      summary: Sets a dated reminder on a date.
      description: |
        **A reminder is a dated promise.** If the date is postponed, the reminder **follows** the
        postponement; if it is cancelled, the reminder is **cancelled** and not sent into the void.
        The lead time (30 min) is a **served** domain constant, not a surface choice.
      x-arthome-maturity: provisional
      x-arthome-upstream:
      - notifications
      tags:
      - account
      security:
      - sessionCookie: []
        csrfToken: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/DateId'
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Reminder set.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        reminderSet:
                          type: boolean
                        remindAt:
                          type: string
                          format: date-time
                      additionalProperties: {}
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:59:00.000Z'
                data:
                  reminderSet: true
                  remindAt: '2026-09-21T18:30:00Z'
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CsrfRefused'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
    delete:
      operationId: clearReminder
      summary: Clears the reminder.
      description: |
        Clears the reminder. Replayed on an already-cleared reminder, it succeeds — it is queued
        offline, so it must be safe on replay.
      x-arthome-maturity: provisional
      x-arthome-upstream:
      - notifications
      tags:
      - account
      security:
      - sessionCookie: []
        csrfToken: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/DateId'
      - $ref: '#/components/parameters/IdempotencyKey'
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Reminder cleared.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        reminderSet:
                          type: boolean
                      additionalProperties: {}
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T18:59:20.000Z'
                data:
                  reminderSet: false
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/CsrfRefused'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /v1/me/saved-searches:
    get:
      operationId: listSavedSearches
      summary: My saved searches, with their new-match counter.
      description: |
        **Zero counting queries on opening.** The "new since your last visit" counter is incremented
        by the index's percolator when a new date matches, and reset to zero on read. The two other
        options would cost ten aggregations per display, for a figure whose accuracy nobody will ever
        measure.
      x-arthome-maturity: stable
      x-arthome-upstream:
      - catalog
      x-arthome-freshness: 300
      tags:
      - account
      security:
      - sessionCookie: []
      - bearerToken: []
      parameters:
      - $ref: '#/components/parameters/Surface'
      - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: The saved searches.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/EnvelopeMeta'
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/SavedSearch'
                  required:
                  - items
                  additionalProperties: {}
              example:
                servedAt: '2026-09-21T19:00:00.000Z'
                items:
[...]
