openapi: 3.1.1

info:
  title: Arthome Storefront BFF
  version: 1.0.0
  summary: Le contrat unique des trois surfaces publiques — web, mobile, téléviseur.
  description: |
    Contrat du **BFF storefront**. Il sert `storefront-web` (Next.js), `storefront-mobile`
    (React Native) et `storefront-tv` (react-native-tvos). Ces trois surfaces partagent un seul
    document : ce qui diffère entre elles est un **paramètre** (`X-Arthome-Surface`), jamais une
    forme.

    ## Ce document est généré, il ne s'écrit pas

    La source est zod, dans `@arthome/contracts` ; ce document est produit par
    `z.toJSONSchema()`. Trois conséquences qui se voient dans ce qui suit :

    - **aucune date n'est un `z.date()`** et **aucun schéma de frontière ne porte de
      `z.transform()`** : les deux sont inconvertibles. Les instants sont des chaînes
      `date-time` (RFC 3339, UTC).
    - un schéma de **requête** est converti avec `io: "input"`, un schéma de **réponse** avec
      `io: "output"`. Se tromper produit une documentation fausse.
    - le document régénéré doit être **identique** au document commité. C'est une porte de
      `definition-of-done.md`.

    ## Vocabulaires fermés, et la survie du parc

    Un vocabulaire fermé apparaît sous deux formes, et **ce n'est pas la même**.

    - en **entrée** (ce que le client envoie) : `enum` strict. Une valeur inconnue est refusée
      avec `SCHEMA_INVALID`.
    - en **sortie** (ce que le serveur rend) : `type: string` accompagné de
      `x-arthome-vocabulary`, qui énumère les valeurs connues **à titre documentaire**. Une
      surface qui reçoit une valeur absente de cette liste **la conserve brute et la traite comme
      neutre** ; elle ne rejette jamais, et surtout elle ne fait pas échouer la page entière.

    Le motif est `storefront-tv` Q12 : une version publiée aujourd'hui tourne dans des salons
    dans un an, et le jour où le catalogue gagne une 22ᵉ discipline, ces téléviseurs la
    recevront. La sévérité porte sur la **forme** — champs obligatoires, types — jamais sur le
    **membre** d'un vocabulaire.

    ## Lecture publique et lecture identifiée — deux corps, un chemin

    **Dix opérations de catalogue s'appellent sans aucune authentification**, et c'est un cas
    **nominal** : `home`, `live`, `categories`, `categories/{id}`, `artists`, `artists/{id}`,
    `dates/{id}`, `dates/{id}/availability`, `search`, `plans`. Cette surface existe pour être
    indexée — le dossier la définit par « référencement et rendu serveur décisifs » — et le robot
    d'un moteur n'a ni cookie, ni jeton porteur, ni la moindre raison d'en fabriquer un. Le **mode
    visiteur** emprunte exactement le même chemin.

    Le même chemin rend **deux corps**, et la différence est déclarée :

    | Appelée | Corps | `Cache-Control` |
    |---|---|---|
    | sans aucune authentification | **corps public** — `watchVerdict`, `viewerRelations` et `viewerProgress` sont **absents** | `public, max-age=<fraîcheur>` |
    | avec session, jeton porteur ou jeton d'appareil | corps public **plus** les trois surcouches | `private, max-age=<fraîcheur>` |

    **Le corps public est identique pour tous les appelants anonymes.** C'est ce qui le rend
    mutualisable : une fonction de rendu mise en cache ne peut lire ni cookie ni en-tête, donc
    elle est anonyme par construction, et elle peut mettre ce corps en cache sans risque. Servir
    en `public` un corps qui varie par spectateur serait **une fuite, pas une optimisation** — et
    c'est l'unique raison d'être du `Vary` déclaré sur ces dix réponses.

    **Un champ absent n'est jamais un champ nul** : la règle de projection vaut ici comme côté
    studio. Une surface qui reçoit le corps public sait qu'elle n'a pas demandé les surcouches ;
    elle ne les distingue pas d'un droit refusé.

    **L'absence de justificatif n'est jamais un `401`.** Un `401` sur ces dix chemins signifie
    qu'un justificatif a été **présenté et refusé** — expiré, malformé, mauvaise audience.

    ## Ce que toute réponse porte

    `servedAt` sur **toute** réponse ; `validUntil` dès qu'une valeur périssable est présente ;
    `lastEventSeq` sur tout modèle de lecture alimenté par un flux. Tout décompte affiché se
    calcule contre `servedAt`, **jamais** contre l'horloge du client — celle d'un téléphone
    dérive en veille, saute au changement de fuseau, et son porteur peut la régler.

    ## Erreurs

    Une seule enveloppe, jusqu'à Traefik inclus : `code`, `nature`, `params`, `traceId`. Un
    échec de validation se traduit en **code**, jamais en message anglais de zod. `nature` vaut
    `refused` (le serveur a dit non définitivement), `unavailable` (réessayer) ou
    `offline_forbidden` — cette dernière n'est **jamais émise par le serveur** : c'est la nature
    d'un refus local, produit par la surface avant tout envoi, et elle est au vocabulaire pour
    que la surface n'ait qu'une seule forme d'erreur à rendre.

    ## Pagination (D-010)

    Le storefront pagine **au curseur**, opaque, encodé en Base64 sur la clé composite
    `(created_at, id)`. Il est **bidirectionnel**, **indépendant de la taille de page** — une
    rotation d'écran ne l'invalide pas — et il vit **24 heures**. Au-delà : `410`
    `CURSOR_TOO_OLD`, qui exige un rechargement complet et le dit.

    ## Maturité

    Les points d'entrée servis par `identity`, `catalog` et `ticketing` sont **stables** :
    `oasdiff breaking` bloque toute rupture. Ceux servis par `streaming`, `chat`, `payouts` et
    `notifications` sont **provisoires** : `oasdiff` y est en avertissement. Chaque opération
    porte `x-arthome-maturity`.
  contact:
    name: Arthome — architecture
  license:
    name: UNLICENSED

servers:
  - url: https://api.arthome.fr
    description: production
  - url: https://api.staging.arthome.fr
    description: recette
  - url: http://localhost:3001
    description: développement local (docker compose)

tags:
  - name: bootstrap
    description: Amorçage, contexte du spectateur, invalidations.
  - name: discovery
    description: Accueil, direct, disciplines, artistes, recherche.
  - name: date
    description: La fiche d'une date, et ce qui s'y rattache.
  - name: commerce
    description: Places, panier, marchandise, abonnement.
  - name: playback
    description: Droit de lire, jeton, session, position de reprise.
  - name: chat
    description: Parole du spectateur pendant un direct.
  - name: pairing
    description: Appairage d'appareil (RFC 8628) — les cinq intentions.
  - name: account
    description: Compte, préférences, sécurité, données personnelles.

security:
  - sessionCookie: []
  - bearerToken: []

paths:

  # =============================================================== amorçage

  /v1/devices:
    post:
      operationId: registerDevice
      tags: [bootstrap]
      summary: Enregistre l'appareil et rend son jeton d'appareil.
      description: |
        **Appelé au premier lancement, avant toute session.** L'identité d'appareil est une notion
        du contrat, et elle est nécessaire à quatre choses que les surfaces demandent : ouvrir et
        interroger un appairage, se nommer dans « appareils connectés », être révoquée, et porter
        une limite de débit ailleurs que sur l'adresse IP — qu'un foyer derrière un NAT partage.

        Elle **n'est pas une session** et n'ouvre aucune donnée personnelle ; en particulier elle
        n'ouvre pas le canal temps réel.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind, label]
              properties:
                kind: { type: string, enum: [tv, mobile, tablet, desktop, stick, console, box] }
                label: { type: string, maxLength: 80 }
                osVersion: { type: string }
                appVersion: { type: string }
            example: { kind: tv, label: 'Téléviseur du salon', osVersion: 'tvOS 19.2', appVersion: '1.4.0' }
      responses:
        '201':
          description: Appareil enregistré. Le jeton est à conserver dans le magasin natif.
          headers:
            X-Arthome-Served-At: { $ref: '#/components/headers/ServedAt' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        required: [deviceId, deviceToken, expiresAt]
                        properties:
                          deviceId: { type: string, format: uuid }
                          deviceToken: { type: string }
                          expiresAt: { type: string, format: date-time }
              example:
                servedAt: '2026-09-21T18:02:11.004Z'
                data:
                  deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                  deviceToken: eyJhbGciOiJFUzI1NiIsImtpZCI6ImRldi0yMDI2LTA5In0
                  expiresAt: '2027-03-20T18:02:11.004Z'
        '400': { $ref: '#/components/responses/BadRequest' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/auth/sign-up:
    post:
      operationId: signUp
      tags: [account]
      summary: Crée un compte par courriel et mot de passe.
      description: |
        **Relais documenté vers `identity`, et le relais est obligatoire, pas préférable.** Trois
        raisons, dont la première vient de notre propre outillage :

        1. **zod est la source et l'OpenAPI en est généré.** Un relais transparent n'a pas de
           schéma, donc **n'apparaîtrait pas dans ce document** — les six contrats manquants
           resteraient manquants. C'est l'argument décisif ;
        2. **l'i18n par codes.** La bibliothèque d'authentification répond des phrases anglaises
           (`"Invalid email or password"`), ce que l'enveloppe d'erreur interdit. Le BFF traduit en
           **codes**, enveloppe comprise ;
        3. **la limitation de débit par `device_id`**, que la bibliothèque ne sait pas faire : ses
           plafonds sont par adresse ou par session, et un salon derrière un NAT partage son
           adresse.

        Le cookie, quand il y en a un, est posé sur le **domaine du BFF** — c'est ce qui permet au
        rendu serveur de le lire, et ce qui garde la règle critique 1 sans exception par la porte
        de l'authentification.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, mode, acceptedTermsVersion]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 12 }
                displayName: { type: string, maxLength: 80 }
                mode: { $ref: '#/components/schemas/SessionMode' }
                deviceId: { type: [string, 'null'], format: uuid }
                acceptedTermsVersion:
                  type: integer
                  description: '**Horodaté par le serveur, versionné** : un consentement sans version ni date ne vaut rien.'
            example: { email: marie@example.org, password: 'un-mot-de-passe-long', displayName: 'Marie J.', mode: cookie, acceptedTermsVersion: 3 }
      responses:
        '201':
          description: Compte créé et session ouverte, dans le mode demandé.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/SessionEstablished' } }
              example:
                servedAt: '2026-09-21T18:00:00.000Z'
                data:
                  mode: cookie
                  viewerContext:
                    deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                    signedIn: true
                    profiles: []
                    constants: { roomOpensMinutesBefore: 30, cancelDeadlineMinutesBefore: 60, scarcityThresholdBps: 8500, billboardPreviewDelaySec: 4, waitlistPriorityWindowHours: 2, chatRateLimitPerSecond: 10, reactionQuotaPerDate: 20, reminderLeadMinutes: 30, replayExpiryWarningHours: 6 }
                    labelCatalog: { locale: fr, version: 41, url: 'https://cdn.arthome.fr/i18n/storefront/fr/v41.json' }
                    taxonomyArtifact: { locale: fr, version: 12, url: 'https://cdn.arthome.fr/taxonomy/fr/v12.json' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409':
          description: '`EMAIL_TAKEN` — un **code**, pas la phrase anglaise de la bibliothèque.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
              example:
                error: { code: EMAIL_TAKEN, nature: refused, params: {}, traceId: 4bf92f3577b34da6a3ce929d0e0e4736 }
                servedAt: '2026-09-21T18:00:00.000Z'
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/auth/sign-in:
    post:
      operationId: signIn
      tags: [account]
      summary: Ouvre une session par courriel et mot de passe.
      description: |
        Même relais, même traduction en codes : `INVALID_CREDENTIALS` ne distingue **jamais** un
        courriel inconnu d'un mot de passe faux — la distinction dirait à un attaquant quels
        comptes existent.

        `TWO_FACTOR_REQUIRED` est un refus **intermédiaire**, pas un échec : il porte un
        `challengeId` à présenter à `/v1/auth/two-factor/verify`.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      x-arthome-idempotency-exemption: |
        **Seule écriture des deux contrats sans `Idempotency-Key`, et c'est délibéré.** Le régime
        d'idempotence rend la réponse d'origine **verbatim** ; sur une ouverture de session, cela
        reviendrait à **rendre un jeton sans avoir vérifié les justificatifs**. Une clé volée
        deviendrait un porteur de session.

        Les cinq autres routes d'authentification la portent, elles, parce qu'un rejeu y rend la
        réponse d'origine plutôt qu'un `410` ou un second effet — c'est la reprise sûre. Une
        connexion, non : elle doit **toujours** ré-authentifier. La protection contre le
        double-envoi est ici la limitation de débit par `device_id`, pas le magasin d'idempotence.
      security: []
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, mode]
              properties:
                email: { type: string, format: email }
                password: { type: string }
                mode: { $ref: '#/components/schemas/SessionMode' }
                deviceId: { type: [string, 'null'], format: uuid }
            example: { email: marie@example.org, password: 'un-mot-de-passe-long', mode: bearer, deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77 }
      responses:
        '200':
          description: Session ouverte, dans le mode demandé.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/SessionEstablished' } }
              example:
                servedAt: '2026-09-21T18:00:10.000Z'
                data:
                  mode: bearer
                  accessToken: sess_9f2ac1b4
                  refreshToken: refr_4d77e2
                  expiresAt: '2026-09-28T18:00:10Z'
                  viewerContext:
                    deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                    signedIn: true
                    profiles: []
                    constants: { roomOpensMinutesBefore: 30, cancelDeadlineMinutesBefore: 60, scarcityThresholdBps: 8500, billboardPreviewDelaySec: 4, waitlistPriorityWindowHours: 2, chatRateLimitPerSecond: 6, reactionQuotaPerDate: 20, reminderLeadMinutes: 30, replayExpiryWarningHours: 6 }
                    labelCatalog: { locale: fr, version: 41, url: 'https://cdn.arthome.fr/i18n/storefront/fr/v41.json' }
                    taxonomyArtifact: { locale: fr, version: 12, url: 'https://cdn.arthome.fr/taxonomy/fr/v12.json' }
        '401':
          description: '`INVALID_CREDENTIALS`, ou `TWO_FACTOR_REQUIRED` avec son `challengeId`.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
              example:
                error: { code: TWO_FACTOR_REQUIRED, nature: refused, params: { challengeId: chl_7ab2 }, traceId: 4bf92f3577b34da6a3ce929d0e0e4736 }
                servedAt: '2026-09-21T18:00:10.000Z'
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/auth/sign-out:
    post:
      operationId: signOut
      tags: [account]
      summary: Ferme la session courante — et rien d'autre.
      description: |
        **Le piège que cette opération existe pour éviter.** Le `signOut` de la bibliothèque
        d'authentification révoque **toutes** les sessions de l'utilisateur. Sur un téléviseur
        partagé à cinq profils, ce n'est jamais ce qu'on veut : on déconnecterait le salon entier.

        **Deux gestes, deux routes, jamais l'une pour l'autre** :
        - **celle-ci** ferme la session courante ;
        - **`DELETE /v1/me/device-sessions/{sessionId}`** déconnecte **un profil** d'un appareil
          (`multi-session.revoke`), les autres comptes restant connectés ;
        - **`DELETE /v1/me/devices/{deviceId}`** supprime l'appareil, toutes ses sessions **et ses
          baux de lecture**.

        **L'ordre compte en mode `bearer`** : la session est détruite côté serveur **puis** le
        client efface son magasin natif. Effacer le magasin n'est pas révoquer. En mode `cookie`,
        le cookie est effacé **avec exactement les attributs qui l'ont posé** — sans quoi il n'est
        pas effacé.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Session close. Rejouée, elle réussit.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data: { type: object, properties: { signedOut: { type: boolean } } }
              example:
                servedAt: '2026-09-21T23:00:00.000Z'
                data: { signedOut: true }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/auth/forget-password:
    post:
      operationId: requestPasswordReset
      tags: [account]
      summary: Demande un lien de réinitialisation.
      description: |
        **Répond toujours `202`, que le compte existe ou non.** Distinguer les deux dirait à un
        attaquant quels courriels sont inscrits.

        **Le lien du courriel pointe la surface, jamais l'API** — `arthome.fr/reset?token=…` — et
        donc **par produit et par langue**. Le défaut de la bibliothèque le construit depuis sa
        propre adresse de base et mènerait la personne sur une API.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                locale: { type: string, examples: [fr] }
            example: { email: marie@example.org, locale: fr }
      responses:
        '202':
          description: Demande prise en compte — la réponse est la même dans les deux cas.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data: { type: object, properties: { accepted: { type: boolean } } }
              example:
                servedAt: '2026-09-21T18:01:00.000Z'
                data: { accepted: true }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/auth/reset-password:
    post:
      operationId: resetPassword
      tags: [account]
      summary: Pose un nouveau mot de passe depuis un jeton de réinitialisation.
      description: |
        **N'ouvre pas de session.** La personne se reconnecte, ce qui garantit que le nouveau mot
        de passe fonctionne et évite qu'un lien de courriel devienne un porteur de session.
        Le jeton est à usage unique et de courte durée.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token: { type: string }
                password: { type: string, minLength: 12 }
            example: { token: rst_9f2ac1, password: 'un-nouveau-mot-de-passe' }
      responses:
        '200':
          description: Mot de passe changé. **Toutes les autres sessions sont révoquées** — un mot de passe changé après un vol doit fermer la porte.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data: { type: object, properties: { changed: { type: boolean }, otherSessionsRevoked: { type: integer } } }
              example:
                servedAt: '2026-09-21T18:02:00.000Z'
                data: { changed: true, otherSessionsRevoked: 3 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '410': { $ref: '#/components/responses/Gone' }

  /v1/auth/social/{provider}/start:
    post:
      operationId: startSocialSignIn
      tags: [account]
      summary: Démarre une connexion sociale — les surfaces ne parlent jamais au fournisseur.
      description: |
        **Le client OAuth est confidentiel et côté serveur.** Aucune application n'embarque de
        secret : c'est la seule forme défendable sur un binaire distribué, et la redirection est
        enregistrée **une fois par fournisseur**, sur le domaine du BFF.

        **Le lien profond de retour ne porte jamais le jeton.** Il ne porte qu'un **état opaque à
        usage unique**, que l'application échange ensuite contre son jeton en TLS direct avec le
        BFF (`/v1/auth/exchange`). L'URL de retour transite par le système, peut être journalisée,
        et peut être ouverte par une autre application.

        **Par surface** : les navigateurs suivent une redirection ordinaire ; les coquilles
        natives ouvrent le **navigateur système**, jamais leur WebView, et reviennent par lien
        universel. **Le téléviseur ne fait pas d'OAuth** : il passe par l'appairage, intention
        `signin`.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: provider
          in: path
          required: true
          schema: { type: string, enum: [google, facebook] }
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mode]
              properties:
                mode: { $ref: '#/components/schemas/SessionMode' }
                deviceId: { type: [string, 'null'], format: uuid }
                returnPath:
                  type: [string, 'null']
                  description: |
                    Chemin **relatif** de retour dans la surface. Une adresse absolue est refusée :
                    la liste d'autorisation est faite de **chaînes littérales**, jamais d'un motif.
            example: { mode: bearer, deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77, returnPath: /compte }
      responses:
        '200':
          description: L'adresse d'autorisation à ouvrir, et l'état opaque qui reviendra.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        required: [authorizationUrl, state, expiresAt]
                        properties:
                          authorizationUrl: { type: string, format: uri }
                          state: { type: string, description: '**Opaque, à usage unique, de courte durée.** Il ne porte rien de signifiant.' }
                          expiresAt: { type: string, format: date-time }
              example:
                servedAt: '2026-09-21T18:03:00.000Z'
                data:
                  authorizationUrl: 'https://api.arthome.fr/v1/auth/social/google/redirect?state=ott_9f2ac1'
                  state: ott_9f2ac1
                  expiresAt: '2026-09-21T18:13:00Z'
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/auth/exchange:
    post:
      operationId: exchangeOneTimeToken
      tags: [account]
      summary: Échange l'état opaque du retour contre une session.
      description: |
        **C'est ce qui rend le parcours rejouable si le système tue l'application pendant le
        détour** : l'état d'attente vit côté serveur, pas en mémoire d'application. Au retour, le
        lien profond dit **où aller**, et cet échange dit **ce qui a changé**.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state, mode]
              properties:
                state: { type: string }
                mode: { $ref: '#/components/schemas/SessionMode' }
                deviceId: { type: [string, 'null'], format: uuid }
            example: { state: ott_9f2ac1, mode: bearer, deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77 }
      responses:
        '200':
          description: Session ouverte dans le mode demandé.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/SessionEstablished' } }
              example:
                servedAt: '2026-09-21T18:03:40.000Z'
                data:
                  mode: bearer
                  accessToken: sess_4d77e2
                  expiresAt: '2026-09-28T18:03:40Z'
                  viewerContext:
                    deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                    signedIn: true
                    profiles: []
                    constants: { roomOpensMinutesBefore: 30, cancelDeadlineMinutesBefore: 60, scarcityThresholdBps: 8500, billboardPreviewDelaySec: 4, waitlistPriorityWindowHours: 2, chatRateLimitPerSecond: 6, reactionQuotaPerDate: 20, reminderLeadMinutes: 30, replayExpiryWarningHours: 6 }
                    labelCatalog: { locale: fr, version: 41, url: 'https://cdn.arthome.fr/i18n/storefront/fr/v41.json' }
                    taxonomyArtifact: { locale: fr, version: 12, url: 'https://cdn.arthome.fr/taxonomy/fr/v12.json' }
        '410': { $ref: '#/components/responses/Gone' }

  /v1/auth/password:
    patch:
      operationId: changePassword
      tags: [account]
      summary: Change le mot de passe depuis le compte.
      description: |
        **Le mot de passe courant est exigé**, et ce n'est pas une formalité : sans lui, une
        session volée suffirait à verrouiller le compte de son propriétaire.

        **Les autres sessions sont révoquées** — c'est le geste qu'on fait quand on soupçonne un
        vol, et le laisser sans effet sur les autres porteurs le viderait de son sens. La session
        courante survit : on ne se déconnecte pas soi-même en changeant son mot de passe.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword: { type: string }
                newPassword: { type: string, minLength: 12 }
                revokeOtherSessions: { type: boolean, default: true }
            example: { currentPassword: 'ancien-mot-de-passe', newPassword: 'un-nouveau-mot-de-passe' }
      responses:
        '200':
          description: Mot de passe changé.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data: { type: object, properties: { changed: { type: boolean }, otherSessionsRevoked: { type: integer } } }
              example:
                servedAt: '2026-09-21T18:57:00.000Z'
                data: { changed: true, otherSessionsRevoked: 2 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/auth/two-factor:
    post:
      operationId: enableTwoFactor
      tags: [account]
      summary: Active la double authentification et rend les codes de secours.
      description: |
        **Les codes de secours ne sont rendus qu'ici, une seule fois.** Ils ne sont jamais relus :
        le serveur n'en garde que des empreintes. Une opération qui saurait les redire saurait les
        lire, et ce ne serait plus un second facteur.

        La double authentification est une **précondition** du transfert de propriété d'une
        chaîne côté studio : le contrat le refuse sans elle.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string, description: Réauthentification — c'est une opération sensible. }
            example: { password: 'un-mot-de-passe-long' }
      responses:
        '201':
          description: Secret à enrôler et codes de secours, rendus **une seule fois**.
          headers:
            Cache-Control: { schema: { type: string, const: no-store } }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        required: [otpauthUri, backupCodes]
                        properties:
                          otpauthUri: { type: string }
                          backupCodes: { type: array, items: { type: string } }
              example:
                servedAt: '2026-09-21T18:58:00.000Z'
                data:
                  otpauthUri: 'otpauth://totp/Arthome:marie%40example.org?secret=JBSWY3DP&issuer=Arthome'
                  backupCodes: ['7K2M-9QP4', 'X3N8-2VTR']
        '401': { $ref: '#/components/responses/Unauthorized' }
    delete:
      operationId: disableTwoFactor
      tags: [account]
      summary: Désactive la double authentification.
      description: '**Réauthentification exigée** : désactiver un second facteur est exactement ce qu''un voleur de session tenterait en premier.'
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string }
            example: { password: 'un-mot-de-passe-long' }
      responses:
        '200':
          description: Double authentification désactivée.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data: { type: object, properties: { twoFactorEnabled: { type: boolean } } }
              example:
                servedAt: '2026-09-21T18:58:30.000Z'
                data: { twoFactorEnabled: false }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/auth/two-factor/verify:
    post:
      operationId: verifyTwoFactor
      tags: [account]
      summary: Répond au défi de double authentification, et ouvre la session.
      description: |
        Suite de `TWO_FACTOR_REQUIRED`. Le `challengeId` est **de courte durée et à usage
        unique** ; un code de secours consommé ne se rejoue pas.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challengeId, code, mode]
              properties:
                challengeId: { type: string }
                code: { type: string }
                mode: { $ref: '#/components/schemas/SessionMode' }
                deviceId: { type: [string, 'null'], format: uuid }
            example: { challengeId: chl_7ab2, code: '318204', mode: cookie }
      responses:
        '200':
          description: Session ouverte, dans le mode demandé.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/SessionEstablished' } }
              example:
                servedAt: '2026-09-21T18:00:25.000Z'
                data:
                  mode: cookie
                  viewerContext:
                    deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                    signedIn: true
                    profiles: []
                    constants: { roomOpensMinutesBefore: 30, cancelDeadlineMinutesBefore: 60, scarcityThresholdBps: 8500, billboardPreviewDelaySec: 4, waitlistPriorityWindowHours: 2, chatRateLimitPerSecond: 10, reactionQuotaPerDate: 20, reminderLeadMinutes: 30, replayExpiryWarningHours: 6 }
                    labelCatalog: { locale: fr, version: 41, url: 'https://cdn.arthome.fr/i18n/storefront/fr/v41.json' }
                    taxonomyArtifact: { locale: fr, version: 12, url: 'https://cdn.arthome.fr/taxonomy/fr/v12.json' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '410': { $ref: '#/components/responses/Gone' }

  /v1/me/passkeys:
    post:
      operationId: addPasskey
      tags: [account]
      summary: Enrôle une clé d'accès.
      description: |
        Rend les options d'enrôlement produites par le serveur ; la surface les passe à l'API du
        navigateur ou du système, puis renvoie l'attestation à `PUT`. **Le secret ne quitte jamais
        le matériel.**
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string, maxLength: 80 }
            example: { label: 'MacBook de Marie' }
      responses:
        '201':
          description: Options d'enrôlement, à usage unique.
          headers:
            Cache-Control: { schema: { type: string, const: no-store } }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        properties:
                          registrationOptions: { type: object, additionalProperties: true }
                          expiresAt: { type: string, format: date-time }
              example:
                servedAt: '2026-09-21T18:59:00.000Z'
                data:
                  registrationOptions: { challenge: 'k7M2pQ', rp: { id: arthome.fr, name: Arthome } }
                  expiresAt: '2026-09-21T19:04:00Z'
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/me/passkeys/{passkeyId}:
    delete:
      operationId: removePasskey
      tags: [account]
      summary: Retire une clé d'accès.
      description: '**Refusée si c''est le dernier justificatif du compte** (`LAST_CREDENTIAL`) : un compte sans aucun moyen de connexion est un compte perdu.'
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      parameters:
        - name: passkeyId
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Clé retirée.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data: { type: object, properties: { removed: { type: boolean } } }
              example:
                servedAt: '2026-09-21T18:59:30.000Z'
                data: { removed: true }
        '409': { $ref: '#/components/responses/Conflict' }

  /v1/viewer-context:
    get:
      operationId: getViewerContext
      tags: [bootstrap]
      summary: L'amorçage — le budget entier de l'écran de démarrage.
      description: |
        **Un seul appel.** Profils de l'appareil, droits, préférences, constantes de domaine,
        version du catalogue de libellés et de la taxonomie. Les libellés eux-mêmes viennent de
        l'instantané embarqué au build : le contrôle de version **ne bloque jamais** le premier
        rendu.

        Si cet appel échoue, la surface doit quand même afficher un message **lisible** — pas un
        code brut, pas un écran vide. C'est ce qui rend l'instantané embarqué obligatoire et pas
        seulement souhaitable.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      x-arthome-freshness: 300
      security:
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/ViewerTimezone'
      responses:
        '200':
          description: Contexte du spectateur.
          headers:
            X-Arthome-Served-At: { $ref: '#/components/headers/ServedAt' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data: { $ref: '#/components/schemas/ViewerContext' }
              example:
                servedAt: '2026-09-21T18:02:12.400Z'
                data:
                  deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                  signedIn: true
                  currentProfileId: 019928f4-2a11-7000-8000-000000000001
                  profiles:
                    - { id: 019928f4-2a11-7000-8000-000000000001, name: Marie, kind: adult }
                  plan: { tier: pass, state: active, seatDiscountBps: 1000, concurrentStreamsAllowed: 1 }
                  constants:
                    roomOpensMinutesBefore: 30
                    cancelDeadlineMinutesBefore: 60
                    scarcityThresholdBps: 8500
                    billboardPreviewDelaySec: 4
                    waitlistPriorityWindowHours: 2
                    chatRateLimitPerSecond: 2
                    chatCatchUpMessages: 20
                    reactionQuotaPerDate: 20
                    reminderLeadMinutes: 30
                    replayExpiryWarningHours: 6
                    previewSecondsTotal: 300
                    searchExactTotalLimit: 10000
                    creditDelayCode: refund_delay_business_days_3_5
                  labelCatalog: { locale: fr, version: 41, url: 'https://cdn.arthome.fr/i18n/storefront/fr/v41.json' }
                  taxonomyArtifact: { locale: fr, version: 12, url: 'https://cdn.arthome.fr/taxonomy/fr/v12.json' }
                  realtime: { namespace: /storefront, pulseIntervalSec: 5 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/changes:
    get:
      operationId: listChanges
      tags: [bootstrap]
      summary: Les invalidations survenues depuis un instant — pas les données.
      description: |
        **Une requête au lieu de douze.** Au retour au premier plan, toutes les lectures observées
        se revalident en même temps ; un écran de compte en affiche une demi-douzaine, une page de
        catégorie autant. Refuser cette rafale, c'est refuser l'ouverture de l'application.

        C'est aussi le chemin par lequel le storefront apprend ce qu'il **n'a pas causé** — Kafka
        étant interdit hors inter-services, c'est le seul possible. Pour le rendu serveur de Next,
        les mêmes étiquettes alimentent `revalidateTag` : elles sont **nommées par le contrat**,
        jamais inventées par une surface.
      x-arthome-maturity: stable
      x-arthome-upstream: [realtime]
      # Ce flux n'interroge AUCUN service : il lit le tampon de reprise Redis que la passerelle
      # temps réel tient déjà par salle (30 min / 5 000 événements). C'est le tirage HTTP du même
      # flux que le canal pousse. Le déclarer sur quatre services décrivait une composition qui
      # n'a pas lieu, et l'aurait fait compter comme un écran à quatre appels.
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - name: since
          in: query
          required: true
          description: Le `servedAt` de la dernière réponse connue du client.
          schema: { type: string, format: date-time }
        - name: scope
          in: query
          required: false
          schema: { type: string, enum: [profile, device] , default: profile }
      responses:
        '200':
          description: Liste d'invalidations.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data: { $ref: '#/components/schemas/ChangeFeed' }
              example:
                servedAt: '2026-09-21T20:44:02.010Z'
                data:
                  invalidated: ['date:019928a0-7d31-7a10-b8c4-2f9e11a4c001', 'account:tickets']
                  complete: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # =============================================================== découverte

  /v1/home:
    get:
      operationId: getHomeScreen
      tags: [discovery]
      summary: Billboard et rangées, composés et ordonnés par le serveur.
      description: |
        **Un appel.** Dix à treize rangées, six à huit cartes visibles chacune, curseur par
        rangée : 60 à 100 cartes, de l'ordre de 50 à 90 Ko bruts, sous 15 Ko une fois compressés.

        Le BFF compose ce modèle avec **trois surcouches par spectateur, groupées par lot
        d'identifiants** — jamais un appel par carte. En régime établi, le cache Redis par profil
        (TTL 30 s) ramène l'écran à un ou deux appels internes.

        **Lecture publique.** Appelée **sans aucune authentification**, cette opération rend le
        **corps public** — identique pour tous les appelants anonymes, donc mutualisable dans un
        cache partagé. Les trois surcouches par spectateur (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) sont alors **absentes**, jamais nulles. Appelée avec une session ou un
        jeton porteur, elle rend le corps public **plus** les surcouches, et devient privée.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing, identity, streaming]
      security:
        # **Lecture publique.** L'absence totale d'authentification est un cas NOMINAL, pas une
        # erreur : cette lecture est la face indexable du produit, et le robot d'un moteur n'a ni
        # cookie, ni jeton porteur, ni moyen de s'en fabriquer un. Le mode visiteur emprunte le
        # même chemin. Voir « Lecture publique et lecture identifiée » en tête de document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 60
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/ViewerTimezone'
      responses:
        '200':
          description: Accueil.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data: { $ref: '#/components/schemas/HomeScreen' }
              example:
                servedAt: '2026-09-21T18:02:13.900Z'
                validUntil: '2026-09-21T18:03:13.900Z'
                lastEventSeq: 918233
                degraded: []
                data:
                  billboard:
                    previewStartsAfterSec: 4
                    date:
                      id: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                      showId: 019928a0-7d31-7a10-b8c4-2f9e11a4c111
                      channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                      slug: nuit-blanche-2026-09-21
                      canonicalUrl: 'https://arthome.fr/fr/d/nuit-blanche-2026-09-21'
                      title: Nuit blanche
                      startsAt: '2026-09-21T19:00:00Z'
                      venueClock: { venueTimezone: Europe/Paris, venueUtcOffsetMin: 120 }
                      runtimeMin: 95
                      roomOpensAt: '2026-09-21T18:30:00Z'
                      displayState: live
                      displayStateValidUntil: '2026-09-21T20:35:00Z'
                      replay: { policy: included, windowHours: 72 }
                      rights: { scope: worldwide, blackoutCountries: [] }
                      media: { wide: [], poster: [] }
                      viewers: 1842
                  rails:
                    - id: resume
                      titleCode: home.rail.resume
                      kind: resume
                      items: []
                      nextCursor: null
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/live:
    get:
      operationId: getLiveScreen
      tags: [discovery]
      summary: Le direct du moment et la grille du soir, groupée à l'heure locale du spectateur.
      description: |
        **Un appel**, et le regroupement horaire est **serveur** : il dépend du fuseau du
        spectateur, que la surface envoie en en-tête. Un groupement côté client serait groupé cinq
        fois différemment, et le rendu serveur de Next ne connaît pas le fuseau du visiteur.

        **Lecture publique.** Appelée **sans aucune authentification**, cette opération rend le
        **corps public** — identique pour tous les appelants anonymes, donc mutualisable dans un
        cache partagé. Les trois surcouches par spectateur (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) sont alors **absentes**, jamais nulles. Appelée avec une session ou un
        jeton porteur, elle rend le corps public **plus** les surcouches, et devient privée.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing, streaming, identity]
      security:
        # **Lecture publique.** L'absence totale d'authentification est un cas NOMINAL, pas une
        # erreur : cette lecture est la face indexable du produit, et le robot d'un moteur n'a ni
        # cookie, ni jeton porteur, ni moyen de s'en fabriquer un. Le mode visiteur emprunte le
        # même chemin. Voir « Lecture publique et lecture identifiée » en tête de document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 15
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/ViewerTimezone'
      responses:
        '200':
          description: Grille du soir.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data: { $ref: '#/components/schemas/LiveScreen' }
              example:
                servedAt: '2026-09-21T18:02:14.210Z'
                validUntil: '2026-09-21T18:02:29.210Z'
                data:
                  slots:
                    - localHourLabelKey: '20'
                      startsAt: '2026-09-21T18:00:00Z'
                      dates: []
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/categories:
    get:
      operationId: listCategories
      tags: [discovery]
      summary: Les 21 disciplines, avec famille, rang, effectifs.
      description: |
        **Un appel, pas un par tuile.** Le rang éditorial fait autorité et **aucune surface ne
        réordonne**. La taxonomie complète, elle, n'est pas ici : c'est un **artefact versionné
        immuable** servi par le CDN, référencé dans `ViewerContext`.

        **Lecture publique.** Appelée **sans aucune authentification**, cette opération rend le
        **corps public** — identique pour tous les appelants anonymes, donc mutualisable dans un
        cache partagé. Les trois surcouches par spectateur (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) sont alors **absentes**, jamais nulles. Appelée avec une session ou un
        jeton porteur, elle rend le corps public **plus** les surcouches, et devient privée.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog]
      security:
        # **Lecture publique.** L'absence totale d'authentification est un cas NOMINAL, pas une
        # erreur : cette lecture est la face indexable du produit, et le robot d'un moteur n'a ni
        # cookie, ni jeton porteur, ni moyen de s'en fabriquer un. Le mode visiteur emprunte le
        # même chemin. Voir « Lecture publique et lecture identifiée » en tête de document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 300
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Les disciplines.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [items]
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/CategoryTile' } }
              example:
                servedAt: '2026-09-21T18:02:15.000Z'
                items:
                  - { id: dance-contemporary, universe: stage, rank: 3, datesCount: 84, liveCount: 2, featured: true }
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/categories/{categoryId}:
    get:
      operationId: getCategoryScreen
      tags: [discovery]
      summary: Une discipline — hero, sous-genres, cinq sections bornées, facettes.
      description: |
        **Un appel.** La vue d'ensemble **ne se pagine pas** : elle se borne (8 par section). Les
        quatre autres sections portent chacune leur curseur.

        **Lecture publique.** Appelée **sans aucune authentification**, cette opération rend le
        **corps public** — identique pour tous les appelants anonymes, donc mutualisable dans un
        cache partagé. Les trois surcouches par spectateur (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) sont alors **absentes**, jamais nulles. Appelée avec une session ou un
        jeton porteur, elle rend le corps public **plus** les surcouches, et devient privée.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing, identity, streaming]
      security:
        # **Lecture publique.** L'absence totale d'authentification est un cas NOMINAL, pas une
        # erreur : cette lecture est la face indexable du produit, et le robot d'un moteur n'a ni
        # cookie, ni jeton porteur, ni moyen de s'en fabriquer un. Le mode visiteur emprunte le
        # même chemin. Voir « Lecture publique et lecture identifiée » en tête de document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 300
      parameters:
        - $ref: '#/components/parameters/CategoryId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - name: section
          in: query
          description: |
            **Étendre une seule section.** Sans ce paramètre, la réponse sert les cinq sections
            bornées ; avec lui, elle sert cette section-là, paginée. C'est ce qui consomme les
            `sections[].nextCursor` que la réponse portait déjà — quatre curseurs servis et aucun
            consommateur, c'est-à-dire quatre boutons « Voir plus » qui ne menaient nulle part.
          schema: { type: string, enum: [overview, live, upcoming, replays, artists] }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: subGenreId
          in: query
          description: Identifiant **stable** de sous-genre, jamais un indice de tableau.
          schema: { type: string }
        - name: filters
          in: query
          description: |
            Critères, dans la **même grammaire normalisée** que `/v1/search` et que
            `SavedSearch.criteria`. Le panneau de filtres propre à la discipline — tarif, date,
            statut, bientôt complet, en promotion — s'y pose.
          schema: { $ref: '#/components/schemas/SearchCriteria' }
        - name: sort
          in: query
          schema: { type: string, enum: [relevance, soon, popularity, price_asc, price_desc], default: soon }
      responses:
        '200':
          description: La discipline.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data: { $ref: '#/components/schemas/CategoryScreen' }
              example:
                servedAt: '2026-09-21T18:02:16.000Z'
                data:
                  categoryId: dance-contemporary
                  subGenres: [{ id: dance-contemporary-repertoire, rank: 1 }]
                  sections: [{ id: overview, titleCode: category.section.overview, items: [], nextCursor: null }]
                  facets: []
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/artists:
    get:
      operationId: listArtists
      tags: [discovery]
      summary: L'annuaire des artistes, au curseur.
      description: |
        Deux tris seulement, et ils sont **servis** : alphabétique et par nombre d'abonnés.
        Le compteur d'abonnés vient d'une **seule projection**, pour qu'il ne diffère jamais entre la
        fiche et la liste.

        **Lecture publique.** Appelée **sans aucune authentification**, cette opération rend le
        **corps public** — identique pour tous les appelants anonymes, donc mutualisable dans un
        cache partagé. Les trois surcouches par spectateur (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) sont alors **absentes**, jamais nulles. Appelée avec une session ou un
        jeton porteur, elle rend le corps public **plus** les surcouches, et devient privée.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, identity]
      security:
        # **Lecture publique.** L'absence totale d'authentification est un cas NOMINAL, pas une
        # erreur : cette lecture est la face indexable du produit, et le robot d'un moteur n'a ni
        # cookie, ni jeton porteur, ni moyen de s'en fabriquer un. Le mode visiteur emprunte le
        # même chemin. Voir « Lecture publique et lecture identifiée » en tête de document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 300
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/CursorDirection'
        - $ref: '#/components/parameters/Limit'
        - name: categoryId
          in: query
          schema: { type: string }
        - name: sort
          in: query
          schema: { type: string, enum: [alpha, followers], default: alpha }
        - name: liveOnly
          in: query
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: Page d'artistes.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [items, page]
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/ArtistSummary' } }
                      page: { $ref: '#/components/schemas/CursorPageInfo' }
              example:
                servedAt: '2026-09-21T18:02:17.000Z'
                items: []
                page: { hasMore: false, nextCursor: null, prevCursor: null, approximateTotal: 213, totalIsLowerBound: false, emptyReason: no_match_with_filters, emptyActionCode: clear_filters }
        '410': { $ref: '#/components/responses/Gone' }

  /v1/artists/{artistId}:
    get:
      operationId: getArtistDetail
      tags: [discovery]
      summary: La fiche d'un artiste, ses dates et ses rediffusions dans la même réponse.
      description: |
        **Un appel** : la fiche, les dates à venir, les dates passées, les rediffusions et la boutique
        dans la même réponse. Une fiche servie en quatre appels se peindrait en quatre temps, ce
        qu'un écran à trois mètres rend illisible.

        **Lecture publique.** Appelée **sans aucune authentification**, cette opération rend le
        **corps public** — identique pour tous les appelants anonymes, donc mutualisable dans un
        cache partagé. Les trois surcouches par spectateur (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) sont alors **absentes**, jamais nulles. Appelée avec une session ou un
        jeton porteur, elle rend le corps public **plus** les surcouches, et devient privée.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing, identity, streaming]
      security:
        # **Lecture publique.** L'absence totale d'authentification est un cas NOMINAL, pas une
        # erreur : cette lecture est la face indexable du produit, et le robot d'un moteur n'a ni
        # cookie, ni jeton porteur, ni moyen de s'en fabriquer un. Le mode visiteur emprunte le
        # même chemin. Voir « Lecture publique et lecture identifiée » en tête de document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 300
      parameters:
        - $ref: '#/components/parameters/ArtistId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: La fiche.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data: { $ref: '#/components/schemas/ArtistDetail' }
              example:
                servedAt: '2026-09-21T18:02:18.000Z'
                data:
                  id: 019928a0-7d31-7a10-b8c4-2f9e11a4c333
                  channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                  name: Compagnie Verticale
                  categoryId: dance-contemporary
                  followers: 4120
                  isLiveNow: true
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/search:
    get:
      operationId: search
      tags: [discovery]
      summary: Recherche plein texte, facettes comptées sur la requête courante, regroupement par spectacle.
      description: |
        **L'unité paginée est le spectacle** pour `best`, `lives` et `replays` ; l'onglet
        `artists` pagine des artistes. Le tri « bientôt » est celui de la **date
        représentative**, et le filtre « ce week-end » s'applique **avant** le regroupement.

        Les effectifs de facettes sont calculés sur la requête courante et rendus **dans la même
        réponse** : pas de second appel. L'effectif total est **approximatif et borné** — exact
        jusqu'à 10 000, « au moins 10 000 » au-delà, et `totalIsLowerBound` le dit.

        **Budget ≤ 200 ms** : le clavier à l'écran d'un téléviseur produit un caractère par
        pression et les résultats vivent en direct ; au-delà, le retour visuel de la frappe
        décroche. La requête est **annulable** — le client ferme la socket, le serveur abandonne.

        **Lecture publique.** Appelée **sans aucune authentification**, cette opération rend le
        **corps public** — identique pour tous les appelants anonymes, donc mutualisable dans un
        cache partagé. Les trois surcouches par spectateur (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) sont alors **absentes**, jamais nulles. Appelée avec une session ou un
        jeton porteur, elle rend le corps public **plus** les surcouches, et devient privée.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing, identity, streaming]
      security:
        # **Lecture publique.** L'absence totale d'authentification est un cas NOMINAL, pas une
        # erreur : cette lecture est la face indexable du produit, et le robot d'un moteur n'a ni
        # cookie, ni jeton porteur, ni moyen de s'en fabriquer un. Le mode visiteur emprunte le
        # même chemin. Voir « Lecture publique et lecture identifiée » en tête de document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 60
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: q
          in: query
          schema: { type: string, minLength: 2 }
        - name: tab
          in: query
          schema: { type: string, enum: [best, lives, replays, artists], default: best }
        - name: sort
          in: query
          description: '**Cinq tris**, pas quatre : `price_desc` existe dans la conception, au même titre que les autres.'
          schema: { type: string, enum: [relevance, soon, popularity, price_asc, price_desc], default: relevance }
        - name: filters
          in: query
          description: |
            Critères, dans la grammaire **publiée** ci-contre. Ce paramètre était une chaîne libre :
            sur le paramètre le plus important de l'écran le plus utilisé, cela signifiait que zod
            ne validait rien et que trois surfaces le sérialiseraient de trois façons — alors qu'une
            forme normalisée **existe déjà**, puisque `normalizeSearchCriteria()` en produit la
            signature dans `@arthome/core`. C'est cette forme-là qui est publiée, et c'est la même
            que `SavedSearch.criteria`.
          schema: { $ref: '#/components/schemas/SearchCriteria' }
      responses:
        '200':
          description: Résultats, facettes et filtres structurés.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [page, facets]
                    properties:
                      groups: { type: array, items: { $ref: '#/components/schemas/ShowGroup' } }
                      artists: { type: array, items: { $ref: '#/components/schemas/ArtistSummary' } }
                      facets: { type: array, items: { $ref: '#/components/schemas/Facet' } }
                      structuredFilters: { type: array, items: { $ref: '#/components/schemas/StructuredFilter' } }
                      page: { $ref: '#/components/schemas/CursorPageInfo' }
              example:
                servedAt: '2026-09-21T18:02:19.000Z'
                groups: []
                facets: [{ facetId: category, values: [{ id: dance-contemporary, count: 42 }] }]
                structuredFilters: [{ filterId: price, kind: money_range, min: 0, max: 9000 }]
                page: { hasMore: true, nextCursor: eyJjIjoiMjAyNi0wOS0yMVQyMDowMDowMFoifQ, approximateTotal: 10000, totalIsLowerBound: true }
        '400': { $ref: '#/components/responses/BadRequest' }
        '410': { $ref: '#/components/responses/Gone' }

  /v1/plans:
    get:
      operationId: listPlans
      tags: [commerce]
      summary: Les trois formules, leurs ouvertures et la remise sur les places.
      description: |
        Trois formules, leurs neuf ouvertures possibles, la remise sur les places et le plafond
        d'écrans simultanés. **Le plafond est publié ici et appliqué par `streaming`** : c'est une
        contrainte d'exécution, pas une ligne de marketing.

        **Lecture publique.** Appelée **sans aucune authentification**, cette opération rend le
        **corps public** — identique pour tous les appelants anonymes, donc mutualisable dans un
        cache partagé. Les trois surcouches par spectateur (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) sont alors **absentes**, jamais nulles. Appelée avec une session ou un
        jeton porteur, elle rend le corps public **plus** les surcouches, et devient privée.
      x-arthome-maturity: stable
      x-arthome-upstream: [ticketing]
      security:
        # **Lecture publique.** L'absence totale d'authentification est un cas NOMINAL, pas une
        # erreur : cette lecture est la face indexable du produit, et le robot d'un moteur n'a ni
        # cookie, ni jeton porteur, ni moyen de s'en fabriquer un. Le mode visiteur emprunte le
        # même chemin. Voir « Lecture publique et lecture identifiée » en tête de document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 300
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Les formules.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [items]
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/Plan' } }
              example:
                servedAt: '2026-09-21T18:02:20.000Z'
                items:
                  - tier: pass
                    price: { amountMinor: 1200, currencyCode: EUR }
                    opens: [browse, trailers, free-dates, replays, one-live-month]
                    seatDiscountBps: 1000
                    concurrentStreamsAllowed: 1
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/replays:
    get:
      operationId: listReplays
      tags: [discovery]
      summary: Les rediffusions en ligne, celles qui expirent d'abord — page de découverte, publique.
      description: |
        **C'est une page de découverte, pas « Mes rediffusions ».** La distinction n'est pas
        cosmétique : « Rediffusions » est une entrée permanente de la barre latérale d'un
        téléviseur, au même titre que « En direct » ou « Catégories », et elle n'est pas préfixée
        « Mes » — contrairement à « Mes places » et « Ma liste », qui le sont. Son contenu est le
        catalogue des rediffusions **en vente ou incluses**, y compris celles qu'on n'a jamais
        vues : c'est tout son intérêt.

        Trois raisons pour lesquelles les chemins existants ne s'y substituaient pas :
        `/v1/me/replays` rend ce qu'on **détient** et répond `401` à un visiteur — or sur un
        téléviseur la barre latérale est toujours là, et masquer une entrée selon la session fait
        changer le menu de taille sous le focus, ce qui casse la mémoire de focus ;
        `/v1/search?tab=replays` exige `q` d'au moins deux caractères, donc n'a pas de recherche
        vide ; et son unité paginée est le **spectacle**, alors qu'une fenêtre de rediffusion
        expire **par date** — regrouper par spectacle rend le tri « qui expire d'abord »
        inexprimable.

        **Lecture publique**, comme les neuf autres opérations de catalogue.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing, streaming]
      x-arthome-freshness: 60
      security:
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: sort
          in: query
          description: '`expiring_first` est le défaut, et c''est le tri que la page annonce.'
          schema: { type: string, enum: [expiring_first, recent, popularity], default: expiring_first }
        - name: categoryId
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Page de rediffusions en ligne, triée par fenêtre restante croissante.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [items, page]
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/DateCard' } }
                      page: { $ref: '#/components/schemas/CursorPageInfo' }
              example:
                servedAt: '2026-09-21T18:02:40.000Z'
                validUntil: '2026-09-21T18:03:40.000Z'
                items: []
                page: { hasMore: false, emptyReason: no_replay_available, emptyActionCode: browse_catalog }
        '410': { $ref: '#/components/responses/Gone' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/rails/{railId}:
    get:
      operationId: extendRail
      tags: [discovery]
      summary: Étend une rangée d'accueil — le consommateur de `Rail.nextCursor`.
      description: |
        `Rail.nextCursor` était servi et **aucune opération ne le consommait**. Une rangée s'étend,
        elle ne se pagine pas à l'écran : le curseur sert à ajouter des éléments à droite quand le
        focus atteint le bord, pas à changer de page.

        La composition et l'ordre restent **serveur** — la surface ne filtre jamais le catalogue.

        **Lecture publique**, comme la rangée dont elle prolonge le contenu.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing, identity, streaming]
      x-arthome-freshness: 60
      security:
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      parameters:
        - name: railId
          in: path
          required: true
          description: L'`id` porté par la rangée, jamais une chaîne fabriquée par la surface.
          schema: { type: string }
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: La suite de la rangée.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/Rail' } }
              example:
                servedAt: '2026-09-21T18:02:45.000Z'
                data:
                  id: cat-dance-contemporary
                  titleCode: home.rail.category
                  kind: category
                  itemKind: date
                  cardForm: wide
                  items: []
                  total: 84
                  totalIsLowerBound: false
                  nextCursor: null
        '404': { $ref: '#/components/responses/NotFound' }
        '410': { $ref: '#/components/responses/Gone' }

  /v1/resolve:
    get:
      operationId: resolvePublicLink
      tags: [discovery]
      summary: Résout une URL canonique ou un slug vers la ressource qu'elle désigne.
      description: |
        **`slug` et `canonicalUrl` étaient servis partout et acceptés nulle part.** Les
        identifiants de chemin sont des UUID ; les cinq occurrences de `slug` étaient toutes en
        sortie. Une notification poussée sur une application morte, un lien partagé, un favori,
        un résultat de moteur : tous livrent une **URL**, et rien au contrat ne savait la lire.

        Le trou dépassait le mobile : `canonicalUrl` est ce que le téléviseur encode dans le QR
        de l'action **Partager** — sur un téléviseur, partager ne peut pas vouloir dire copier un
        lien, il n'y a ni presse-papiers ni messagerie utile.

        **Résout, ne redirige pas.** La réponse nomme le type et l'identifiant, et la surface
        décide où aller : un lien profond mobile, une route Next et une page de téléviseur n'ont
        pas la même destination pour la même ressource.

        **Lecture publique** : un lien partagé s'ouvre avant toute connexion.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog]
      x-arthome-freshness: 300
      security:
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - name: url
          in: query
          description: URL canonique complète. Exclusif avec `kind` + `slug`.
          schema: { type: string, format: uri }
        - name: kind
          in: query
          schema: { type: string, enum: [date, show, artist, category] }
        - name: slug
          in: query
          schema: { type: string }
      responses:
        '200':
          description: La ressource désignée, et de quoi peindre immédiatement.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        required: [kind, id, canonicalUrl]
                        properties:
                          kind: { type: string, x-arthome-vocabulary: [date, show, artist, category] }
                          id: { type: string }
                          canonicalUrl:
                            type: string
                            format: uri
                            description: |
                              **L'URL canonique de la cible**, qui peut différer de celle demandée :
                              un slug d'une autre langue, ou un slug remplacé, résout vers la forme
                              courante. C'est ce qui permet à la surface de corriger son URL plutôt
                              que d'en garder une périmée en favori.
                          date: { $ref: '#/components/schemas/DateCard' }
                          artist: { $ref: '#/components/schemas/ArtistSummary' }
              example:
                servedAt: '2026-09-21T18:02:50.000Z'
                data:
                  kind: date
                  id: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                  canonicalUrl: 'https://arthome.fr/fr/d/nuit-blanche-2026-09-21'
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  # =============================================================== la date

  /v1/dates/{dateId}:
    get:
      operationId: getDateDetail
      tags: [date]
      summary: La fiche d'une date — série, suggestions, boutique, tarifs, dans la même réponse.
      description: |
        **Un appel**, et il doit être **bon marché** : la surface TV le pré-charge sur l'élément
        focalisé après stabilisation du focus, et un pré-chargement qui se paie deux fois est pire
        que pas de pré-chargement. D'où une validation de cache (`ETag`) et une fraîcheur déclarée.

        **Lecture publique.** Appelée **sans aucune authentification**, cette opération rend le
        **corps public** — identique pour tous les appelants anonymes, donc mutualisable dans un
        cache partagé. Les trois surcouches par spectateur (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) sont alors **absentes**, jamais nulles. Appelée avec une session ou un
        jeton porteur, elle rend le corps public **plus** les surcouches, et devient privée.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing, identity, streaming]
      # `chat` n'est PAS appelé : le régime de tchat est déjà PROJETÉ dans `date_detail_public`
      # par `chat.date_chat_policy_changed`. Il était à la fois projeté et appelé — un appel pour
      # une donnée qu'on possède déjà, et le seul écran du storefront à franchir le seuil de 4.
      security:
        # **Lecture publique.** L'absence totale d'authentification est un cas NOMINAL, pas une
        # erreur : cette lecture est la face indexable du produit, et le robot d'un moteur n'a ni
        # cookie, ni jeton porteur, ni moyen de s'en fabriquer un. Le mode visiteur emprunte le
        # même chemin. Voir « Lecture publique et lecture identifiée » en tête de document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 60
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - name: If-None-Match
          in: header
          required: false
          schema: { type: string }
      responses:
        '200':
          description: La fiche.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
            ETag: { schema: { type: string }, description: Validateur de cache, pour que le pré-chargement TV ne se paie pas deux fois. }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data: { $ref: '#/components/schemas/DateDetail' }
              example:
                servedAt: '2026-09-21T18:02:21.000Z'
                validUntil: '2026-09-21T18:03:21.000Z'
                data:
                  id: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                  showId: 019928a0-7d31-7a10-b8c4-2f9e11a4c111
                  channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                  slug: nuit-blanche-2026-09-21
                  canonicalUrl: 'https://arthome.fr/fr/d/nuit-blanche-2026-09-21'
                  title: Nuit blanche
                  startsAt: '2026-09-21T19:00:00Z'
                  venueClock: { venueTimezone: Europe/Paris, venueUtcOffsetMin: 120 }
                  runtimeMin: 95
                  displayState: live
                  displayStateValidUntil: '2026-09-21T20:35:00Z'
                  replay: { policy: included, windowHours: 72 }
                  rights: { scope: restricted, blackoutCountries: [CA], reasonCode: broadcaster }
                  media: { wide: [], poster: [] }
                  totalSeriesDates: 3
                  watchVerdict:
                    allowed: false
                    advisory: true
                    reasonCode: NO_SEAT
                    fallbackAction: buy_seat
                    validUntil: '2026-09-21T18:03:21.000Z'
        '304': { description: Inchangé depuis l'`ETag` fourni. }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/dates/{dateId}/availability:
    get:
      operationId: refreshDateAvailability
      tags: [commerce]
      summary: Rafraîchit jauge et prix avant de montrer un total.
      description: |
        Le seul appel légitime de l'écran de réservation d'un téléviseur : la date est déjà en
        main, seule la jauge bouge. `validUntil` est court (60 s) parce que le tarif « séance
        commencée » est **au prorata du temps restant**.

        **Lecture publique.** Appelée **sans aucune authentification**, cette opération rend le
        **corps public** — identique pour tous les appelants anonymes, donc mutualisable dans un
        cache partagé. Les trois surcouches par spectateur (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) sont alors **absentes**, jamais nulles. Appelée avec une session ou un
        jeton porteur, elle rend le corps public **plus** les surcouches, et devient privée.
      x-arthome-maturity: stable
      x-arthome-upstream: [ticketing]
      security:
        # **Lecture publique.** L'absence totale d'authentification est un cas NOMINAL, pas une
        # erreur : cette lecture est la face indexable du produit, et le robot d'un moteur n'a ni
        # cookie, ni jeton porteur, ni moyen de s'en fabriquer un. Le mode visiteur emprunte le
        # même chemin. Voir « Lecture publique et lecture identifiée » en tête de document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 15
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Jauge et tarifs à l'instant du service.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        properties:
                          seatsAvailable: { type: integer }
                          waitlistCount: { type: integer }
                          fillRateBps: { type: integer }
                          soldOut: { type: boolean }
                          priceTiers: { type: array, items: { $ref: '#/components/schemas/PriceTier' } }
                          serviceFeePerSeat: { $ref: '#/components/schemas/Money' }
              example:
                servedAt: '2026-09-21T18:40:00.000Z'
                validUntil: '2026-09-21T18:41:00.000Z'
                data:
                  seatsAvailable: 42
                  waitlistCount: 0
                  fillRateBps: 8700
                  soldOut: false
                  priceTiers: [{ tier: full, amount: { amountMinor: 2400, currencyCode: EUR }, active: true }]
                  serviceFeePerSeat: { amountMinor: 150, currencyCode: EUR }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/dates/{dateId}/seat-quote:
    post:
      operationId: quoteSeat
      tags: [commerce]
      summary: Le récapitulatif d'achat, composé côté serveur.
      description: |
        **Les quatre lignes viennent du contrat** : palier, frais de service, remise
        d'abonnement, promotion. La remise et la promotion **ne se cumulent pas** — la plus
        favorable au spectateur l'emporte, et la règle vit dans `@arthome/core` (D-017). Sinon
        elle serait écrite trois fois.
      x-arthome-maturity: stable
      x-arthome-upstream: [ticketing]
      x-arthome-idempotency-exemption: |
        **Un devis rejoué doit être frais, jamais mémorisé** — même raison qu'un renouvellement de
        jeton. Le devis tire sa valeur de son `validUntil` : rendre la réponse d'origine pourrait
        rendre un devis **déjà expiré**, ou un prix que la promotion au prorata a rendu faux. Et
        cette opération n'écrit rien : c'est une lecture, en `POST` parce que ses critères ne
        tiennent pas dans une chaîne de requête.
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tier, quantity]
              properties:
                tier: { type: string, enum: [full, reduced, support] }
                quantity: { type: integer, minimum: 1, maximum: 10 }
                contributionMinor:
                  type: [integer, 'null']
                  description: |
                    Contribution libre à la compagnie, pour une place gratuite. Le montant est
                    **ouvert** ; minimum et maximum sont des **règles du domaine**, pas des
                    attributs d'un champ de saisie, et le refus porte
                    **`CONTRIBUTION_OUT_OF_RANGE`**, avec les deux bornes en paramètres. Le code
                    était annoncé et jamais nommé — donc promis à être inventé trois fois.
                applyCreditId: { type: [string, 'null'], format: uuid }
            example: { tier: full, quantity: 2 }
      responses:
        '200':
          description: Devis.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data: { $ref: '#/components/schemas/SeatQuote' }
              example:
                servedAt: '2026-09-21T18:41:10.000Z'
                validUntil: '2026-09-21T18:42:10.000Z'
                data:
                  lines:
                    - { kind: tier, amount: { amountMinor: 4800, currencyCode: EUR } }
                    - { kind: service_fee, amount: { amountMinor: 300, currencyCode: EUR } }
                    - { kind: subscription_discount, reasonCode: plan_pass, amount: { amountMinor: -480, currencyCode: EUR } }
                  total: { amountMinor: 4620, currencyCode: EUR }
                  validUntil: '2026-09-21T18:42:10.000Z'
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  # =============================================================== commandes d'argent

  /v1/orders/seats:
    post:
      operationId: purchaseSeat
      tags: [commerce]
      summary: Achète une ou plusieurs places.
      description: |
        **Un double clic ne crée jamais deux places** : `Idempotency-Key` est obligatoire, générée
        par la surface **avant l'envoi et persistée avant l'envoi**. Une clé rejouée rend la
        réponse de la première tentative, jamais une erreur — c'est la différence entre une reprise
        sûre et une place perdue.

        **Le prix attendu est envoyé et vérifié.** Le refus porte `PRICE_STALE`, **distinct** de
        l'échec de paiement, avec le prix courant en paramètre : avec cinq motifs de promotion
        dont un calculé au prorata du temps écoulé, l'écart entre le prix affiché et le prix valide
        est **structurel**, pas accidentel.

        **La commande rend l'état projeté, pas un accusé** : la place **et** la date à jour, pour
        que la surface repeigne en un seul aller-retour.
      x-arthome-maturity: stable
      x-arthome-upstream: [ticketing]
      x-arthome-invalidates: ['account:tickets', 'date:{dateId}:availability']
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dateId, tier, quantity, expectedTotal]
              properties:
                dateId: { type: string, format: uuid }
                tier: { type: string, enum: [full, reduced, support] }
                quantity: { type: integer, minimum: 1, maximum: 10 }
                expectedTotal: { $ref: '#/components/schemas/Money' }
                contributionMinor: { type: [integer, 'null'] }
                applyCreditId: { type: [string, 'null'], format: uuid }
                profileId: { type: [string, 'null'], format: uuid }
                declaredTaxLocation:
                  type: [object, 'null']
                  description: |
                    Localisation **déclarée par l'acheteur**, quand la surface la lui demande. Elle
                    entre au registre comme un élément de preuve parmi les autres
                    (`declared_by_buyer`) — **elle ne les remplace pas** : c'est le serveur qui
                    arbitre, et deux éléments qui se contredisent produisent
                    `evidenceConflicting`, jamais un refus d'achat.
                  properties:
                    country: { type: string, pattern: '^[A-Z]{2}$' }
                    subdivision: { type: [string, 'null'] }
                    postalCode: { type: [string, 'null'] }
            example:
              dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
              tier: full
              quantity: 2
              expectedTotal: { amountMinor: 4620, currencyCode: EUR }
      responses:
        '201':
          description: Places créées, et la date à jour.
          headers:
            X-Arthome-Served-At: { $ref: '#/components/headers/ServedAt' }
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        required: [tickets, date, order]
                        properties:
                          tickets: { type: array, items: { $ref: '#/components/schemas/TicketCard' } }
                          date: { $ref: '#/components/schemas/DateCard' }
                          order: { $ref: '#/components/schemas/Order' }
              example:
                servedAt: '2026-09-21T18:41:30.000Z'
                data:
                  tickets:
                    - seatId: 019928f5-0000-7000-8000-000000000001
                      dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                      orderId: 019928f5-0000-7000-8000-0000000000aa
                      seatCode: ATH-7QK2-4M
                      tier: full
                      state: active
                      cancelDeadline: '2026-09-21T18:00:00Z'
                      date: { id: 019928a0-7d31-7a10-b8c4-2f9e11a4c001, displayState: live }
                  date: { id: 019928a0-7d31-7a10-b8c4-2f9e11a4c001, displayState: live }
                  order: { id: 019928f5-0000-7000-8000-0000000000aa, reference: ATH-2026-00042, kind: seat, state: paid, placedAt: '2026-09-21T18:41:30Z' }
        '202':
          description: |
            **Authentification forte requise** — la commande existe, le paiement n'est pas abouti.
            La surface présente l'élément de paiement avec le `clientSecret`, puis suit l'état par
            `getOrder`. Elle ne conclut **jamais** depuis le retour d'URL.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/PaymentHandoff' } }
              example:
                servedAt: '2026-09-21T18:41:30.000Z'
                data:
                  orderId: 019928f5-0000-7000-8000-0000000000aa
                  state: awaiting_action
                  paymentIntentRef: pi_3Ab2Cd
                  clientSecret: pi_3Ab2Cd_secret_9f2
                  nextAction: { kind: redirect_to_url, redirectUrl: 'https://hooks.stripe.com/3ds/authenticate' }
                  returnUrl: 'https://arthome.fr/paiement/retour?order=019928f5-0000-7000-8000-0000000000aa'
                  expiresAt: '2026-09-21T19:11:30Z'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }
        '503': { $ref: '#/components/responses/Unavailable' }

[...]
