openapi: 3.1.1

info:
  title: Arthome Storefront BFF
  version: 1.0.0
  summary: The single contract for the three public surfaces — web, mobile, television.
  description: |
    Contract of the **storefront BFF**. It serves `storefront-web` (Next.js),
    `storefront-mobile` (React Native) and `storefront-tv` (react-native-tvos). These three
    surfaces share one document: what differs between them is a **parameter**
    (`X-Arthome-Surface`), never a shape.

    ## This document is generated, it is not written

    The source is zod, in `@arthome/contracts`; this document is produced by `z.toJSONSchema()`.
    Three consequences, visible throughout what follows:

    - **no date is a `z.date()`** and **no boundary schema carries a `z.transform()`**: both are
      unconvertible. Instants are `date-time` strings (RFC 3339, UTC).
    - a **request** schema is converted with `io: "input"`, a **response** schema with
      `io: "output"`. Getting it backwards produces false documentation.
    - the regenerated document must be **identical** to the committed one. That is a gate in
      `definition-of-done.md`.

    ## Closed vocabularies, and the survival of the fleet

    A closed vocabulary appears in two forms, and **they are not the same**.

    - on **input** (what the client sends): strict `enum`. An unknown value is refused with
      `SCHEMA_INVALID`.
    - on **output** (what the server returns): `type: string` together with
      `x-arthome-vocabulary`, which lists the known values **for documentation only**. A surface
      that receives a value missing from that list **keeps it raw and treats it as neutral**; it
      never rejects, and above all it does not fail the whole page.

    The reason is `storefront-tv` Q12: a version published today will be running in living rooms
    a year from now, and the day the catalogue gains a 22nd discipline, those televisions will
    receive it. Strictness applies to the **shape** — required fields, types — never to the
    **member** of a vocabulary.

    ## A coded field is named after its vocabulary, never `reasonCode`

    `reasonCode` was carried by **five fields over four unrelated vocabularies** across the two
    contracts — playback refusals, blackout reasons, refund reasons, cancellation reasons — plus two
    price lines where it was a bare string. Nothing collided on the wire, since each lives in its own
    schema, and that is exactly what made it survive: **it was disambiguated only by where the reader
    was standing.** A generated client may hoist one `ReasonCode` type out of all of them, and a human
    reading both documents assumes one vocabulary and is wrong.

    So every coded field now names its own vocabulary — `denialReasonCode`, `blackoutReasonCode`,
    `refundReasonCode`, `cancelReasonCode`, `discountReasonCode` — which is the convention
    `failureCode`, `originCode` and `emptyReason` were already following. The generic name was the
    exception, not the rule.

    **The one place a bare `reasonCode` remains is inside `error.params`**, and it is not an exception
    to this: `params` is a bag whose keys are defined **per error `code`**, so the code that carries it
    is the disambiguator, stated rather than inferred.

    ## Public read and identified read — two bodies, one path

    **Ten catalogue operations are callable with no authentication at all**, and that is the
    **nominal** case: `home`, `live`, `categories`, `categories/{id}`, `artists`,
    `artists/{id}`, `dates/{id}`, `dates/{id}/availability`, `search`, `plans`. This surface
    exists to be indexed — the brief defines it by "search ranking and server rendering are
    decisive" — and a search engine's crawler has no cookie, no bearer token, and no reason
    whatsoever to manufacture one. **Guest mode** takes exactly the same path.

    The same path returns **two bodies**, and the difference is declared:

    | Called | Body | `Cache-Control` |
    |---|---|---|
    | with no authentication at all | **public body** — `watchVerdict`, `viewerRelations` and `viewerProgress` are **absent** | `public, max-age=<freshness>` |
    | with a session, bearer token or device token | public body **plus** the three overlays | `private, max-age=<freshness>` |

    **The public body is identical for every anonymous caller.** That is what makes it shareable:
    a cached render function can read neither cookie nor header, so it is anonymous by
    construction, and it can cache that body without risk. Serving as `public` a body that varies
    per viewer would be **a leak, not an optimisation** — and that is the sole reason for the
    `Vary` declared on these ten responses.

    **An absent field is never a null field**: the projection rule holds here as it does on the
    studio side. A surface receiving the public body knows it did not ask for the overlays; it
    does not confuse them with a refused right.

    **The absence of a credential is never a `401`.** A `401` on these ten paths means a
    credential was **presented and refused** — expired, malformed, wrong audience.

    ## What every response carries

    `servedAt` on **every** response; `validUntil` as soon as a perishable value is present;
    `lastEventSeq` on every read model fed by a stream. Every displayed countdown is computed
    against `servedAt`, **never** against the client's clock — a phone's clock drifts in standby,
    jumps on a timezone change, and its owner can set it.

    ## Errors

    One envelope, up to and including Traefik: `code`, `nature`, `params`, `traceId`. A
    validation failure translates into a **code**, never into a zod message in English. `nature`
    is `refused` (the server said no definitively), `unavailable` (retry) or
    `offline_forbidden` — the last one is **never emitted by the server**: it is the nature of a
    local refusal, produced by the surface before anything is sent, and it is in the vocabulary
    so that the surface has only one error shape to render.

    ## Pagination (D-010)

    The storefront paginates **by cursor**, opaque, Base64-encoded over the composite key
    `(created_at, id)`. It is **bidirectional**, **independent of page size** — a screen rotation
    does not invalidate it — and it lives **24 hours**. Beyond that: `410` `CURSOR_TOO_OLD`,
    which demands a full reload and says so.

    ## Maturity

    Endpoints served by `identity`, `catalog` and `ticketing` are **stable**: `oasdiff breaking`
    blocks any break. Those served by `streaming`, `chat`, `payouts` and `notifications` are
    **provisional**: `oasdiff` is a warning there. Every operation carries
    `x-arthome-maturity`.
  contact:
    name: Arthome — architecture
  license:
    name: UNLICENSED

servers:
  - url: https://api.arthome.fr
    description: production
  - url: https://api.staging.arthome.fr
    description: recette
  - url: http://localhost:3001
    description: local development (docker compose)

tags:
  - name: bootstrap
    description: Bootstrap, viewer context, invalidations.
  - name: discovery
    description: Home, live, disciplines, artists, search.
  - name: date
    description: A date's record, and everything attached to it.
  - name: commerce
    description: Seats, cart, merchandise, subscription.
  - name: playback
    description: Right to watch, token, session, resume position.
  - name: chat
    description: The viewer's voice during a live show.
  - name: pairing
    description: Device pairing (RFC 8628) — the five intents.
  - name: account
    description: Account, preferences, security, personal data.

security:
  - sessionCookie: []
  - bearerToken: []

paths:

  # =============================================================== bootstrap

  /v1/devices:
    post:
      operationId: registerDevice
      tags: [bootstrap]
      summary: Registers the device and returns its device token.
      description: |
        **Called on first launch, before any session.** Device identity is a contract notion, and
        it is required for four things the surfaces ask for: opening and polling a pairing, naming
        itself under "connected devices", being revoked, and carrying a rate limit somewhere other
        than the IP address — which a household behind a NAT shares.

        It **is not a session** and opens no personal data; in particular it does not open the
        real-time channel.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind, label]
              properties:
                kind: { type: string, enum: [tv, mobile, tablet, desktop, stick, console, box], x-arthome-vocabulary-source: DEVICE_KINDS }
                label: { type: string, maxLength: 80 }
                osVersion: { type: string }
                appVersion: { type: string }
            example: { kind: tv, label: 'Téléviseur du salon', osVersion: 'tvOS 19.2', appVersion: '1.4.0' }
      responses:
        '201':
          description: Device registered. The token is to be kept in the native store.
          headers:
            X-Arthome-Served-At: { $ref: '#/components/headers/ServedAt' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        required: [deviceId, deviceToken, expiresAt]
                        properties:
                          deviceId: { type: string, format: uuid }
                          deviceToken: { type: string }
                          expiresAt: { type: string, format: date-time }
              example:
                servedAt: '2026-09-21T18:02:11.004Z'
                data:
                  deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                  deviceToken: eyJhbGciOiJFUzI1NiIsImtpZCI6ImRldi0yMDI2LTA5In0
                  expiresAt: '2027-03-20T18:02:11.004Z'
        '400': { $ref: '#/components/responses/BadRequest' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/auth/sign-up:
    post:
      operationId: signUp
      tags: [account]
      summary: Creates an account with email and password.
      description: |
        **A documented relay to `identity`, and the relay is mandatory, not preferable.** Three
        reasons, the first of which comes from our own tooling:

        1. **zod is the source and the OpenAPI is generated from it.** A transparent relay has no
           schema, so it **would not appear in this document** — the six missing contracts would
           stay missing. That is the decisive argument;
        2. **i18n by codes.** The authentication library answers in English sentences
           (`"Invalid email or password"`), which the error envelope forbids. The BFF translates
           into **codes**, envelope included;
        3. **rate limiting per `device_id`**, which the library cannot do: its ceilings are per
           address or per session, and a living room behind a NAT shares its address.

        The cookie, when there is one, is set on the **BFF's domain** — that is what lets the
        server renderer read it, and what keeps critical rule 1 free of an exception through the
        authentication door.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, mode, acceptedTermsVersion]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 12 }
                displayName: { type: string, maxLength: 80 }
                mode: { $ref: '#/components/schemas/SessionMode' }
                deviceId: { type: [string, 'null'], format: uuid }
                acceptedTermsVersion:
                  type: integer
                  description: '**Timestamped by the server, versioned**: a consent without a version or a date is worth nothing.'
            example: { email: marie@example.org, password: 'a-long-password', displayName: 'Marie J.', mode: cookie, acceptedTermsVersion: 3 }
      responses:
        '201':
          description: Account created and session opened, in the requested mode.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/SessionEstablished' } }
              example:
                servedAt: '2026-09-21T18:00:00.000Z'
                data:
                  mode: cookie
                  viewerContext:
                    deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                    signedIn: true
                    profiles: []
                    constants: { roomOpensMinutesBefore: 30, cancelDeadlineMinutesBefore: 60, scarcityThresholdBps: 8500, billboardPreviewDelaySec: 4, waitlistPriorityWindowHours: 2, chatRateLimitPerSecond: 10, reactionQuotaPerDate: 20, reminderLeadMinutes: 30, replayExpiryWarningHours: 6 }
                    labelCatalog: { locale: fr, version: 41, url: 'https://cdn.arthome.fr/i18n/storefront/fr/v41.json' }
                    taxonomyArtifact: { locale: fr, version: 12, url: 'https://cdn.arthome.fr/taxonomy/fr/v12.json' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409':
          description: '`EMAIL_TAKEN` — a **code**, not the library''s English sentence.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
              example:
                error: { code: identity.email_taken, nature: refused, params: {}, traceId: 4bf92f3577b34da6a3ce929d0e0e4736 }
                servedAt: '2026-09-21T18:00:00.000Z'
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/auth/sign-in:
    post:
      operationId: signIn
      tags: [account]
      summary: Opens a session with email and password.
      description: |
        Same relay, same translation into codes: `INVALID_CREDENTIALS` **never** distinguishes an
        unknown email from a wrong password — the distinction would tell an attacker which accounts
        exist.

        `TWO_FACTOR_REQUIRED` is an **intermediate** refusal, not a failure: it carries a
        `challengeId` to present to `/v1/auth/two-factor/verify`.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      x-arthome-idempotency-exemption: |
        **The one exemption that is not "nothing to deduplicate": this one is a prohibition.** The
        idempotency regime replays the original response **verbatim**; on a session opening, that
        would amount to **returning a token without having verified the credentials**. A replayed
        key would become a session bearer — and a stolen key, a stolen session.

        The five other authentication routes do carry the key, because a replay there returns the
        original response rather than a `410` or a second effect: that is safe resumption. A
        sign-in, no — it must **always** re-authenticate. The protection against double submission
        here is rate limiting per `device_id`, not the idempotency store.
      security: []
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, mode]
              properties:
                email: { type: string, format: email }
                password: { type: string }
                mode: { $ref: '#/components/schemas/SessionMode' }
                deviceId: { type: [string, 'null'], format: uuid }
            example: { email: marie@example.org, password: 'a-long-password', mode: bearer, deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77 }
      responses:
        '200':
          description: Session opened, in the requested mode.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/SessionEstablished' } }
              example:
                servedAt: '2026-09-21T18:00:10.000Z'
                data:
                  mode: bearer
                  accessToken: sess_9f2ac1b4
                  refreshToken: refr_4d77e2
                  expiresAt: '2026-09-28T18:00:10Z'
                  viewerContext:
                    deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                    signedIn: true
                    profiles: []
                    constants: { roomOpensMinutesBefore: 30, cancelDeadlineMinutesBefore: 60, scarcityThresholdBps: 8500, billboardPreviewDelaySec: 4, waitlistPriorityWindowHours: 2, chatRateLimitPerSecond: 6, reactionQuotaPerDate: 20, reminderLeadMinutes: 30, replayExpiryWarningHours: 6 }
                    labelCatalog: { locale: fr, version: 41, url: 'https://cdn.arthome.fr/i18n/storefront/fr/v41.json' }
                    taxonomyArtifact: { locale: fr, version: 12, url: 'https://cdn.arthome.fr/taxonomy/fr/v12.json' }
        '401':
          description: '`INVALID_CREDENTIALS`, or `TWO_FACTOR_REQUIRED` with its `challengeId`.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
              example:
                error: { code: identity.two_factor_required, nature: refused, params: { challengeId: chl_7ab2 }, traceId: 4bf92f3577b34da6a3ce929d0e0e4736 }
                servedAt: '2026-09-21T18:00:10.000Z'
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/auth/sign-out:
    post:
      operationId: signOut
      tags: [account]
      summary: Closes the current session — and nothing else.
      description: |
        **The trap this operation exists to avoid.** The authentication library's `signOut` revokes
        **all** of the user's sessions. On a television shared by five profiles, that is never what
        anyone wants: it would sign out the whole living room.

        **Two gestures, two routes, never one for the other**:
        - **this one** closes the current session;
        - **`DELETE /v1/me/device-sessions/{sessionId}`** signs out **one profile** from a device
          (`multi-session.revoke`), the other accounts staying signed in;
        - **`DELETE /v1/me/devices/{deviceId}`** removes the device, all its sessions **and its
          playback leases**.

        **Order matters in `bearer` mode**: the session is destroyed server-side **then** the client
        clears its native store. Clearing the store is not revoking. In `cookie` mode, the cookie is
        cleared **with exactly the attributes that set it** — otherwise it is not cleared.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Session closed. Replayed, it succeeds.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data: { type: object, properties: { signedOut: { type: boolean } } }
              example:
                servedAt: '2026-09-21T23:00:00.000Z'
                data: { signedOut: true }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/auth/forget-password:
    post:
      operationId: requestPasswordReset
      tags: [account]
      summary: Requests a password reset link.
      description: |
        **Always answers `202`, whether the account exists or not.** Distinguishing the two would
        tell an attacker which emails are registered.

        **The email's link points at the surface, never at the API** — `arthome.fr/reset?token=…` —
        and therefore **per product and per language**. The library's default builds it from its own
        base address and would land the person on an API.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                locale:
                  type: string
                  description: |
                    **The domain declares exactly two.** This one is an **input**, so the enum is strict:
                    a locale we cannot render is refused rather than silently answered in another
                    language.
                  enum: [fr, en]
                  x-arthome-vocabulary-source: LOCALES
                  examples: [fr]
            example: { email: marie@example.org, locale: fr }
      responses:
        '202':
          description: Request accepted — the answer is the same in both cases.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data: { type: object, properties: { accepted: { type: boolean } } }
              example:
                servedAt: '2026-09-21T18:01:00.000Z'
                data: { accepted: true }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/auth/reset-password:
    post:
      operationId: resetPassword
      tags: [account]
      summary: Sets a new password from a reset token.
      description: |
        **Does not open a session.** The person signs in again, which proves the new password works
        and avoids an email link becoming a session bearer. The token is single-use and
        short-lived.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token: { type: string }
                password: { type: string, minLength: 12 }
            example: { token: rst_9f2ac1, password: 'a-new-password' }
      responses:
        '200':
          description: Password changed. **All other sessions are revoked** — a password changed after a theft must close the door.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data: { type: object, properties: { changed: { type: boolean }, otherSessionsRevoked: { type: integer } } }
              example:
                servedAt: '2026-09-21T18:02:00.000Z'
                data: { changed: true, otherSessionsRevoked: 3 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '410': { $ref: '#/components/responses/Gone' }

  /v1/auth/social/{provider}/start:
    post:
      operationId: startSocialSignIn
      tags: [account]
      summary: Starts a social sign-in — the surfaces never talk to the provider.
      description: |
        **The OAuth client is confidential and server-side.** No application embeds a secret: that
        is the only defensible form on a distributed binary, and the redirect is registered **once
        per provider**, on the BFF's domain.

        **The deep link on return never carries the token.** It carries only a **single-use opaque
        state**, which the application then exchanges for its token over direct TLS with the BFF
        (`/v1/auth/exchange`). The return URL travels through the operating system, can be logged,
        and can be opened by another application.

        **Per surface**: browsers follow an ordinary redirect; native shells open the **system
        browser**, never their WebView, and come back through a universal link. **The television
        does no OAuth**: it goes through pairing, intent `signin`.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: provider
          in: path
          required: true
          schema: { type: string, enum: [google, facebook], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "An external provider or platform identifier. It is their vocabulary, not ours, and it changes when they change." }
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mode]
              properties:
                mode: { $ref: '#/components/schemas/SessionMode' }
                deviceId: { type: [string, 'null'], format: uuid }
                returnPath:
                  type: [string, 'null']
                  description: |
                    **Relative** return path inside the surface. An absolute address is refused: the allowlist
                    is made of **literal strings**, never of a pattern.
            example: { mode: bearer, deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77, returnPath: /compte }
      responses:
        '200':
          description: The authorization address to open, and the opaque state that will come back.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        required: [authorizationUrl, state, expiresAt]
                        properties:
                          authorizationUrl: { type: string, format: uri }
                          state: { type: string, description: '**Opaque, single-use, short-lived.** It carries nothing meaningful.' }
                          expiresAt: { type: string, format: date-time }
              example:
                servedAt: '2026-09-21T18:03:00.000Z'
                data:
                  authorizationUrl: 'https://api.arthome.fr/v1/auth/social/google/redirect?state=ott_9f2ac1'
                  state: ott_9f2ac1
                  expiresAt: '2026-09-21T18:13:00Z'
        '400': { $ref: '#/components/responses/BadRequest' }

  /v1/auth/exchange:
    post:
      operationId: exchangeOneTimeToken
      tags: [account]
      summary: Exchanges the opaque state from the return for a session.
      description: |
        **This is what makes the journey replayable if the operating system kills the application
        during the detour**: the pending state lives server-side, not in application memory. On
        return, the deep link says **where to go**, and this exchange says **what changed**.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state, mode]
              properties:
                state: { type: string }
                mode: { $ref: '#/components/schemas/SessionMode' }
                deviceId: { type: [string, 'null'], format: uuid }
            example: { state: ott_9f2ac1, mode: bearer, deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77 }
      responses:
        '200':
          description: Session opened in the requested mode.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/SessionEstablished' } }
              example:
                servedAt: '2026-09-21T18:03:40.000Z'
                data:
                  mode: bearer
                  accessToken: sess_4d77e2
                  expiresAt: '2026-09-28T18:03:40Z'
                  viewerContext:
                    deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                    signedIn: true
                    profiles: []
                    constants: { roomOpensMinutesBefore: 30, cancelDeadlineMinutesBefore: 60, scarcityThresholdBps: 8500, billboardPreviewDelaySec: 4, waitlistPriorityWindowHours: 2, chatRateLimitPerSecond: 6, reactionQuotaPerDate: 20, reminderLeadMinutes: 30, replayExpiryWarningHours: 6 }
                    labelCatalog: { locale: fr, version: 41, url: 'https://cdn.arthome.fr/i18n/storefront/fr/v41.json' }
                    taxonomyArtifact: { locale: fr, version: 12, url: 'https://cdn.arthome.fr/taxonomy/fr/v12.json' }
        '410': { $ref: '#/components/responses/Gone' }

  /v1/auth/password:
    patch:
      operationId: changePassword
      tags: [account]
      summary: Changes the password from the account.
      description: |
        **The current password is required**, and that is not a formality: without it, a stolen
        session would be enough to lock the owner out of their own account.

        **Other sessions are revoked** — this is the gesture one makes on suspecting a theft, and
        leaving the other bearers untouched would empty it of meaning. The current session survives:
        you do not sign yourself out by changing your password.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword: { type: string }
                newPassword: { type: string, minLength: 12 }
                revokeOtherSessions: { type: boolean, default: true }
            example: { currentPassword: 'an-old-password', newPassword: 'a-new-password' }
      responses:
        '200':
          description: Password changed.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data: { type: object, properties: { changed: { type: boolean }, otherSessionsRevoked: { type: integer } } }
              example:
                servedAt: '2026-09-21T18:57:00.000Z'
                data: { changed: true, otherSessionsRevoked: 2 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/auth/two-factor:
    post:
      operationId: enableTwoFactor
      tags: [account]
      summary: Enables two-factor authentication and returns the backup codes.
      description: |
        **The backup codes are returned here, once only.** They are never read back: the server
        keeps only hashes of them. An operation able to repeat them would be able to read them, and
        it would no longer be a second factor.

        Two-factor authentication is a **precondition** for transferring ownership of a channel on
        the studio side: the contract refuses it without one.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string, description: Re-authentication — this is a sensitive operation. }
            example: { password: 'a-long-password' }
      responses:
        '201':
          description: Secret to enrol and backup codes, returned **once only**.
          headers:
            Cache-Control: { schema: { type: string, const: no-store } }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        required: [otpauthUri, backupCodes]
                        properties:
                          otpauthUri: { type: string }
                          backupCodes: { type: array, items: { type: string } }
              example:
                servedAt: '2026-09-21T18:58:00.000Z'
                data:
                  otpauthUri: 'otpauth://totp/Arthome:marie%40example.org?secret=JBSWY3DP&issuer=Arthome'
                  backupCodes: ['7K2M-9QP4', 'X3N8-2VTR']
        '401': { $ref: '#/components/responses/Unauthorized' }
    delete:
      operationId: disableTwoFactor
      tags: [account]
      summary: Disables two-factor authentication.
      description: '**Re-authentication required**: disabling a second factor is exactly what a session thief would try first.'
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string }
            example: { password: 'a-long-password' }
      responses:
        '200':
          description: Two-factor authentication disabled.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data: { type: object, properties: { twoFactorEnabled: { type: boolean } } }
              example:
                servedAt: '2026-09-21T18:58:30.000Z'
                data: { twoFactorEnabled: false }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/auth/two-factor/verify:
    post:
      operationId: verifyTwoFactor
      tags: [account]
      summary: Answers the two-factor challenge, and opens the session.
      description: |
        Follows `TWO_FACTOR_REQUIRED`. The `challengeId` is **short-lived and single-use**; a
        consumed backup code cannot be replayed.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challengeId, code, mode]
              properties:
                challengeId: { type: string }
                code: { type: string }
                mode: { $ref: '#/components/schemas/SessionMode' }
                deviceId: { type: [string, 'null'], format: uuid }
            example: { challengeId: chl_7ab2, code: '318204', mode: cookie }
      responses:
        '200':
          description: Session opened, in the requested mode.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/SessionEstablished' } }
              example:
                servedAt: '2026-09-21T18:00:25.000Z'
                data:
                  mode: cookie
                  viewerContext:
                    deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                    signedIn: true
                    profiles: []
                    constants: { roomOpensMinutesBefore: 30, cancelDeadlineMinutesBefore: 60, scarcityThresholdBps: 8500, billboardPreviewDelaySec: 4, waitlistPriorityWindowHours: 2, chatRateLimitPerSecond: 10, reactionQuotaPerDate: 20, reminderLeadMinutes: 30, replayExpiryWarningHours: 6 }
                    labelCatalog: { locale: fr, version: 41, url: 'https://cdn.arthome.fr/i18n/storefront/fr/v41.json' }
                    taxonomyArtifact: { locale: fr, version: 12, url: 'https://cdn.arthome.fr/taxonomy/fr/v12.json' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '410': { $ref: '#/components/responses/Gone' }

  /v1/me/passkeys:
    post:
      operationId: addPasskey
      tags: [account]
      summary: Enrols a passkey.
      description: |
        Returns the enrolment options produced by the server; the surface passes them to the browser
        or platform API, then returns the attestation to `PUT`. **The secret never leaves the
        hardware.**
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string, maxLength: 80 }
            example: { label: 'MacBook de Marie' }
      responses:
        '201':
          description: Enrolment options, single-use.
          headers:
            Cache-Control: { schema: { type: string, const: no-store } }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        properties:
                          registrationOptions: { type: object, additionalProperties: true }
                          expiresAt: { type: string, format: date-time }
              example:
                servedAt: '2026-09-21T18:59:00.000Z'
                data:
                  registrationOptions: { challenge: 'k7M2pQ', rp: { id: arthome.fr, name: Arthome } }
                  expiresAt: '2026-09-21T19:04:00Z'
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/me/passkeys/{passkeyId}:
    delete:
      operationId: removePasskey
      tags: [account]
      summary: Removes a passkey.
      description: '**Refused if it is the account''s last credential** (`LAST_CREDENTIAL`): an account with no way to sign in is a lost account.'
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      parameters:
        - name: passkeyId
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Passkey removed.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data: { type: object, properties: { removed: { type: boolean } } }
              example:
                servedAt: '2026-09-21T18:59:30.000Z'
                data: { removed: true }
        '409': { $ref: '#/components/responses/Conflict' }

  /v1/viewer-context:
    get:
      operationId: getViewerContext
      tags: [bootstrap]
      summary: The bootstrap — the entire budget of the start-up screen.
      description: |
        **A single call.** Device profiles, rights, preferences, domain constants, version of the
        label catalogue and of the taxonomy. The labels themselves come from the snapshot embedded
        at build time: the version check **never blocks** the first render.

        If this call fails, the surface must still display a **readable** message — not a raw code,
        not a blank screen. That is what makes the embedded snapshot mandatory rather than merely
        desirable.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      x-arthome-freshness: 300
      security:
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/ViewerTimezone'
      responses:
        '200':
          description: Viewer context.
          headers:
            X-Arthome-Served-At: { $ref: '#/components/headers/ServedAt' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data: { $ref: '#/components/schemas/ViewerContext' }
              example:
                servedAt: '2026-09-21T18:02:12.400Z'
                data:
                  deviceId: 019928f4-1b6c-7c3a-9f2e-6a1d0c4b8e77
                  signedIn: true
                  currentProfileId: 019928f4-2a11-7000-8000-000000000001
                  profiles:
                    - { id: 019928f4-2a11-7000-8000-000000000001, name: Marie, kind: adult }
                  plan: { tier: pass, state: active, seatDiscountBps: 1000, concurrentStreamsAllowed: 1 }
                  constants:
                    roomOpensMinutesBefore: 30
                    cancelDeadlineMinutesBefore: 60
                    scarcityThresholdBps: 8500
                    billboardPreviewDelaySec: 4
                    waitlistPriorityWindowHours: 2
                    chatRateLimitPerSecond: 2
                    chatCatchUpMessages: 20
                    reactionQuotaPerDate: 20
                    reminderLeadMinutes: 30
                    replayExpiryWarningHours: 6
                    previewSecondsTotal: 300
                    searchExactTotalLimit: 10000
                    creditDelayCode: refund_delay_business_days_3_5
                  labelCatalog: { locale: fr, version: 41, url: 'https://cdn.arthome.fr/i18n/storefront/fr/v41.json' }
                  taxonomyArtifact: { locale: fr, version: 12, url: 'https://cdn.arthome.fr/taxonomy/fr/v12.json' }
                  realtime: { namespace: /storefront, pulseIntervalSec: 5 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/changes:
    get:
      operationId: listChanges
      tags: [bootstrap]
      summary: The invalidations since a given instant — not the data.
      description: |
        **One request instead of twelve.** On returning to the foreground, every observed read
        revalidates at the same time; an account screen shows half a dozen, a category page as many.
        Refusing that burst means refusing to open the application.

        It is also the path by which the storefront learns what it **did not cause** — Kafka being
        forbidden outside inter-service traffic, it is the only one possible. For Next's server
        rendering, the same tags feed `revalidateTag`: they are **named by the contract**, never
        invented by a surface.

        ## This feed requires a credential, and the public side has no feed at all

        **The `401` is a ruling, not an oversight** (D-022's rule applied). This path answers "what
        changed **for you** since your cursor". A public invalidation stream would answer "what
        changed in the catalogue since T". They are **two resources**, and their cacheability
        requirements are opposite: this one must `Vary` on the credential and can never be
        edge-cached; a public one is worthless unless it is. Served from one path, the public half
        inherits the private half's `Vary`, so Next's server rendering would reach origin on every
        revalidation check — which is most of what this path exists to save.

        The direction was chosen on reversibility. Making this path anonymous **cannot be undone**:
        once clients call it without a credential, the credential cannot come back. Adding a
        separate public path later is **purely additive**.

        **The cost, named rather than shrugged at.** Signed-out pages have no invalidation path and
        fall back to **time-based revalidation** on their family's freshness — 60 s for `home` and
        the lists, 300 s for `category` and `artist` (§ the freshness table). A catalogue change is
        therefore visible to a signed-out reader in **up to one freshness window**, where a feed
        would cut it to the push latency. That is a performance property, not a contract property,
        and it is the number to beat: a measurement showing a public page stale past its window, or
        an origin-hit cost that the time-based fallback makes unacceptable, reopens this.

        **What it would take to fill the gap, and why the shape is not written here.** Nobody has
        designed a public catalogue-change stream: whether it is keyed on time or on entity, what
        window it covers, what a client that has been away for a week receives, and whether it is a
        feed at all rather than an `ETag` on each catalogue read. What has no source does not enter
        the contract, so the gap is named and the shape is left alone.
      x-arthome-maturity: stable
      x-arthome-upstream: [realtime]
      # This feed queries NO service: it reads the Redis resume buffer that the real-time
      # gateway already keeps per room (30 min / 5,000 events). It is the HTTP pull of the same
      # stream the channel pushes. Declaring it over four services described a composition that
      # does not happen, and would have counted it as a four-call screen.
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - name: since
          in: query
          required: true
          description: The `servedAt` of the client's last known response.
          schema: { type: string, format: date-time }
        - name: scope
          in: query
          required: false
          description: |
            Which invalidations to return. `profile` covers what follows the account — tickets,
            orders, subscription, cart — and is what a surface wants on returning to the
            foreground. `device` restricts the answer to what follows **this device**, and exists
            for the television, where five profiles share one device and a switch of profile must
            not force the other four to reload.

            A **closed** vocabulary, and legitimately so: this is an input, and the server must
            refuse a scope it does not know rather than silently widen the answer.
          schema: { type: string, enum: [profile, device], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "An account-management shape, local to this endpoint: what the person asked for, not a fact the domain reasons about.", default: profile }
      responses:
        '200':
          description: A list of invalidations.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data: { $ref: '#/components/schemas/ChangeFeed' }
              example:
                servedAt: '2026-09-21T20:44:02.010Z'
                data:
                  invalidated: ['date:019928a0-7d31-7a10-b8c4-2f9e11a4c001', 'account:tickets']
                  complete: true
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # =============================================================== discovery

  /v1/home:
    get:
      operationId: getHomeScreen
      tags: [discovery]
      summary: Billboard and rails, composed and ordered by the server.
      description: |
        **One call.** Ten to thirteen rails, six to eight visible cards each, a cursor per rail:
        60 to 100 cards, on the order of 50 to 90 KB raw, under 15 KB once compressed.

        The BFF composes this model with **three per-viewer overlays, batched by id lists** — never
        one call per card. In steady state, the per-profile Redis cache (30 s TTL) brings the screen
        down to one or two internal calls.

        **Public read.** Called **with no authentication at all**, this operation returns the
        **public body** — identical for every anonymous caller, hence shareable in a common cache.
        The three per-viewer overlays (`watchVerdict`, `viewerRelations`, `viewerProgress`) are then
        **absent**, never null. Called with a session or a bearer token, it returns the public body
        **plus** the overlays, and becomes private.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing, identity, streaming]
      security:
        # **Public read.** A complete absence of authentication is a NOMINAL case, not an
        # error: this read is the indexable face of the product, and a search engine's crawler
        # has neither cookie, nor bearer token, nor any way of minting one. Guest mode takes
        # the same path. See "Public read and identified read" at the top of the document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 60
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/ViewerTimezone'
      responses:
        '200':
          description: Home.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data: { $ref: '#/components/schemas/HomeScreen' }
              example:
                servedAt: '2026-09-21T18:02:13.900Z'
                validUntil: '2026-09-21T18:03:13.900Z'
                lastEventSeq: 918233
                degraded: []
                data:
                  billboard:
                    previewStartsAfterSec: 4
                    date:
                      id: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                      showId: 019928a0-7d31-7a10-b8c4-2f9e11a4c111
                      channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                      slug: nuit-blanche-2026-09-21
                      canonicalUrl: 'https://arthome.fr/fr/d/nuit-blanche-2026-09-21'
                      title: Nuit blanche
                      startsAt: '2026-09-21T19:00:00Z'
                      venueClock: { venueTimezone: Europe/Paris, venueUtcOffsetMin: 120 }
                      runtimeMin: 95
                      roomOpensAt: '2026-09-21T18:30:00Z'
                      displayState: live
                      displayStateValidUntil: '2026-09-21T20:35:00Z'
                      replay: { policy: included, windowHours: 72 }
                      rights: { scope: worldwide, blackoutCountries: [] }
                      media: { wide: [], poster: [] }
                      viewers: 1842
                  rails:
                    - id: resume
                      titleCode: home.rail.resume
                      kind: resume
                      items: []
                      nextCursor: null
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/live:
    get:
      operationId: getLiveScreen
      tags: [discovery]
      summary: What is live now and tonight's grid, grouped in the viewer's local time.
      description: |
        **One call**, and the hourly grouping is **server-side**: it depends on the viewer's
        timezone, which the surface sends in a header. Grouped client-side it would be grouped five
        different ways, and Next's server rendering does not know the visitor's timezone.

        **Public read.** Called **with no authentication at all**, this operation returns the
        **public body** — identical for every anonymous caller, hence shareable in a common
        cache. The three per-viewer overlays (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) are then **absent**, never null. Called with a session or a bearer
        token, it returns the public body **plus** the overlays, and becomes private.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing, streaming, identity]
      security:
        # **Public read.** A complete absence of authentication is a NOMINAL case, not an
        # error: this read is the indexable face of the product, and a search engine's crawler
        # has neither cookie, nor bearer token, nor any way of minting one. Guest mode takes
        # the same path. See "Public read and identified read" at the top of the document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 15
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/ViewerTimezone'
      responses:
        '200':
          description: Tonight's grid.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data: { $ref: '#/components/schemas/LiveScreen' }
              example:
                servedAt: '2026-09-21T18:02:14.210Z'
                validUntil: '2026-09-21T18:02:29.210Z'
                data:
                  slots:
                    - localHourLabelKey: '20'
                      startsAt: '2026-09-21T18:00:00Z'
                      dates: []
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/categories:
    get:
      operationId: listCategories
      tags: [discovery]
      summary: The 21 disciplines, with family, rank and counts.
      description: |
        **One call, not one per tile.** The editorial rank is authoritative and **no surface
        reorders**. The full taxonomy is not here: it is an **immutable versioned artefact** served
        by the CDN, referenced in `ViewerContext`.

        **Public read.** Called **with no authentication at all**, this operation returns the
        **public body** — identical for every anonymous caller, hence shareable in a common
        cache. The three per-viewer overlays (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) are then **absent**, never null. Called with a session or a bearer
        token, it returns the public body **plus** the overlays, and becomes private.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog]
      security:
        # **Public read.** A complete absence of authentication is a NOMINAL case, not an
        # error: this read is the indexable face of the product, and a search engine's crawler
        # has neither cookie, nor bearer token, nor any way of minting one. Guest mode takes
        # the same path. See "Public read and identified read" at the top of the document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 300
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: The disciplines.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [items]
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/CategoryTile' } }
              example:
                servedAt: '2026-09-21T18:02:15.000Z'
                items:
                  - { id: dance-contemporary, universe: stage, rank: 3, datesCount: 84, liveCount: 2, featured: true }
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/categories/{categoryId}:
    get:
      operationId: getCategoryScreen
      tags: [discovery]
      summary: A discipline — hero, sub-genres, five bounded sections, facets.
      description: |
        **One call.** The overview **does not paginate**: it is bounded (8 per section). The four
        other sections each carry their own cursor.

        **Public read.** Called **with no authentication at all**, this operation returns the
        **public body** — identical for every anonymous caller, hence shareable in a common
        cache. The three per-viewer overlays (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) are then **absent**, never null. Called with a session or a bearer
        token, it returns the public body **plus** the overlays, and becomes private.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing, identity, streaming]
      security:
        # **Public read.** A complete absence of authentication is a NOMINAL case, not an
        # error: this read is the indexable face of the product, and a search engine's crawler
        # has neither cookie, nor bearer token, nor any way of minting one. Guest mode takes
        # the same path. See "Public read and identified read" at the top of the document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 300
      parameters:
        - $ref: '#/components/parameters/CategoryId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - name: section
          in: query
          description: |
            **Extend a single section.** Without this parameter the response serves the five bounded
            sections; with it, it serves that one section, paginated. This is what consumes the
            `sections[].nextCursor` the response already carried — four cursors served and no consumer,
            that is, four "See more" buttons that led nowhere.
          schema: { type: string, enum: [overview, live, upcoming, replays, artists], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "A screen composition the server decides so that five surfaces do not each decide it differently." }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: subGenreId
          in: query
          description: '**Stable** sub-genre identifier, never an array index.'
          schema: { type: string }
        - name: filters
          in: query
          description: |
            Criteria, in the **same normalised grammar** as `/v1/search` and `SavedSearch.criteria`. The
            discipline's own filter panel — price, date, status, nearly sold out, on promotion — lands
            here.
          schema: { $ref: '#/components/schemas/SearchCriteria' }
        - name: sort
          in: query
          schema: { type: string, enum: [relevance, soon, popularity, price_asc, price_desc], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "A sort or filter key. It is a property of THIS endpoint's list — which orders it offers — not of the domain, and adding one is an endpoint change rather than a vocabulary change.", default: soon }
      responses:
        '200':
          description: The discipline.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data: { $ref: '#/components/schemas/CategoryScreen' }
              example:
                servedAt: '2026-09-21T18:02:16.000Z'
                data:
                  categoryId: dance-contemporary
                  subGenres: [{ id: dance-contemporary-repertoire, rank: 1 }]
                  sections: [{ id: overview, titleCode: category.section.overview, items: [], nextCursor: null }]
                  facets: []
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/artists:
    get:
      operationId: listArtists
      tags: [discovery]
      summary: The artist directory, by cursor.
      description: |
        Two sorts only, and they are **served**: alphabetical and by follower count. The follower
        count comes from **a single projection**, so that it never differs between the artist page
        and the list.

        **Public read.** Called **with no authentication at all**, this operation returns the
        **public body** — identical for every anonymous caller, hence shareable in a common
        cache. The three per-viewer overlays (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) are then **absent**, never null. Called with a session or a bearer
        token, it returns the public body **plus** the overlays, and becomes private.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, identity]
      security:
        # **Public read.** A complete absence of authentication is a NOMINAL case, not an
        # error: this read is the indexable face of the product, and a search engine's crawler
        # has neither cookie, nor bearer token, nor any way of minting one. Guest mode takes
        # the same path. See "Public read and identified read" at the top of the document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 300
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/CursorDirection'
        - $ref: '#/components/parameters/Limit'
        - name: categoryId
          in: query
          schema: { type: string }
        - name: sort
          in: query
          schema: { type: string, enum: [alpha, followers], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "A sort or filter key. It is a property of THIS endpoint's list — which orders it offers — not of the domain, and adding one is an endpoint change rather than a vocabulary change.", default: alpha }
        - name: liveOnly
          in: query
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: A page of artists.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [items, page]
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/ArtistSummary' } }
                      page: { $ref: '#/components/schemas/CursorPageInfo' }
              example:
                servedAt: '2026-09-21T18:02:17.000Z'
                items: []
                page: { hasMore: false, nextCursor: null, prevCursor: null, approximateTotal: 213, totalIsLowerBound: false, emptyReason: no_match_with_filters, emptyActionCode: clear_filters }
        '410': { $ref: '#/components/responses/Gone' }

  /v1/artists/{artistId}:
    get:
      operationId: getArtistDetail
      tags: [discovery]
      summary: An artist's page, their dates and their replays in the same response.
      description: |
        **One call**: the page, upcoming dates, past dates, replays and the shop in the same
        response. A page served in four calls would paint in four stages, which a screen three
        metres away makes unreadable.

        **Public read.** Called **with no authentication at all**, this operation returns the
        **public body** — identical for every anonymous caller, hence shareable in a common
        cache. The three per-viewer overlays (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) are then **absent**, never null. Called with a session or a bearer
        token, it returns the public body **plus** the overlays, and becomes private.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing, identity, streaming]
      security:
        # **Public read.** A complete absence of authentication is a NOMINAL case, not an
        # error: this read is the indexable face of the product, and a search engine's crawler
        # has neither cookie, nor bearer token, nor any way of minting one. Guest mode takes
        # the same path. See "Public read and identified read" at the top of the document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 300
      parameters:
        - $ref: '#/components/parameters/ArtistId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: The page.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data: { $ref: '#/components/schemas/ArtistDetail' }
              example:
                servedAt: '2026-09-21T18:02:18.000Z'
                data:
                  id: 019928a0-7d31-7a10-b8c4-2f9e11a4c333
                  channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                  name: Compagnie Verticale
                  categoryId: dance-contemporary
                  followers: 4120
                  isLiveNow: true
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/search:
    get:
      operationId: search
      tags: [discovery]
      summary: Full-text search, facets counted on the current query, grouping by show.
      description: |
        **The paginated unit is the show** for `best`, `lives` and `replays`; the `artists` tab
        paginates artists. The "soon" sort is that of the **representative date**, and the "this
        weekend" filter applies **before** grouping.

        Facet counts are computed on the current query and returned **in the same response**: no
        second call. The total count is **approximate and bounded** — exact up to the threshold served
        as `DomainConstants.searchExactTotalLimit`, a lower bound beyond it, and `totalIsLowerBound`
        says which of the two it is.

        **Budget ≤ 200 ms**: a television's on-screen keyboard produces one character per press and
        the results live as you type; beyond that, the visual feedback of typing comes adrift. The
        request is **cancellable** — the client closes the socket, the server gives up.

        **Public read.** Called **with no authentication at all**, this operation returns the
        **public body** — identical for every anonymous caller, hence shareable in a common
        cache. The three per-viewer overlays (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) are then **absent**, never null. Called with a session or a bearer
        token, it returns the public body **plus** the overlays, and becomes private.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing, identity, streaming]
      security:
        # **Public read.** A complete absence of authentication is a NOMINAL case, not an
        # error: this read is the indexable face of the product, and a search engine's crawler
        # has neither cookie, nor bearer token, nor any way of minting one. Guest mode takes
        # the same path. See "Public read and identified read" at the top of the document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 60
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: q
          in: query
          schema: { type: string, minLength: 2 }
        - name: tab
          in: query
          schema: { type: string, enum: [best, lives, replays, artists], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "A sort or filter key. It is a property of THIS endpoint's list — which orders it offers — not of the domain, and adding one is an endpoint change rather than a vocabulary change.", default: best }
        - name: sort
          in: query
          description: '**Five sorts**, not four: `price_desc` exists in the design, exactly like the other four.'
          schema: { type: string, enum: [relevance, soon, popularity, price_asc, price_desc], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "A sort or filter key. It is a property of THIS endpoint's list — which orders it offers — not of the domain, and adding one is an endpoint change rather than a vocabulary change.", default: relevance }
        - name: filters
          in: query
          description: |
            Criteria, in the grammar **published** opposite. This parameter used to be a free string: on
            the most important parameter of the most used screen, that meant zod validated nothing and
            three surfaces would serialise it three ways — when a normalised shape **already exists**,
            since `normalizeSearchCriteria()` produces its signature in `@arthome/core`. That is the
            shape published here, and it is the same one as `SavedSearch.criteria`.
          schema: { $ref: '#/components/schemas/SearchCriteria' }
      responses:
        '200':
          description: Results, facets and structured filters.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [page, facets]
                    properties:
                      groups: { type: array, items: { $ref: '#/components/schemas/ShowGroup' } }
                      artists: { type: array, items: { $ref: '#/components/schemas/ArtistSummary' } }
                      facets: { type: array, items: { $ref: '#/components/schemas/Facet' } }
                      structuredFilters: { type: array, items: { $ref: '#/components/schemas/StructuredFilter' } }
                      page: { $ref: '#/components/schemas/CursorPageInfo' }
              example:
                servedAt: '2026-09-21T18:02:19.000Z'
                groups: []
                facets: [{ facetId: category, values: [{ id: dance-contemporary, count: 42 }] }]
                structuredFilters: [{ filterId: price, kind: money_range, min: 0, max: 9000 }]
                page: { hasMore: true, nextCursor: eyJjIjoiMjAyNi0wOS0yMVQyMDowMDowMFoifQ, approximateTotal: 10000, totalIsLowerBound: true }
        '400': { $ref: '#/components/responses/BadRequest' }
        '410': { $ref: '#/components/responses/Gone' }

  /v1/plans:
    get:
      operationId: listPlans
      tags: [commerce]
      summary: The three plans, what they open, and the discount on seats.
      description: |
        Three plans, their nine possible openings, the discount on seats and the concurrent-screen
        ceiling. **The ceiling is published here and enforced by `streaming`**: it is an execution
        constraint, not a marketing line.

        **Public read.** Called **with no authentication at all**, this operation returns the
        **public body** — identical for every anonymous caller, hence shareable in a common
        cache. The three per-viewer overlays (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) are then **absent**, never null. Called with a session or a bearer
        token, it returns the public body **plus** the overlays, and becomes private.
      x-arthome-maturity: stable
      x-arthome-upstream: [ticketing]
      security:
        # **Public read.** A complete absence of authentication is a NOMINAL case, not an
        # error: this read is the indexable face of the product, and a search engine's crawler
        # has neither cookie, nor bearer token, nor any way of minting one. Guest mode takes
        # the same path. See "Public read and identified read" at the top of the document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 300
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: The plans.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [items]
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/Plan' } }
              example:
                servedAt: '2026-09-21T18:02:20.000Z'
                items:
                  - tier: pass
                    price: { amountMinor: 1200, currencyCode: EUR }
                    opens: [browse, trailers, free_dates, replays, one_live_month]
                    seatDiscountBps: 1000
                    concurrentStreamsAllowed: 1
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/replays:
    get:
      operationId: listReplays
      tags: [discovery]
      summary: Replays online, the ones expiring first — a discovery page, public.
      description: |
        **This is a discovery page, not "My replays".** The distinction is not cosmetic: "Replays"
        is a permanent entry in a television's sidebar, exactly like "Live" or "Categories", and it
        is not prefixed "My" — unlike "My seats" and "My list", which are. Its content is the
        catalogue of replays **on sale or included**, including ones never watched: that is the
        whole point of it.

        Three reasons the existing paths were no substitute: `/v1/me/replays` returns what one
        **holds** and answers `401` to a visitor — yet on a television the sidebar is always there,
        and hiding an entry based on the session makes the menu change size under the focus, which
        breaks focus memory; `/v1/search?tab=replays` requires `q` of at least two characters, so
        it has no empty search; and its paginated unit is the **show**, whereas a replay window
        expires **per date** — grouping by show makes the "expiring first" sort inexpressible.

        **Public read**, like the nine other catalogue operations.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing, streaming]
      x-arthome-freshness: 60
      security:
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: sort
          in: query
          description: '`expiring_first` is the default, and it is the sort the page announces.'
          schema: { type: string, enum: [expiring_first, recent, popularity], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "A sort or filter key. It is a property of THIS endpoint's list — which orders it offers — not of the domain, and adding one is an endpoint change rather than a vocabulary change.", default: expiring_first }
        - name: categoryId
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Page of online replays, sorted by shortest remaining window first.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [items, page]
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/DateCard' } }
                      page: { $ref: '#/components/schemas/CursorPageInfo' }
              example:
                servedAt: '2026-09-21T18:02:40.000Z'
                validUntil: '2026-09-21T18:03:40.000Z'
                items: []
                page: { hasMore: false, emptyReason: no_replay_available, emptyActionCode: browse_catalog }
        '410': { $ref: '#/components/responses/Gone' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/rails/{railId}:
    get:
      operationId: extendRail
      tags: [discovery]
      summary: Extends a home rail — the consumer of `Rail.nextCursor`.
      description: |
        `Rail.nextCursor` was served and **no operation consumed it**. A rail extends, it does not
        paginate on screen: the cursor serves to append items on the right when the focus reaches
        the edge, not to change page.

        Composition and order stay **server-side** — the surface never filters the catalogue.

        **Public read**, like the rail whose content it continues.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing, identity, streaming]
      x-arthome-freshness: 60
      security:
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      parameters:
        - name: railId
          in: path
          required: true
          description: The `id` carried by the rail, never a string built by the surface.
          schema: { type: string }
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: The rest of the rail.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/Rail' } }
              example:
                servedAt: '2026-09-21T18:02:45.000Z'
                data:
                  id: cat-dance-contemporary
                  titleCode: home.rail.category
                  kind: category
                  itemKind: date
                  cardForm: wide
                  items: []
                  total: 84
                  totalIsLowerBound: false
                  nextCursor: null
        '404': { $ref: '#/components/responses/NotFound' }
        '410': { $ref: '#/components/responses/Gone' }

  /v1/resolve:
    get:
      operationId: resolvePublicLink
      tags: [discovery]
      summary: Resolves a canonical URL or a slug to the resource it designates.
      description: |
        **`slug` and `canonicalUrl` were served everywhere and accepted nowhere.** Path identifiers
        are UUIDs; all five occurrences of `slug` were on output. A notification pushed to a dead
        application, a shared link, a bookmark, a search engine result: all of them deliver a
        **URL**, and nothing in the contract knew how to read one.

        The gap went beyond mobile: `canonicalUrl` is what the television encodes in the QR code of
        the **Share** action — on a television, sharing cannot mean copying a link, there is neither
        a useful clipboard nor a messaging app.

        **Resolves, does not redirect.** The response names the type and the identifier, and the
        surface decides where to go: a mobile deep link, a Next route and a television page do not
        have the same destination for the same resource.

        **Public read**: a shared link opens before any sign-in.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog]
      x-arthome-freshness: 300
      security:
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - name: url
          in: query
          description: Full canonical URL. Mutually exclusive with `kind` + `slug`.
          schema: { type: string, format: uri }
        - name: kind
          in: query
          schema: { type: string, enum: [date, show, artist, category], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "A screen composition the server decides so that five surfaces do not each decide it differently." }
        - name: slug
          in: query
          schema: { type: string }
      responses:
        '200':
          description: The designated resource, and enough to paint immediately.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        required: [kind, id, canonicalUrl]
                        properties:
                          kind: { type: string, x-arthome-vocabulary: [date, show, artist, category], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "A screen composition the server decides so that five surfaces do not each decide it differently." }
                          id: { type: string }
                          canonicalUrl:
                            type: string
                            format: uri
                            description: |
                              **The target's canonical URL**, which may differ from the one requested: a slug in another
                              language, or a replaced slug, resolves to the current form. That is what lets the surface
                              correct its URL rather than keep a stale one bookmarked.
                          date: { $ref: '#/components/schemas/DateCard' }
                          artist: { $ref: '#/components/schemas/ArtistSummary' }
              example:
                servedAt: '2026-09-21T18:02:50.000Z'
                data:
                  kind: date
                  id: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                  canonicalUrl: 'https://arthome.fr/fr/d/nuit-blanche-2026-09-21'
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  # =============================================================== the date

  /v1/dates/{dateId}:
    get:
      operationId: getDateDetail
      tags: [date]
      summary: A date's page — series, suggestions, shop, prices, in the same response.
      description: |
        **One call**, and it must be **cheap**: the television surface prefetches it for the focused
        item once the focus has settled, and a prefetch paid for twice is worse than no prefetch at
        all. Hence a cache validator (`ETag`) and a declared freshness.

        **Public read.** Called **with no authentication at all**, this operation returns the
        **public body** — identical for every anonymous caller, hence shareable in a common
        cache. The three per-viewer overlays (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) are then **absent**, never null. Called with a session or a bearer
        token, it returns the public body **plus** the overlays, and becomes private.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing, identity, streaming]
      # `chat` is NOT called: the chat mode is already PROJECTED into `date_detail_public`
      # by `chat.date_chat_policy_changed`. It was both projected and called — one call for
      # data we already hold, and the storefront's only screen to cross the threshold of 4.
      security:
        # **Public read.** A complete absence of authentication is a NOMINAL case, not an
        # error: this read is the indexable face of the product, and a search engine's crawler
        # has neither cookie, nor bearer token, nor any way of minting one. Guest mode takes
        # the same path. See "Public read and identified read" at the top of the document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 60
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - name: If-None-Match
          in: header
          required: false
          schema: { type: string }
      responses:
        '200':
          description: The page.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
            ETag: { schema: { type: string }, description: "Cache validator, so the TV prefetch is not paid for twice." }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data: { $ref: '#/components/schemas/DateDetail' }
              example:
                servedAt: '2026-09-21T18:02:21.000Z'
                validUntil: '2026-09-21T18:03:21.000Z'
                data:
                  id: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                  showId: 019928a0-7d31-7a10-b8c4-2f9e11a4c111
                  channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                  slug: nuit-blanche-2026-09-21
                  canonicalUrl: 'https://arthome.fr/fr/d/nuit-blanche-2026-09-21'
                  title: Nuit blanche
                  startsAt: '2026-09-21T19:00:00Z'
                  venueClock: { venueTimezone: Europe/Paris, venueUtcOffsetMin: 120 }
                  runtimeMin: 95
                  displayState: live
                  displayStateValidUntil: '2026-09-21T20:35:00Z'
                  replay: { policy: included, windowHours: 72 }
                  rights: { scope: restricted, blackoutCountries: [CA], blackoutReasonCode: broadcaster }
                  media: { wide: [], poster: [] }
                  totalSeriesDates: 3
                  watchVerdict:
                    allowed: false
                    advisory: true
                    denialReasonCode: watch.no_seat
                    fallbackAction: buy_seat
                    validUntil: '2026-09-21T18:03:21.000Z'
        '304': { description: Unchanged since the `ETag` supplied. }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/dates/{dateId}/availability:
    get:
      operationId: refreshDateAvailability
      tags: [commerce]
      summary: Refreshes capacity and prices before showing a total.
      description: |
        The only legitimate call from a television's booking screen: the date is already in hand,
        only the capacity moves. `validUntil` is short (60 s) because the "show already started"
        price is **pro rata to the time remaining**.

        **Public read.** Called **with no authentication at all**, this operation returns the
        **public body** — identical for every anonymous caller, hence shareable in a common
        cache. The three per-viewer overlays (`watchVerdict`, `viewerRelations`,
        `viewerProgress`) are then **absent**, never null. Called with a session or a bearer
        token, it returns the public body **plus** the overlays, and becomes private.
      x-arthome-maturity: stable
      x-arthome-upstream: [ticketing]
      security:
        # **Public read.** A complete absence of authentication is a NOMINAL case, not an
        # error: this read is the indexable face of the product, and a search engine's crawler
        # has neither cookie, nor bearer token, nor any way of minting one. Guest mode takes
        # the same path. See "Public read and identified read" at the top of the document.
        - {}
        - sessionCookie: []
        - bearerToken: []
        - deviceToken: []
      x-arthome-freshness: 15
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Capacity and prices at the instant of serving.
          headers:
            Cache-Control: { $ref: '#/components/headers/CacheControlPublic' }
            Vary: { $ref: '#/components/headers/VaryAuth' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        properties:
                          seatsAvailable: { type: integer }
                          waitlistCount: { type: integer }
                          fillRateBps: { type: integer }
                          soldOut: { type: boolean }
                          priceTiers: { type: array, items: { $ref: '#/components/schemas/PriceTier' } }
                          serviceFeePerSeat:
                            $ref: '#/components/schemas/Money'
                            x-arthome-tax-basis: inclusive
              example:
                servedAt: '2026-09-21T18:40:00.000Z'
                validUntil: '2026-09-21T18:41:00.000Z'
                data:
                  seatsAvailable: 42
                  waitlistCount: 0
                  fillRateBps: 8700
                  soldOut: false
                  priceTiers: [{ tier: full, amount: { amountMinor: 2400, currencyCode: EUR }, active: true }]
                  serviceFeePerSeat: { amountMinor: 150, currencyCode: EUR }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/dates/{dateId}/seat-quote:
    post:
      operationId: quoteSeat
      tags: [commerce]
      summary: The purchase summary, composed server-side.
      description: |
        **The four lines come from the contract**: tier, service fee, subscription discount,
        promotion. Discount and promotion **do not stack** — the one most favourable to the viewer
        wins, and the rule lives in `@arthome/core` (D-017). Otherwise it would be written three
        times.
      x-arthome-maturity: stable
      x-arthome-upstream: [ticketing]
      x-arthome-idempotency-exemption: |
        **A read disguised as a `POST`: it is a `POST` because its criteria do not fit in a URL, not
        because it writes.** A quote computes, it creates nothing — so there is no effect to
        deduplicate.

        **And a key would protect nothing here**, because freshness is already guaranteed elsewhere:
        the price carries its `validUntil`, and `expectedTotal` is **mandatory** at purchase — a
        stale price is refused by `order.price_stale` at the moment that matters, not at quoting time.

        **Worse: it would do harm.** The regime replays the original response **verbatim**, so a
        replayed quote would be a quote **already part-spent, or expired** — or a price that the
        pro-rata promotion has since made wrong. Same reason as a token renewal: what is being asked
        for is a fresh value.
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tier, quantity]
              properties:
                tier: { type: string, enum: [full, reduced, support], x-arthome-vocabulary-source: PRICE_TIERS }
                quantity: { type: integer, minimum: 1, maximum: 10 }
                contributionMinor:
                  type: [integer, 'null']
                  description: |
                    Free contribution to the company, for a free seat. The amount is **open**; minimum and
                    maximum are **domain rules**, not attributes of an input field, and the refusal carries
                    **`CONTRIBUTION_OUT_OF_RANGE`**, with both bounds as parameters. The code was announced and
                    never named — therefore destined to be invented three times.
                applyCreditId: { type: [string, 'null'], format: uuid }
            example: { tier: full, quantity: 2 }
      responses:
        '200':
          description: Devis.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data: { $ref: '#/components/schemas/SeatQuote' }
              example:
                servedAt: '2026-09-21T18:41:10.000Z'
                validUntil: '2026-09-21T18:42:10.000Z'
                data:
                  lines:
                    - { kind: tier, amount: { amountMinor: 4800, currencyCode: EUR } }
                    - { kind: service_fee, amount: { amountMinor: 300, currencyCode: EUR } }
                    - { kind: subscription_discount, discountReasonCode: plan_pass, amount: { amountMinor: -480, currencyCode: EUR } }
                  total: { amountMinor: 4620, currencyCode: EUR }
                  validUntil: '2026-09-21T18:42:10.000Z'
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  # =============================================================== money commands

  /v1/orders/seats:
    post:
      operationId: purchaseSeat
      tags: [commerce]
      summary: Buys one or more seats.
      description: |
        **A double click never creates two seats**: `Idempotency-Key` is mandatory, generated by the
        surface **before sending and persisted before sending**. A replayed key returns the first
        attempt's response, never an error — that is the difference between safe resumption and a
        lost seat.

        **The expected price is sent and verified.** The refusal carries `order.price_stale`, **distinct**
        from a payment failure, with the current price as a parameter: with five promotion reasons,
        one of them computed pro rata to elapsed time, the gap between the displayed price and the
        valid price is **structural**, not accidental.

[...]
