openapi: 3.1.1

info:
  title: Arthome Studio BFF
  version: 1.0.0
  summary: The single contract for the two professional surfaces — studio web and studio mobile.
  description: |
    Contract of the **studio BFF**. It serves `studio-web` (Angular) and `studio-mobile` (Angular
    + Ionic + Capacitor). It is a **separate BFF** from the storefront's, and that is not a
    convenience: the two products share neither the same session (cookie versus bearer token), nor
    the same pagination (page + total versus cursor), nor the same projection envelope (per role
    versus per viewer), nor the same release cycle.

    ## The rule that governs this whole document: role projection is server-side

    `canRevenue` **does not hide a column: it decides what the response contains.** A control room
    that received raw ticketing figures in its payload and did not display them is a **leak**, not
    a rule — the payload is in the clear inside a WebView, inspectable, and it survives in the
    phone's HTTP cache.

    Three consequences, carried everywhere in this document:

    - **a forbidden field is absent, never present and null.** Yes, that means different shapes
      for the same screen depending on the role, and it is **intended**;
    - **a sort key on an absent field is refused** (`SORT_KEY_FORBIDDEN`), never ignored — a sort
      silently accepted on revenue betrays the ordering of the very values one is not allowed to
      see;
    - **a notification never carries an amount if the recipient role lacks `canRevenue`**: it is
      displayed on a locked screen.

    ## A coded field is named after its vocabulary, never `reasonCode`

    `reasonCode` was carried by **five fields over four unrelated vocabularies** across the two
    contracts — playback refusals, blackout reasons, refund reasons, cancellation reasons — plus two
    price lines where it was a bare string. Nothing collided on the wire, since each lives in its own
    schema, and that is exactly what made it survive: **it was disambiguated only by where the reader
    was standing.** A generated client may hoist one `ReasonCode` type out of all of them, and a human
    reading both documents assumes one vocabulary and is wrong.

    So every coded field now names its own vocabulary — `denialReasonCode`, `blackoutReasonCode`,
    `refundReasonCode`, `cancelReasonCode`, `discountReasonCode` — which is the convention
    `failureCode`, `originCode` and `emptyReason` were already following. The generic name was the
    exception, not the rule.

    **The one place a bare `reasonCode` remains is inside `error.params`**, and it is not an exception
    to this: `params` is a bag whose keys are defined **per error `code`**, so the code that carries it
    is the disambiguator, stated rather than inferred.

    ## Eight roles, never six

    Authorisation bears on the **eight** canonical values — `artist`, `production`,
    `coordination`, `director`, `video`, `sound`, `moderation`, `treasury`. The fallback to six
    personas is **a presentation label** and appears in no response: it conflates `director`,
    `video` and `sound` under "control room" and **erases `director`'s right to invite**. A person
    holds a **set** of roles on a channel, and their navigation is the **union** of those
    accesses, never a rank.

    Two scales of access, never conflated: **channel membership**, which is permanent, and
    **one-off access to a date**, which expires at a served instant. Conflating them would turn
    revoking a stand-in into expulsion from the channel.

    ## Rights move during the session

    Every response carries `X-Arthome-Rights-Version`. When it changes, the navigation is stale:
    an accepted invitation adds a channel to the switcher, a one-off access expires on its own at
    curtain-down, a role is withdrawn. Without that counter, the person keeps a tab that opens a
    403 and finds out **while on duty**. The maximum staleness of authorisation is
    **60 seconds**, the lifetime of the internal token minted by the BFF.

    ## Three command regimes, named

    - **conditional** — most of the gestures made on duty. They carry `expectedVersion`, and the
      server **refuses** if it has changed. The canonical case is the moderation verdict: the
      second verdict is **refused, with the verdict that won and the name of whoever rendered
      it**. A blind idempotent replay would produce exactly the opposite;
    - **leases** — "take charge" is not deciding. A lease **expires by itself**: a moderator whose
      phone dies does not freeze a row for the whole live show. Taking charge is **never** queued
      offline;
    - **two-stage** — changing a bank account, transferring ownership, inviting. They create a
      **pending state** that the contract carries, and a bank change **suspends the payout in
      flight**.

    ## Pagination (D-010)

    **Page + total** everywhere — the design displays "1–8 OF N" and lists the page numbers, so it
    needs the total and the number of pages. **Two named exceptions, and not one more**: the
    **moderation queue** and the **live chat** move to **cursors**, because they are streams and
    offset pagination duplicates and skips there **mechanically**, not exceptionally.

    **The audit log stays on page + total, with a mandatory period filter.** Nobody pages to the
    50,000th entry of a log: you filter by period first. A cursor would trade a problem we do not
    have against the loss of the page numbers, which are precisely the affordance wanted.

    ## Errors

    The same envelope as the storefront: `code`, `nature`, `params`, `traceId`. `nature` is what being
    on duty requires: `refused` (do not retry, understand), `unavailable` (retry),
    `offline_forbidden` (a **local** refusal, before anything is sent — **never emitted by the
    server**). It is the decision someone on call must make in ten seconds.

    ## Maturity

    `identity`, `catalog` and `ticketing` are **stable**; `streaming`, `chat`, `payouts` and
    `notifications` are **provisional**. Every operation carries `x-arthome-maturity`.
  contact:
    name: Arthome — architecture
  license:
    name: UNLICENSED

servers:
  - url: https://studio-api.arthome.fr
    description: production
  - url: https://studio-api.staging.arthome.fr
    description: recette
  - url: http://localhost:3002
    description: local development (docker compose)

tags:
  - name: bootstrap
    description: Bootstrap, effective rights, inbox, counters.
  - name: agenda
    description: Channel schedule, duties, event board.
  - name: publication
    description: A date's life cycle, state machine, publication gate.
  - name: ticketing
    description: Jauge, tarifs, contremarques, remboursements.
  - name: run
    description: 'Running the live show: health, chapters, incidents, stream key.'
  - name: moderation
    description: File, verdicts, sanctions, dictionnaire.
  - name: crew
    description: Team, roles, invitations, one-off accesses.
  - name: payouts
    description: Payouts, banking, reconciliation, accounting exports.
  - name: channel
    description: Public identity, shop, replays, settings, audit log.

security:
  - sessionCookie: []
  - bearerToken: []

paths:
  # =============================================================== bootstrap

  /v1/auth/sign-in:
    post:
      operationId: signInStudio
      tags: [bootstrap]
      summary: Opens a professional session.
      description: |
        **Documented relay to `identity`**, and mandatory for the same three reasons as on the
        storefront side: zod is the source and the OpenAPI is generated from it — a transparent relay
        would not appear here; i18n by codes forbids the library's English sentences; and per-device
        rate limiting does not exist in it.

        The response carries **the full bootstrap**, not a raw session shape: the surface paints
        nothing before it, and a second call would be one more blank screen.

        `TWO_FACTOR_REQUIRED` carries a `challengeId`. Two-factor authentication is a **precondition**
        of transferring ownership of a channel.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      x-arthome-idempotency-exemption: |
        A session opening must **always** re-authenticate: returning a memorised response would
        amount to issuing a token without checking the credentials. The protection against a double
        submit is rate limiting, not the idempotency store.
      parameters:
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/Traceparent"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, mode]
              properties:
                email: { type: string, format: email }
                password: { type: string }
                mode: { $ref: "#/components/schemas/SessionMode" }
                deviceId: { type: [string, "null"], format: uuid }
                deviceLabel: { type: [string, "null"] }
            example:
              {
                email: claire@example.org,
                password: "un-mot-de-passe-long",
                mode: bearer,
                deviceLabel: "iPhone de Claire",
              }
      responses:
        "200":
          description: Session opened and bootstrap served, in the requested mode.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties: { data: { $ref: "#/components/schemas/SessionEstablished" } }
              example:
                servedAt: "2026-09-21T17:58:00.000Z"
                rightsVersion: 412
                data:
                  mode: bearer
                  accessToken: sess_7c1de4
                  refreshToken: refr_2b9f
                  expiresAt: "2026-09-28T17:58:00Z"
                  bootstrap:
                    person:
                      { personId: 019928b0-0000-7000-8000-000000000001, displayName: "Claire D." }
                    channels: []
                    personNavigation: [agenda, inbox, help]
                    rightsVersion: 412
                    constants:
                      {
                        technicalProvisionThreshold: 10000,
                        provisionRevisionHours: 72,
                        waitlistPriorityWindowHours: 2,
                        cancelDeadlineMinutesBefore: 60,
                        payoutDelayDays: 14,
                        commissionRateBps: 1200,
                        chatBurstThresholdPerMinute: 60,
                        holdScreenAutoAfterSec: 15,
                        seasonBounds: { startsOn: "09-01", endsOn: "08-31" },
                      }
                    labelCatalog:
                      {
                        locale: fr,
                        version: 41,
                        url: "https://cdn.arthome.fr/i18n/studio/fr/v41.json",
                      }
                    counters: { moderationPending: 14, inboxUnread: 2, dutiesTonight: 3 }
        "401":
          description: "`INVALID_CREDENTIALS` — indistinguishable from an unknown email — or `TWO_FACTOR_REQUIRED`."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  {
                    code: identity.two_factor_required,
                    nature: refused,
                    params: { challengeId: chl_7ab2 },
                    traceId: 4bf92f3577b34da6a3ce929d0e0e4736,
                  }
                servedAt: "2026-09-21T17:58:00.000Z"
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/auth/two-factor/verify:
    post:
      operationId: verifyTwoFactorStudio
      tags: [bootstrap]
      summary: Answers the two-factor challenge.
      description: "Short-lived, single-use `challengeId`; a spent backup code cannot be replayed."
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/Traceparent"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challengeId, code, mode]
              properties:
                challengeId: { type: string }
                code: { type: string }
                mode: { $ref: "#/components/schemas/SessionMode" }
                deviceId: { type: [string, "null"], format: uuid }
            example: { challengeId: chl_7ab2, code: "318204", mode: bearer }
      responses:
        "200":
          description: Session ouverte.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties: { data: { $ref: "#/components/schemas/SessionEstablished" } }
              example:
                servedAt: "2026-09-21T17:58:20.000Z"
                rightsVersion: 412
                data:
                  mode: cookie
                  bootstrap:
                    person:
                      { personId: 019928b0-0000-7000-8000-000000000001, displayName: "Claire D." }
                    channels: []
                    rightsVersion: 412
                    constants:
                      {
                        technicalProvisionThreshold: 10000,
                        provisionRevisionHours: 72,
                        waitlistPriorityWindowHours: 2,
                        cancelDeadlineMinutesBefore: 60,
                        payoutDelayDays: 14,
                        commissionRateBps: 1200,
                        chatBurstThresholdPerMinute: 60,
                        holdScreenAutoAfterSec: 15,
                        seasonBounds: { startsOn: "09-01", endsOn: "08-31" },
                      }
                    labelCatalog:
                      {
                        locale: fr,
                        version: 41,
                        url: "https://cdn.arthome.fr/i18n/studio/fr/v41.json",
                      }
                    counters: { moderationPending: 14, inboxUnread: 2, dutiesTonight: 3 }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "410": { $ref: "#/components/responses/Gone" }

  /v1/auth/forget-password:
    post:
      operationId: requestPasswordResetStudio
      tags: [bootstrap]
      summary: Requests a password reset link.
      description: |
        **Always answers `202`**, whether the account exists or not. The email's link points at
        **`studio.arthome.fr/reset`** — the surface, per product and per language — never at the API:
        the library's default would build it from its base address and would land the person on an
        API entry point.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      security: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/Traceparent"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                locale:
                  type: string
                  description: |
                    **The domain declares exactly two.** This one is an **input**, so the enum is strict:
                    a locale we cannot render is refused rather than silently answered in another
                    language.
                  enum: [fr, en]
                  x-arthome-vocabulary-source: LOCALES
                  examples: [fr]
            example: { email: claire@example.org, locale: fr }
      responses:
        "202":
          description: Request accepted — the answer is identical in both cases.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    properties:
                      data: { type: object, properties: { accepted: { type: boolean } } }
              example:
                servedAt: "2026-09-21T17:57:00.000Z"
                rightsVersion: 0
                data: { accepted: true }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/bootstrap:
    get:
      operationId: getStudioBootstrap
      tags: [bootstrap]
      summary: The bootstrap — the only thing the first paint waits for.
      description: |
        **One call**, and nothing is painted until it is there: the person, **all** their channels
        with their effective roles, `grants` **projected onto those roles**, the preferences, the
        rights version, the badge counters and the domain constants.

        **The root is a person, not a channel.** A freelance stage manager can be on duty for two
        live shows the same evening, at two different channels.

        The failure of this call is **a failure screen in its own right, with the trace identifier**:
        it is the only moment left where the person can still read out a number and dictate it to
        support.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      parameters:
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      responses:
        "200":
          description: The bootstrap.
          headers:
            X-Arthome-Served-At: { $ref: "#/components/headers/ServedAt" }
            X-Arthome-Rights-Version: { $ref: "#/components/headers/RightsVersion" }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties: { data: { $ref: "#/components/schemas/StudioBootstrap" } }
              example:
                servedAt: "2026-09-21T18:00:00.000Z"
                rightsVersion: 412
                data:
                  person:
                    {
                      personId: 019928b0-0000-7000-8000-000000000001,
                      displayName: "Claire D.",
                      isFreelance: true,
                      runsCalled: 84,
                      readingTimezone: Europe/Paris,
                    }
                  rightsVersion: 412
                  channels:
                    - channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                      channelName: Compagnie Verticale
                      roles: [production, coordination]
                      isOwner: false
                      navigation:
                        [
                          dashboard,
                          crew,
                          events,
                          stream,
                          stats,
                          tickets,
                          store,
                          replays,
                          team,
                          journal,
                          help,
                        ]
                      datePanes: [public, tickets, chat, tech, crew, replay]
                      canRevenue: true
                      canOps: true
                      canTech: true
                      canDecideOutcome: true
                      assignableRoles: [coordination, director, video, sound, moderation]
                      dateGrants: []
                  constants:
                    technicalProvisionThreshold: 10000
                    provisionRevisionHours: 72
                    waitlistPriorityWindowHours: 2
                    cancelDeadlineMinutesBefore: 60
                    payoutDelayDays: 14
                    commissionRateBps: 1200
                    chatBurstThresholdPerMinute: 60
                    moderationQueueAlertThreshold: 10
                    crewUnassignedAlertHoursBefore: 24
                    holdScreenAutoAfterSec: 15
                    seasonBounds: { startsOn: "09-01", endsOn: "08-31" }
                  labelCatalog:
                    {
                      locale: fr,
                      version: 41,
                      url: "https://cdn.arthome.fr/i18n/studio/fr/v41.json",
                    }
                  counters:
                    {
                      moderationPending: 14,
                      inboxUnread: 2,
                      dutiesTonight: 3,
                      invitationsPending: 1,
                      datesToCover: 3,
                      payoutsDue: 0,
                    }
                  realtime: { namespace: /studio, pulseIntervalSec: 5 }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /v1/inbox:
    get:
      operationId: listInbox
      tags: [bootstrap]
      summary: The inbox — invitations and alerts routed by role and by channel.
      description: |
        **Open to everyone**, whatever the role. The routing is decided **server-side**: the
        application does not filter a common queue, otherwise it would receive alerts it has no right
        to read and would merely refrain from displaying them — which is a leak, not a rule.
      x-arthome-maturity: provisional
      x-arthome-upstream: [notifications]
      parameters:
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: A page of inbox entries.
          headers:
            X-Arthome-Rights-Version: { $ref: "#/components/headers/RightsVersion" }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [items, page]
                    properties:
                      items: { type: array, items: { $ref: "#/components/schemas/InboxEntry" } }
                      page: { $ref: "#/components/schemas/OffsetPageInfo" }
              example:
                servedAt: "2026-09-21T18:00:10.000Z"
                rightsVersion: 412
                items:
                  - id: 019928b1-0000-7000-8000-000000000001
                    kind: invitation
                    channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                    body:
                      {
                        contentLanguage: fr,
                        text: "Compagnie Verticale vous invite comme coordination.",
                      }
                    deepLinkCode: crew_invitation
                    createdAt: "2026-09-20T14:02:00Z"
                    read: false
                page: { page: 1, pageSize: 20, totalItems: 2, totalPages: 1 }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      operationId: markInboxRead
      tags: [bootstrap]
      summary: Marks inbox entries as read.
      description: "**Monotonic: nothing gets un-read.** Replayed, it changes nothing."
      x-arthome-maturity: provisional
      x-arthome-upstream: [notifications]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entryIds: { type: array, items: { type: string, format: uuid } }
                all: { type: boolean, default: false }
            example: { all: true }
      responses:
        "200":
          description: Up-to-date counters.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties: { data: { $ref: "#/components/schemas/StudioCounters" } }
              example:
                servedAt: "2026-09-21T18:00:20.000Z"
                rightsVersion: 412
                data: { moderationPending: 14, inboxUnread: 0, dutiesTonight: 3 }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/reauth:
    post:
      operationId: createReauthToken
      tags: [bootstrap]
      summary: Mints the re-authentication token the four sensitive commands require.
      description: |
        **Four commands declared it `required` and no entry point issued it**: revealing a stream
        key, rotating it, transferring ownership of a channel, deleting a channel. The contract
        demanded a token it did not offer.

        **The factor is served, not guessed.** `GET` returns `acceptedFactors` for this device and
        this person; the surface offers what the server accepts, instead of assuming. This is the
        question being on duty asks: rotating a stream key is the stage manager's emergency gesture — the
        one you make when you suspect a leak **during** a live show. If re-authentication is a
        password to be typed in a dark room, one-handed, the guarantee is paid for in dead air.

        **What the contract guarantees**: `platform_biometric` is offered as soon as the device
        declares it, and **its failure closes nothing** — it falls back to the other accepted factors,
        listed in the same response. A single factor that fails in the room is a blocked operator.

        The token is **single-use**, short-lived, and **bound to the command it targets**: a token
        minted to reveal a key does not transfer a channel.
      x-arthome-maturity: provisional
      x-arthome-upstream: [identity]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [intent, factor]
              properties:
                intent:
                  type: string
                  description: The command targeted. The token is valid for that one only.
                  enum:
                    [
                      reveal_stream_key,
                      rotate_stream_key,
                      transfer_ownership,
                      delete_channel,
                      change_bank_details,
                    ]
                  x-arthome-vocabulary-source: none
                  x-arthome-vocabulary-reason: "A vocabulary local to this contract. The domain neither produces nor consumes these values — they describe what this endpoint offers, and a new member is an endpoint change."
                factor: { type: string, enum: [platform_biometric, password, totp, backup_code], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "An account-management shape, local to this endpoint: what the person asked for, not a fact the domain reasons about." }
                proof:
                  type: [string, "null"]
                  description: |
                    Proof of the factor. **Absent for `platform_biometric`**: the device attests, the secret never
                    leaves the hardware.
            example: { intent: rotate_stream_key, factor: platform_biometric }
      responses:
        "201":
          description: Token minted, single-use.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        required: [reauthToken, expiresAt, intent]
                        properties:
                          reauthToken: { type: string }
                          intent: { type: string }
                          expiresAt: { type: string, format: date-time }
              example:
                servedAt: "2026-09-21T18:39:50.000Z"
                rightsVersion: 412
                data:
                  {
                    reauthToken: ott_9f2ac1,
                    intent: rotate_stream_key,
                    expiresAt: "2026-09-21T18:44:50Z",
                  }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
    get:
      operationId: listReauthFactors
      tags: [bootstrap]
      summary: The re-authentication factors accepted for this device.
      description: |
        **Served, so that the surface assumes nothing.** It offers what the server accepts, and it
        knows in advance whether a fallback exists when biometrics fail — which decides what interface
        to show in a room, one-handed.
      x-arthome-maturity: provisional
      x-arthome-upstream: [identity]
      parameters:
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      responses:
        "200":
          description: The accepted factors, in the server's order of preference.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        properties:
                          acceptedFactors:
                            type: array
                            items:
                              {
                                type: string,
                                x-arthome-vocabulary:
                                  [platform_biometric, password, totp, backup_code], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "An account-management shape, local to this endpoint: what the person asked for, not a fact the domain reasons about.",
                              }
                          platformBiometricEnrolled: { type: boolean }
              example:
                servedAt: "2026-09-21T18:39:40.000Z"
                rightsVersion: 412
                data:
                  {
                    acceptedFactors: [platform_biometric, totp, backup_code],
                    platformBiometricEnrolled: true,
                  }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/devices:
    get:
      operationId: listStudioDevices
      tags: [bootstrap]
      summary: The devices this person is signed in to the studio on.
      description: |
        **The studio offered neither a list, nor revocation, nor sign-out**, while the answer to the
        surface's question promised "revocation per device". What that is worth concretely: **a phone
        left behind in a room opens a moderation console and the revelation of a stream key** — and,
        a freelancer working across several channels, on channels that do not belong to its bearer.
        Neither the person nor the channel's owner had any gesture available.

        The notion of a device here is the studio's **token-bearing session**, distinct from the
        television's pairing device: here a device is the bearer of a refresh token bound to the
        native store.
      x-arthome-maturity: provisional
      x-arthome-upstream: [identity]
      parameters:
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      responses:
        "200":
          description: The devices, with the calling one marked.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [items]
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          required: [deviceId, label, lastSeenAt, isCurrent]
                          properties:
                            deviceId: { type: string, format: uuid }
                            label: { type: string }
                            platform: { type: string, x-arthome-vocabulary: [ios, android, web], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "An external provider or platform identifier. It is their vocabulary, not ours, and it changes when they change." }
                            city: { type: [string, "null"] }
                            lastSeenAt: { type: string, format: date-time }
                            isCurrent: { type: boolean }
              example:
                servedAt: "2026-09-21T18:52:00.000Z"
                rightsVersion: 412
                items:
                  - {
                      deviceId: 019928eb-0000-7000-8000-000000000001,
                      label: "iPhone de Claire",
                      platform: ios,
                      city: Paris,
                      lastSeenAt: "2026-09-21T18:51:00Z",
                      isCurrent: true,
                    }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/devices/{deviceId}:
    delete:
      operationId: revokeStudioDevice
      tags: [bootstrap]
      summary: Revokes a studio device — the phone left behind in a room.
      description: |
        Revokes the refresh token bound to this device. The effect is immediate on the console — the
        server makes it leave the real-time rooms without waiting for a reconnection — and **at most
        60 s on commands**, the lifetime of the internal token already minted.

        **A security command: never queued offline.** It must fail loudly rather than be replayed
        blind.
      x-arthome-maturity: provisional
      x-arthome-upstream: [identity]
      parameters:
        - name: deviceId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      responses:
        "200":
          description: Device revoked, with the delay before it takes effect on commands.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          revoked: { type: boolean }
                          commandsStopWithinSec: { type: integer, examples: [60] }
              example:
                servedAt: "2026-09-21T18:53:00.000Z"
                rightsVersion: 413
                data: { revoked: true, commandsStopWithinSec: 60 }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/me/session:
    delete:
      operationId: signOutStudio
      tags: [bootstrap]
      summary: Signing out — an operator's only way out, and it did not exist.
      description: |
        The "My account" sheet carries "SIGN OUT" and the contract had no gesture for it. Closes
        **this** device's session and revokes its refresh token; the person's other devices stay
        signed in.
      x-arthome-maturity: provisional
      x-arthome-upstream: [identity]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      responses:
        "200":
          description: Session closed. Replayed on an already-closed session, it succeeds.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    properties:
                      data: { type: object, properties: { signedOut: { type: boolean } } }
              example:
                servedAt: "2026-09-21T23:10:00.000Z"
                rightsVersion: 412
                data: { signedOut: true }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/push-registrations:
    put:
      operationId: registerStudioPushToken
      tags: [bootstrap]
      summary: Registers the push token — without it, a duty does not wake up.
      description: |
        **The routing was settled, the recipient did not exist.** Duty alerts — moderation queue
        saturated, no moderator assigned at D-1, unstable bitrate — arrive precisely when the
        application is **not** in the foreground. Payload redaction was promised; the payload had
        nobody to go to.

        **A put, not an append**: re-registering the same token creates no duplicate, and a dead token
        is detached by the service when the provider reports it.

        **Redaction applies**: a notification never carries an amount if the recipient role lacks
        `canRevenue` — it is displayed on a locked screen.
      x-arthome-maturity: provisional
      x-arthome-upstream: [notifications]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [platform, token, deviceId]
              properties:
                platform: { type: string, enum: [fcm, apns], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "An external provider or platform identifier. It is their vocabulary, not ours, and it changes when they change." }
                token: { type: string }
                deviceId: { type: string, format: uuid }
                locale:
                  type: string
                  description: |
                    **The domain declares exactly two.** This one is an **input**, so the enum is strict:
                    a locale we cannot render is refused rather than silently answered in another
                    language.
                  enum: [fr, en]
                  x-arthome-vocabulary-source: LOCALES
                  examples: [fr]
            example:
              {
                platform: apns,
                token: "a1b2c3…",
                deviceId: 019928eb-0000-7000-8000-000000000001,
                locale: fr,
              }
      responses:
        "200":
          description: Token registered.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    properties:
                      data: { type: object, properties: { registered: { type: boolean } } }
              example:
                servedAt: "2026-09-21T18:00:40.000Z"
                rightsVersion: 412
                data: { registered: true }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/changes:
    get:
      operationId: listStudioChanges
      tags: [bootstrap]
      summary: The invalidations since a given instant — not the data.
      description: |
        The mechanism was **written, argued, specified** — and wired to the storefront BFF only. The
        studio has the same need, on the surface one leaves open for two hours while a colleague edits
        the same objects.

        And it has a reason that exists nowhere else: under Ionic's router, **a page stays in the DOM
        after you leave it** and redisplays as-is on the way back. Without a cheap freshness read,
        every return to a page is either a stale display or a full reload over a room's 4G.

        `complete: false` means "too many changes, reload everything" — the same honesty as
        `resume:too_old` on the channel.
      x-arthome-maturity: stable
      x-arthome-upstream: [realtime]
      # Like its storefront twin: a read of the real-time gateway's Redis resume buffer,
      # not a query against the six services.
      parameters:
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
        - name: since
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: channelId
          in: query
          description: Restricted to one channel. Absent, the response covers **all** accessible channels.
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: A list of invalidated tags.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [invalidated, complete]
                    properties:
                      invalidated:
                        type: array
                        description: |
                          Tags **named by the contract**, never invented by a surface.
                        items:
                          type: string
                          x-arthome-vocabulary:
                            [
                              "date:{id}",
                              "date:{id}:publication",
                              "date:{id}:tickets",
                              "date:{id}:run",
                              "date:{id}:crew",
                              "channel:{id}:members",
                              "channel:{id}:payouts",
                              "channel:{id}:moderation",
                              "channel:{id}:settings",
                              "person:duties",
                              "person:inbox",
                              "person:rights",
                            ]
                          x-arthome-vocabulary-source: none
                          x-arthome-vocabulary-reason: "Cache tags, not a domain vocabulary. They name what a surface must revalidate, and the domain has no notion of them: @arthome/core knows a date, not `date:{id}`."
                      complete: { type: boolean }
              example:
                servedAt: "2026-09-21T19:45:00.000Z"
                rightsVersion: 412
                invalidated:
                  ["date:019928a0-7d31-7a10-b8c4-2f9e11a4c001:publication", "person:inbox"]
                complete: true
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/duties:
    get:
      operationId: listDuties
      tags: [agenda]
      summary: My duties — across all channels, with the overlaps.
      description: |
        `person_duties` is held by `identity` and carries **all** accessible channels. The overlap is
        **served** (`overlapsWith`), computed once in `@arthome/core`: a surface recomputing it would
        produce a second implementation of the rule.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity, catalog, streaming]
      parameters:
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
        - name: from
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date-time }
      responses:
        "200":
          description: The duties in the period.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [items]
                    properties:
                      items: { type: array, items: { $ref: "#/components/schemas/Duty" } }
              example:
                servedAt: "2026-09-21T18:00:30.000Z"
                rightsVersion: 412
                items:
                  - dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                    channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                    channelName: Compagnie Verticale
                    title: Nuit blanche
                    crewRole: director
                    startsAt: "2026-09-21T19:00:00Z"
                    runState: idle
                    overlapsWith: []
                    accessExpiresAt: "2026-09-21T21:45:00Z"
        "401": { $ref: "#/components/responses/Unauthorized" }

  # =============================================================== schedule and events

  /v1/channels/{channelId}/events:
    get:
      operationId: listChannelEvents
      tags: [agenda]
      summary: The event board — page + total, six sort keys, multi-state filter.
      description: |
        **Page + total**: the design displays "1–8 OF N" and lists the page numbers. You pin a page
        and send it to a colleague — that is an interface affordance, and it is the reason for the
        decision.

        **Sorting by state follows the state machine's canonical order**, not the alphabet:
        `orderRank` travels with the state for exactly that.

        **Sorting by revenue is refused** (`SORT_KEY_FORBIDDEN`) to roles without `canRevenue`, and
        the field is **absent** from their rows. A sort silently accepted would betray the ordering of
        the very values one is not allowed to show.

        The temporal split (upcoming / past) and the multi-state filter are **contract parameters**,
        never a filter applied after fetching: "past" bears on the channel's whole history.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing]
      parameters:
        - $ref: "#/components/parameters/ChannelId"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/SortBy"
        - $ref: "#/components/parameters/SortDir"
        - name: window
          in: query
          schema: { type: string, enum: [upcoming, past], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "A sort or filter key. It is a property of THIS endpoint's list — which orders it offers — not of the domain, and adding one is an endpoint change rather than a vocabulary change.", default: upcoming }
        - name: states
          in: query
          description: '**Multi-state** filter, comma-separated.'
          schema: { type: string, examples: ["scheduled,technical"] }
        - name: q
          in: query
          description: Free-text search over the title and the metadata, **server-side**.
          schema: { type: string }
      responses:
        "200":
          description: A page of the event board, **projected according to the role**.
          headers:
            X-Arthome-Rights-Version: { $ref: "#/components/headers/RightsVersion" }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [items, page]
                    properties:
                      items: { type: array, items: { $ref: "#/components/schemas/EventsRow" } }
                      page: { $ref: "#/components/schemas/OffsetPageInfo" }
              example:
                servedAt: "2026-09-21T18:01:00.000Z"
                rightsVersion: 412
                items:
                  - dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                    title: Nuit blanche
                    startsAt: "2026-09-21T19:00:00Z"
                    state: scheduled
                    orderRank: 3
                    lowestPrice: { amountMinor: 2400, currencyCode: EUR }
                    fillRateBps: 8700
                    seatsSold: 174
                    grossRevenue: { amountMinor: 417600, currencyCode: EUR }
                page: { page: 1, pageSize: 20, totalItems: 84, totalPages: 5 }
        "403":
          description: "`SORT_KEY_FORBIDDEN` when the sort key bears on a field absent from this projection."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  {
                    code: api.sort_key_forbidden,
                    nature: refused,
                    params: { sortBy: grossRevenue },
                    traceId: 4bf92f3577b34da6a3ce929d0e0e4736,
                  }
                servedAt: "2026-09-21T18:01:00.000Z"
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/channels/{channelId}/dashboard:
    get:
      operationId: getChannelDashboard
      tags: [agenda]
      summary: The dashboard — tiles aggregated over a period, and the "to handle" list.
      description: |
        **It is the default tab of three personas out of six**, and it had no operation at all.

        It carries **only what had no carrier**: the aggregated tiles and the routed list. Everything
        else on that screen is a recomposition of collections already served — the next dates and the
        countdown card come from `listChannelEvents`, revenue per date from `listPayouts`, dates held
        in reserve from `listChannelEvents?state=reserve`, and the countdown **is computed locally**
        against `startsAt` and the channel's `serverTime`, as the contract prescribes everywhere else.
        Asking for them again here would have been the value composed in two places.
      x-arthome-maturity: provisional
      x-arthome-upstream: [catalog, ticketing, streaming, chat]
      x-arthome-freshness: 300
      parameters:
        - $ref: "#/components/parameters/ChannelId"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
        - name: period
          in: query
          schema:
            {
              type: string,
              enum: [last_7_days, last_30_days, last_90_days, season, custom], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "A period selector for this screen. The bounds it resolves to are served (`seasonBounds`, `periodStart`/`periodEnd`); this only names which preset the person chose.",
              default: last_30_days,
            }
        - name: from
          in: query
          description: Requis quand `period` vaut `custom`.
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
      responses:
        "200":
          description: Tiles and reminders, projected according to the role.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties: { data: { $ref: "#/components/schemas/DashboardScreen" } }
              example:
                servedAt: "2026-09-21T18:05:00.000Z"
                rightsVersion: 412
                data:
                  period:
                    {
                      preset: last_30_days,
                      from: "2026-08-22",
                      to: "2026-09-21",
                      days: 30,
                      datesCovered: 7,
                    }
                  tiles:
                    - id: shop_sales
                      value: 184200
                      unit: currency_minor
                      currencyCode: EUR
                      seriesGranularity: per_date
                      series:
                        - {
                            at: "2026-09-04T19:00:00Z",
                            value: 42100,
                            dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001,
                          }
                    - id: followers_gained
                      value: 312
                      unit: count
                      seriesGranularity: per_date
                      series: [{ at: "2026-09-04T19:00:00Z", value: 48 }]
                    - id: replay_views
                      value: 1840
                      unit: count
                      seriesGranularity: per_date
                      series: [{ at: "2026-09-04T19:00:00Z", value: 412 }]
                    - id: fill_rate
                      value: 87
                      unit: percent
                      seriesGranularity: per_date
                      series: [{ at: "2026-09-04T19:00:00Z", value: 84 }]
                  reminders:
                    - id: rem-1
                      kind: technical_check_missing
                      severity: urgent
                      textCode: dashboard.reminder.technical_check_missing
                      params: { title: Nuit blanche }
                      targetPage: regie
                      dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                      countdownTo: "2026-09-21T19:00:00Z"
                      actionable: true
                  revenueByDate:
                    total: { amountMinor: 14049600, currencyCode: EUR }
                    totalScope: channel_period
                    items:
                      - {
                          dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001,
                          title: Nuit blanche,
                          startsAt: "2026-09-21T19:00:00Z",
                          gross: { amountMinor: 417600, currencyCode: EUR },
                        }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/channels/{channelId}/stats:
    get:
      operationId: getChannelStats
      tags: [agenda]
      summary: Audience and revenue, or a comparison of the dates in a series.
      description: |
        Two tabs, one path. The `stats_csv` export already existed: **one could export a statistic
        one could not read.**

        The screen's title varies with the role — "Audience and revenue" under `canRevenue`,
        "Audience" otherwise — and it is the **projection** that decides it: without `canRevenue`, the
        revenue fields are **absent**, not masked.

        **Where viewers came from is not served**: see `StatsAudience`. It is the only point on these
        two screens that required a datum the system produces nowhere.
      x-arthome-maturity: provisional
      x-arthome-upstream: [catalog, ticketing, streaming]
      x-arthome-freshness: 300
      parameters:
        - $ref: "#/components/parameters/ChannelId"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
        - name: tab
          in: query
          schema: { type: string, enum: [audience, series], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "A sort or filter key. It is a property of THIS endpoint's list — which orders it offers — not of the domain, and adding one is an endpoint change rather than a vocabulary change.", default: audience }
        - name: period
          in: query
          schema:
            {
              type: string,
              enum: [last_7_days, last_30_days, last_90_days, season, custom], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "A period selector for this screen. The bounds it resolves to are served (`seasonBounds`, `periodStart`/`periodEnd`); this only names which preset the person chose.",
              default: last_30_days,
            }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - name: showId
          in: query
          description: Restricts the `series` tab to one series. Absent, every series is served.
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: The tab requested. `audience` and `series` are mutually exclusive.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    properties:
                      audience: { $ref: "#/components/schemas/StatsAudience" }
                      series: { $ref: "#/components/schemas/StatsSeries" }
              example:
                servedAt: "2026-09-21T18:06:00.000Z"
                rightsVersion: 412
                audience:
                  period:
                    {
                      preset: last_30_days,
                      from: "2026-08-22",
                      to: "2026-09-21",
                      days: 30,
                      datesCovered: 7,
                    }
                  headline:
                    {
                      viewersTotal: 18420,
                      averageFillRateBps: 8700,
                      datesCount: 7,
                      netRevenue: { amountMinor: 1240000, currencyCode: EUR },
                    }
                  fillByDate:
                    - {
                        dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001,
                        title: Nuit blanche,
                        startsAt: "2026-09-21T19:00:00Z",
                        fillRateBps: 8700,
                        seatsSold: 174,
                        capacityTotal: 200,
                        onSale: true,
                      }
                  audienceByDate:
                    - {
                        dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001,
                        title: Nuit blanche,
                        startsAt: "2026-09-21T19:00:00Z",
                        displayState: live,
                        seatsSold: 174,
                        liveViewersPeak: 1842,
                        replayViews: 412,
                        fillRateBps: 8700,
                      }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/channels/{channelId}/agenda:
    get:
      operationId: getChannelAgenda
      tags: [agenda]
      summary: A channel's schedule, over a period.
      description: |
        Composed by `catalog` and fed by `ticketing` for the capacity and the revenue. The revenue is
        **absent** without `canRevenue` — and that is why the schedule served to a control room has no
        `grossRevenue` field, while the one served to the treasury has no stream key.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing]
      parameters:
        - $ref: "#/components/parameters/ChannelId"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
        - name: from
          in: query
          required: true
          schema: { type: string, format: date }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date }
      responses:
        "200":
          description: The dates in the period.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [items]
                    properties:
                      items: { type: array, items: { $ref: "#/components/schemas/EventsRow" } }
              example:
                servedAt: "2026-09-21T18:01:20.000Z"
                rightsVersion: 412
                items: []
        "404": { $ref: "#/components/responses/NotFound" }

  # =============================================================== publication

  /v1/channels/{channelId}/dates:
    post:
      operationId: createDateDraft
      tags: [publication]
      summary: Creates a draft date — the identifier comes from the domain.
      description: |
        **The identifier is generated by the domain (UUIDv7), not by a database default.** The first
        reason is here: the creation wizard announces "draft saved" **before any server round trip**,
        and a domain identifier lets you create, save locally and synchronise **without a correlation
        key**. The other two reasons: the outbox requires the aggregate to know its identifier before
        insertion, and time ordering fills the indexes properly.

        **The replay policy is chosen at creation**, because the public price depends on it. `none` is
        **final** for this date: you cannot later switch on a replay you promised not to make.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog]
      parameters:
        - $ref: "#/components/parameters/ChannelId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dateId, showId, venueId, startsAt, replayPolicy]
              properties:
                dateId:
                  type: string
                  format: uuid
                  description: "**Generated by the client** from `@arthome/core` (UUIDv7)."
                showId: { type: string, format: uuid }
                venueId: { type: string, format: uuid }
                startsAt: { type: string, format: date-time, pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:\.\d{1,3})?Z$' }
                replayPolicy: { type: string, enum: [included, subscription, unit, none], x-arthome-vocabulary-source: REPLAY_POLICIES }
                replayWindowHours: { type: [integer, "null"] }
            example:
              dateId: 019928c0-0000-7000-8000-000000000001
              showId: 019928a0-7d31-7a10-b8c4-2f9e11a4c111
              venueId: 019928a0-7d31-7a10-b8c4-2f9e11a4c444
              startsAt: "2026-11-04T19:30:00Z"
              replayPolicy: included
              replayWindowHours: 72
      responses:
        "201":
          description: Draft created, with its publication and its checklist.
          headers:
            Idempotency-Replayed: { $ref: "#/components/headers/IdempotencyReplayed" }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties: { data: { $ref: "#/components/schemas/DateSheet" } }
              example:
                servedAt: "2026-09-21T18:02:00.000Z"
                rightsVersion: 412
                data:
                  dateId: 019928c0-0000-7000-8000-000000000001
                  channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                  title: Nuit blanche
                  startsAt: "2026-11-04T19:30:00Z"
                  venueClock: { venueTimezone: Europe/Paris, venueUtcOffsetMin: 60 }
                  runtimeMin: 95
                  openPanes: [public, tickets, chat, tech, crew, replay]
                  publication:
                    dateId: 019928c0-0000-7000-8000-000000000001
                    state: draft
                    orderRank: 1
                    version: 1
                    checklist:
                      - {
                          id: title_and_discipline,
                          satisfied: true,
                          source: catalog,
                          blocking: true,
                        }
                      - { id: poster, satisfied: false, source: catalog, blocking: true }
                      - {
                          id: at_least_one_active_price,
                          satisfied: false,
                          source: ticketing,
                          blocking: true,
                        }
                      - {
                          id: technical_check_passed,
                          satisfied: false,
                          source: streaming,
                          blocking: true,
                        }
                      - { id: chapters_planned, satisfied: false, source: catalog, blocking: false }
                    offeredTransitions:
                      - { from: draft, to: reserve, irreversible: false }
                      - {
                          from: draft,
                          to: scheduled,
                          irreversible: true,
                          promiseCode: prices_engaged,
                        }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/dates/{dateId}/sheet:
    get:
      operationId: getDateSheet
      tags: [publication]
      summary: A date's record, and the list of panes open to this person.
      description: |
        **One call for the record, then one call per open pane, at its owner.** A moderator must be
        able to load the `chat` pane **without** loading the whole record, otherwise ticketing travels
        for nothing.

        `openPanes` is **served**, not inferred: the very layout of the screen depends on the
        effective rights, and the overview appears only beyond three open panes.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog]
      parameters:
        - $ref: "#/components/parameters/DateId"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      responses:
        "200":
          description: The record and its publication.
          headers:
            X-Arthome-Rights-Version: { $ref: "#/components/headers/RightsVersion" }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties: { data: { $ref: "#/components/schemas/DateSheet" } }
              example:
                servedAt: "2026-09-21T18:03:00.000Z"
                rightsVersion: 412
                data:
                  dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                  channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                  title: Nuit blanche
                  startsAt: "2026-09-21T19:00:00Z"
                  venueClock: { venueTimezone: Europe/Paris, venueUtcOffsetMin: 120 }
                  runtimeMin: 95
                  openPanes: [public, tickets, tech]
                  publication:
                    {
                      dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001,
                      state: scheduled,
                      orderRank: 3,
                      version: 7,
                      checklist: [],
                      offeredTransitions: [],
                    }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/dates/{dateId}/panes/tickets:
    get:
      operationId: getDateTicketsPane
      tags: [ticketing]
      summary: A date's ticketing pane.
      description: |
        Served by `ticketing`, **projected according to the role**: `grossRevenue` is absent without
        `canRevenue`. The pane is open to `artist`, `production` and `treasury`.
      x-arthome-maturity: stable
      x-arthome-upstream: [ticketing]
      parameters:
        - $ref: "#/components/parameters/DateId"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      responses:
        "200":
          description: Jauge, paliers, tarifs, promotions, provision technique.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties: { data: { $ref: "#/components/schemas/DateSalesPane" } }
              example:
                servedAt: "2026-09-21T18:03:20.000Z"
                rightsVersion: 412
                data:
                  dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                  capacityTotal: 200
                  seatsAvailable: 26
                  seatsSold: 174
                  waitlistCount: 12
                  fillRateBps: 8700
                  priceTiers:
                    [{ tier: full, amount: { amountMinor: 2400, currencyCode: EUR }, active: true }]
                  serviceFeePerSeat: { amountMinor: 150, currencyCode: EUR }
                  pricesLocked: true
                  technicalProvision: { required: false, threshold: 10000, revisableUntil: null }
                  version: 12
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/dates/{dateId}/panes/public:
    get:
      operationId: getDatePublicPane
      tags: [publication]
      summary: A date's public pane — what is published.
      description: |
        One of the five panes that were missing. The motive "one call for the record, then one call
        per open pane, **at its owner**" was stated twice and implemented once: a `moderation` role
        received `openPanes: [chat]` and had **no pane to call**, a `coordination` role received
        `[tech, crew]` — neither of the two existed.

        Open to `artist` and `production`.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog]
      parameters:
        - $ref: "#/components/parameters/DateId"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      responses:
        "200":
          description: The public pane.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        properties:
                          title: { type: string }
                          categoryId: { type: string }
                          genreIds: { type: array, items: { type: string } }
                          tagIds: { type: array, items: { type: string } }
                          synopsis: { $ref: "#/components/schemas/LocalizedText" }
                          slug: { type: string }
                          canonicalUrl: { type: string, format: uri }
                          rights:
                            type: object
                            properties:
                              scope: { type: string, x-arthome-vocabulary: [worldwide, restricted], x-arthome-vocabulary-source: RIGHTS_SCOPES }
                              blackoutCountries:
                                { type: array, items: { type: string, pattern: "^[A-Z]{2}$" } }
                              blackoutReasonCode:
                                {
                                  type: [string, "null"],
                                  x-arthome-vocabulary: [co_production, broadcaster, festival], x-arthome-vocabulary-source: BLACKOUT_REASONS,
                                }
                          version: { type: integer }
              example:
                servedAt: "2026-09-21T18:03:25.000Z"
                rightsVersion: 412
                data:
                  title: Nuit blanche
                  categoryId: dance-contemporary
                  genreIds: [dance-contemporary-repertoire]
                  slug: nuit-blanche-2026-09-21
                  canonicalUrl: "https://arthome.fr/fr/d/nuit-blanche-2026-09-21"
                  rights: { scope: worldwide, blackoutCountries: [] }
                  version: 8
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/dates/{dateId}/panes/chat:
    get:
      operationId: getDateChatPane
      tags: [moderation]
      summary: A date's chat pane — the moderator's pane.
      description: |
        **This is the pane that justified the whole mechanism**: *"a moderator must be able to load
        the `chat` pane without loading the whole record, otherwise ticketing travels for nothing"*.
        The argument was quoted in the contract and undone by its own implementation.

        Open to `artist`, `production` and `moderation`.
      x-arthome-maturity: provisional
      x-arthome-upstream: [chat]
      parameters:
        - $ref: "#/components/parameters/DateId"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      responses:
        "200":
          description: Chat regime, measured rate, queue waiting.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        properties:
                          policy: { $ref: "#/components/schemas/ChatPolicy" }
                          throughputPerMinute: { type: [integer, "null"] }
                          pendingModerationCount: { type: integer }
                          assignedModerators:
                            type: array
                            items:
                              type: object
                              properties:
                                personId: { type: string, format: uuid }
                                displayName: { type: string }
              example:
                servedAt: "2026-09-21T19:30:20.000Z"
                rightsVersion: 412
                data:
                  policy:
                    {
                      dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001,
                      mode: open,
                      filterSeverity: medium,
                      slowModeSec: 0,
                      holdersOnly: false,
                      locked: true,
                      version: 5,
                    }
                  throughputPerMinute: 41
                  pendingModerationCount: 14
                  assignedModerators: []
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/dates/{dateId}/panes/tech:
    get:
      operationId: getDateTechPane
      tags: [run]
      summary: A date's technical pane — pre-flight and broadcast profile.
      description: |
        Open to `artist`, `production`, `director`, `video`, `sound` and `coordination`. It is a
        `director`'s only pane; it did not exist.

        **The stream key does not appear in it**: it appears in no list payload, and revealing it is a
        separate command, audited and by name.
      x-arthome-maturity: provisional
      x-arthome-upstream: [streaming]
      parameters:
        - $ref: "#/components/parameters/DateId"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      responses:
        "200":
          description: Protocol, return path, quality ladder, pre-flight checklist.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        properties:
                          runState:
                            {
                              type: string,
                              x-arthome-vocabulary: [idle, rehearsal, on_air, interrupted, ended], x-arthome-vocabulary-source: RUN_STATES,
                            }
                          ingestProtocol: { type: string, x-arthome-vocabulary: [rtmps, srt, whip], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "A transport or media capability, not a domain notion: the domain never chooses an ingest protocol, a container or a DRM system, and a new one appears because a device appeared." }
                          monitorPath: { type: string, x-arthome-vocabulary: [whep, ll_hls], x-arthome-vocabulary-source: none, x-arthome-vocabulary-reason: "A transport or media capability, not a domain notion: the domain never chooses an ingest protocol, a container or a DRM system, and a new one appears because a device appeared." }
                          ingestUrl: { type: string, format: uri }
                          technicalCheckPassedAt: { type: [string, "null"], format: date-time }
                          preflight:
                            type: array
                            description: The pre-flight checklist, **served** — each point with its state and its last measurement.
                            items:
                              type: object
                              properties:
                                id: { type: string }
                                satisfied: { type: boolean }
                                measuredAt: { type: [string, "null"], format: date-time }
                          qualityLadder:
                            type: array
                            items:
                              type: object
                              properties:
                                renditionId: { type: string }
                                heightPx: { type: integer }
                                enabled: { type: boolean }
                          version: { type: integer }
              example:
                servedAt: "2026-09-21T18:40:20.000Z"
                rightsVersion: 412
                data:
                  runState: idle
                  ingestProtocol: rtmps
                  monitorPath: ll_hls
                  ingestUrl: "rtmps://ingest.arthome.fr/live"
                  technicalCheckPassedAt: "2026-09-21T18:45:00Z"
                  preflight:
                    [{ id: ingest_reachable, satisfied: true, measuredAt: "2026-09-21T18:44:58Z" }]
                  qualityLadder: [{ renditionId: "1080p", heightPx: 1080, enabled: true }]
                  version: 3
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/dates/{dateId}/panes/crew:
    get:
      operationId: getDateCrewPane
      tags: [crew]
      summary: A date's crew pane — assignments and one-off accesses, with their identifiers.
      description: |
        Three gaps compounded on the same page, the one belonging to the `coordination` persona,
        whose entire navigation is `crew · log · help`:

        - `/v1/dates/{dateId}/crew` was **POST only**: the dates × posts matrix and the "tonight"
          list had no read path at all. `listDuties` gives **my** duties,
          `EffectiveRights.dateGrants` gives **my** accesses — neither gives the coverage;
        - **`revokeDateAccess` revokes by `grantId`, an identifier no read handed out**;
        - `moderator_assigned` is one of the checklist items and `datesToCover` a served counter:
          **both were computed against a coverage the studio could not read.**

        Open to `artist`, `production` and `coordination`.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      parameters:
        - $ref: "#/components/parameters/DateId"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      responses:
        "200":
          description: Posts covered, posts missing, one-off accesses with their `grantId`.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        required: [slots, grants]
                        properties:
                          slots:
                            type: array
                            description: One post per slot, covered or not. **`missing` is served, never inferred.**
                            items:
                              type: object
                              required: [crewRole, covered]
                              properties:
                                crewRole:
                                  {
                                    type: string,
                                    x-arthome-vocabulary: [director, video, sound, moderation], x-arthome-vocabulary-source: CREW_ROLES,
                                  }
                                covered: { type: boolean }
                                personId: { type: [string, "null"], format: uuid }
                                displayName: { type: [string, "null"] }
                                membershipKind:
                                  type: string
                                  description: |
                                    **The two scales, distinguished on read**: `member` is a permanent
                                    membership assigned to a post, `grant` is a one-off stand-in
                                    that expires.
                                  x-arthome-vocabulary: [member, grant]
                                  x-arthome-vocabulary-source: none
                                  x-arthome-vocabulary-reason: "A vocabulary local to this contract. The domain neither produces nor consumes these values — they describe what this endpoint offers, and a new member is an endpoint change."
                          grants:
                            type: array
                            items: { $ref: "#/components/schemas/DateAccessGrant" }
                          missingRoles: { type: array, items: { type: string } }
              example:
                servedAt: "2026-09-21T18:20:20.000Z"
                rightsVersion: 412
                data:
                  slots:
                    - {
                        crewRole: director,
                        covered: true,
                        personId: 019928b2-0000-7000-8000-000000000001,
                        displayName: "Yann P.",
                        membershipKind: grant,
                      }
                    - {
                        crewRole: moderation,
                        covered: false,
                        personId: null,
                        displayName: null,
                        membershipKind: member,
                      }
                  grants:
                    - grantId: 019928b3-0000-7000-8000-000000000001
                      dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                      personId: 019928b2-0000-7000-8000-000000000001
                      displayName: "Yann P."
                      crewRole: director
                      expiresAt: "2026-09-21T21:45:00Z"
                  missingRoles: [moderation]
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/dates/{dateId}/panes/replay:
    get:
      operationId: getDateReplayPane
      tags: [publication]
      summary: A date's replay pane — the promise, the file, the sale.
      description: |
        The three things the sources conflated, served separately: the **promise** belongs to
        `catalog`, the **file and its expiry** to `streaming`, the **sale** to `ticketing`.

        Open to `artist` and `production`.
      x-arthome-maturity: provisional
      x-arthome-upstream: [catalog, streaming, ticketing]
      parameters:
        - $ref: "#/components/parameters/DateId"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      responses:
        "200":
          description: Policy, active, remaining window, sale, audience.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        properties:
                          policy:
                            {
                              type: string,
                              x-arthome-vocabulary: [included, subscription, unit, none], x-arthome-vocabulary-source: REPLAY_POLICIES,
                            }
                          windowHours: { type: [integer, "null"] }
                          assetReady: { type: boolean }
                          durationSec: { type: [integer, "null"] }
                          availableFrom: { type: [string, "null"], format: date-time }
                          expiresAt:
                            type: [string, "null"]
                            format: date-time
                            description: "**Derived** from the end of the live show and the served window, never set by hand."
                          unitPrice:
                            $ref: "#/components/schemas/Money"
                            x-arthome-tax-basis: inclusive
                          views: { type: [integer, "null"] }
                          revenue:
                            $ref: "#/components/schemas/Money"
                            x-arthome-tax-basis: inclusive
                            description: "**Absent** without `canRevenue`."
                          version: { type: integer }
              example:
                servedAt: "2026-09-22T10:00:20.000Z"
                rightsVersion: 412
                data:
                  policy: included
                  windowHours: 72
                  assetReady: true
                  durationSec: 5700
                  availableFrom: "2026-09-21T22:00:00Z"
                  expiresAt: "2026-09-24T22:00:00Z"
                  views: 412
                  version: 2
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/dates/{dateId}/publication/transitions:
    post:
      operationId: moveDatePublicationState
      tags: [publication]
      summary: Moves the date through the state machine.
      description: |
        **Three guarantees, and not one of them is an interface courtesy.**

        1. **The server refuses the reverse transition.** Not offering it in the interface is not a
           guarantee. The refusal carries `TRANSITION_IRREVERSIBLE`, the transition attempted **and
           the promise committed** as parameters — `prices_engaged` for `draft|reserve → scheduled`,
           `replay_sold` for `ended → replay_online`. **The lock bears on the `from > to` pair, not
           on the state.**
        2. **It is conditional and versioned.** Two people can be on the record: a command sent from
           `technical` while the current state is `live` is refused with `STATE_CONFLICT`, **with the
           current state and version**. The studio is multi-operator without a lock; the arbitration
           is on the server.
        3. **`Idempotency-Key` is mandatory, not recommended**: the transition commits a public price
           or a sale.

        **The publication gate is served, not recomputed**: the refusal names the **missing** items as
        parameters, since the screen counts them ("publish — 3 missing"). Never a percentage, which
        the client would compute.

        **The attempt to go backwards is itself logged**: an attempt to walk back a committed price is
        in itself a piece of operational information.

        Two transitions are **not** commands: `technical → live` and `live → ended` are **caused by a
        `streaming` event**. Publication does not command the broadcast, it **learns** of it — only
        `streaming` knows whether the feed is arriving.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog]
      parameters:
        - $ref: "#/components/parameters/DateId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to, expectedVersion]
              properties:
                to:
                  type: string
                  description: |
                    **A strict narrowing of `PUBLICATION_STATES`, and the two missing members carry the
                    document's most important rule about this path.** `live` and `ended` are **not
                    commands**: they are caused by a `streaming` event, because only `streaming` knows
                    whether the feed is arriving. Publication does not command the broadcast, it learns
                    of it. Offering them here would let a studio declare a date on air that is sending
                    nothing.
                  enum: [draft, reserve, scheduled, technical, replay_online]
                  x-arthome-vocabulary-source: PUBLICATION_STATES
                  x-arthome-vocabulary-narrowing: "`live` and `ended` are not commands: they are caused by a streaming event, because only streaming knows whether the feed is arriving. Offering them would let a studio declare a date on air that is sending nothing."
                expectedVersion: { type: integer }
                acknowledgedPromiseCode:
                  type: [string, "null"]
                  description: |
                    **Mandatory for a transition with no way back.** The confirmation carries the promise's
                    code, and its wording comes from the contract: the interface does not invent it.
                  enum: [prices_engaged, replay_sold, null]
                  x-arthome-vocabulary-source: none
                  x-arthome-vocabulary-reason: "The two promises a transition can commit, plus `null` for one that commits none — which its own type admits. Local to this command."
            example: { to: scheduled, expectedVersion: 7, acknowledgedPromiseCode: prices_engaged }
      responses:
        "200":
          description: Transition applied. The publication up to date, with its newly offered transitions.
          headers:
            Idempotency-Replayed: { $ref: "#/components/headers/IdempotencyReplayed" }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties: { data: { $ref: "#/components/schemas/Publication" } }
              example:
                servedAt: "2026-09-21T18:04:00.000Z"
                rightsVersion: 412
                data:
                  dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                  state: scheduled
                  orderRank: 3
                  version: 8
                  publishedAt: "2026-09-21T18:04:00Z"
                  pricesLockedAt: "2026-09-21T18:04:00Z"
                  checklist: []
                  offeredTransitions: [{ from: scheduled, to: technical, irreversible: false }]
        "403": { $ref: "#/components/responses/Forbidden" }
        "409":
          description: |
            `STATE_CONFLICT` (with the current state and version), `TRANSITION_IRREVERSIBLE` (with the
            promise committed), or `publication.checklist_incomplete` (with the list of what is
            missing).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  code: publication.checklist_incomplete
                  nature: refused
                  params: { missing: [poster, at_least_one_active_price, technical_check_passed] }
                  traceId: 4bf92f3577b34da6a3ce929d0e0e4736
                servedAt: "2026-09-21T18:04:00.000Z"

  /v1/dates/{dateId}/prices:
    put:
      operationId: setDatePrices
      tags: [ticketing]
      summary: Sets a date's prices.
      description: |
        **`ticketing` applies its own lock**, it asks `catalog` for nothing: it refuses as soon as it
        has consumed `publication.engaged`, with its own code and its own trace. This is the answer to
        the reproach "an aggregate straddling three contexts" — publication publishes a fact, each
        owner locks what it owns.

        **"Apply to the series" excludes prices**: each date commits its own buyers.
      x-arthome-maturity: stable
      x-arthome-upstream: [ticketing]
      parameters:
        - $ref: "#/components/parameters/DateId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tiers, expectedVersion]
              properties:
                expectedVersion: { type: integer }
                tiers:
                  type: array
                  items:
                    type: object
                    required: [tier, amountMinor, currencyCode, active]
                    properties:
                      tier: { type: string, enum: [full, reduced, support], x-arthome-vocabulary-source: PRICE_TIERS }
                      amountMinor: { type: integer, minimum: 0 }
                      currencyCode: { type: string, pattern: "^[A-Z]{3}$" }
                      active: { type: boolean }
            example:
              expectedVersion: 12
              tiers:
                - { tier: full, amountMinor: 2400, currencyCode: EUR, active: true }
                - { tier: reduced, amountMinor: 1600, currencyCode: EUR, active: true }
      responses:
        "200":
          description: Prices up to date.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/EnvelopeMeta"
                  - type: object
                    required: [data]
                    properties: { data: { $ref: "#/components/schemas/DateSalesPane" } }
              example:
                servedAt: "2026-09-21T18:05:00.000Z"
                rightsVersion: 412
                data:
                  {
                    dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001,
                    capacityTotal: 200,
                    seatsAvailable: 26,
                    priceTiers: [],
                    pricesLocked: false,
                    version: 13,
                  }
        "409":
          description: "`PRICES_LOCKED` when publication is committed, `STATE_CONFLICT` on a stale version."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  {
                    code: date.prices_locked,
                    nature: refused,
                    params: { lockedAt: "2026-09-21T18:04:00Z" },
                    traceId: 4bf92f3577b34da6a3ce929d0e0e4736,
                  }
                servedAt: "2026-09-21T18:05:00.000Z"

  /v1/dates/{dateId}/capacity-tiers:
    post:
      operationId: openCapacityTier
      tags: [ticketing]
      summary: Opens a capacity tier, and warns the waiting list in the same gesture.
      description: |
        **One transactional command, not two.** Two calls would let the scarcity dissipate between
        them: the priority window (2 h) is a **domain parameter**, served and not copied out.

        **Capacity widens in tiers and never shrinks** once the sale has opened: a reduction is
        refused with `CAPACITY_SHRINK_FORBIDDEN`.

        Beyond **10,000 seats**, the technical provision is required, revisable up to **72 h**
        beforehand; threshold, provision, deadline and exposure to the penalty are **contract data**.
      x-arthome-maturity: stable
      x-arthome-upstream: [ticketing]
      parameters:
        - $ref: "#/components/parameters/DateId"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/Surface"
        - $ref: "#/components/parameters/IfRightsVersion"
        - $ref: "#/components/parameters/Traceparent"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
[...]
