openapi: 3.1.1

info:
  title: Arthome Studio BFF
  version: 1.0.0
  summary: Le contrat des deux surfaces professionnelles — studio web et studio mobile.
  description: |
    Contrat du **BFF studio**. Il sert `studio-web` (Angular) et `studio-mobile` (Angular + Ionic
    + Capacitor). C'est un **BFF distinct** de celui du storefront, et ce n'est pas une commodité :
    les deux produits n'ont ni la même session (cookie contre jeton porteur), ni la même
    pagination (page + total contre curseur), ni la même enveloppe de projection (par rôle contre
    par spectateur), ni le même cycle de déploiement.

    ## La règle qui commande tout ce document : la projection par rôle est serveur

    `canRevenue` **ne masque pas une colonne : il décide de ce que la réponse contient.** Une
    régie qui recevrait le brut de billetterie dans sa charge utile et ne l'afficherait pas est
    une **fuite**, pas une règle — la charge utile est en clair dans un WebView, inspectable, et
    elle survit dans le cache HTTP du téléphone.

    Trois conséquences, portées partout dans ce document :

    - **un champ interdit est absent, jamais présent et nul.** Oui, cela implique des formes
      différentes pour le même écran selon le rôle, et c'est **voulu** ;
    - **une clé de tri sur un champ absent est refusée** (`SORT_KEY_FORBIDDEN`), jamais ignorée —
      un tri accepté en silence sur la recette trahit l'ordre des valeurs qu'on n'a pas le droit
      de montrer ;
    - **une notification ne porte jamais un montant si le rôle destinataire n'a pas
      `canRevenue`** : elle s'affiche sur un écran verrouillé.

    ## Huit rôles, jamais six

    L'autorisation porte sur les **huit** valeurs canoniques — `artist`, `production`,
    `coordination`, `director`, `video`, `sound`, `moderation`, `treasury`. Le repli à six
    personas est **un libellé de présentation** et n'apparaît dans aucune réponse : il confond
    `director`, `video` et `sound` sous « regie » et **efface le droit d'invitation de
    `director`**. Une personne tient un **ensemble** de rôles sur une chaîne, et sa navigation est
    l'**union** de leurs accès, jamais un rang.

    Deux échelles d'accès, jamais confondues : l'**appartenance à la chaîne**, permanente, et
    l'**accès ponctuel à une date**, qui expire à un instant servi. Les confondre ferait d'une
    révocation de renfort une exclusion de chaîne.

    ## Les droits bougent pendant la session

    Chaque réponse porte `X-Arthome-Rights-Version`. Quand elle change, la navigation est périmée :
    une invitation acceptée ajoute une chaîne au sélecteur, un accès ponctuel expire seul au
    tomber du rideau, un rôle est retiré. Sans ce compteur, la personne garde un onglet qui ouvre
    un 403 et le découvre **en pleine garde**. La fraîcheur maximale de l'autorisation est de
    **60 secondes**, durée du jeton interne frappé par le BFF.

    ## Trois régimes de commande, nommés

    - **conditionnelles** — la majorité des gestes de garde. Elles portent `expectedVersion`, et
      le serveur **refuse** si elle a changé. Le cas canonique est le verdict de modération : le
      second verdict est **refusé avec le verdict qui a gagné et le nom de qui l'a rendu**. Un
      rejeu idempotent aveugle produirait exactement le contraire ;
    - **baux** — « prendre en charge » n'est pas trancher. Un bail **expire de lui-même** : un
      modérateur dont le téléphone s'éteint ne gèle pas une ligne pendant tout le direct. Une
      prise en charge ne se met **jamais** en file hors ligne ;
    - **double détente** — changement de compte bancaire, transfert de propriété, invitation. Ils
      créent un **état d'attente** que le contrat porte, et le changement bancaire **suspend le
      virement en cours**.

    ## Pagination (D-010)

    **Page + total** partout — la maquette affiche « 1–8 SUR N » et énumère les numéros de page,
    donc elle a besoin du total et du nombre de pages. **Deux exceptions nommées, et pas une de
    plus** : la **file de modération** et le **tchat en direct** passent au **curseur**, parce que
    ce sont des flux et qu'une pagination par décalage y duplique et y saute **mécaniquement**,
    pas exceptionnellement.

    **Le journal reste en page + total, avec filtre de période obligatoire.** Personne ne pagine
    jusqu'au 50 000ᵉ élément d'un journal : on filtre par période d'abord. Le curseur y
    échangerait un problème qu'on n'a pas contre la perte des numéros de page, qui sont
    précisément l'affordance voulue.

    ## Erreurs

    Même enveloppe que le storefront : `code`, `nature`, `params`, `traceId`. `nature` est ce que
    la garde exige : `refused` (ne pas réessayer, comprendre), `unavailable` (réessayer),
    `offline_forbidden` (refus **local**, avant tout envoi — **jamais émis par le serveur**).
    C'est la décision qu'une personne d'astreinte doit prendre en dix secondes.

    ## Maturité

    `identity`, `catalog` et `ticketing` sont **stables** ; `streaming`, `chat`, `payouts` et
    `notifications` sont **provisoires**. Chaque opération porte `x-arthome-maturity`.
  contact:
    name: Arthome — architecture
  license:
    name: UNLICENSED

servers:
  - url: https://studio-api.arthome.fr
    description: production
  - url: https://studio-api.staging.arthome.fr
    description: recette
  - url: http://localhost:3002
    description: développement local (docker compose)

tags:
  - name: bootstrap
    description: Amorçage, droits effectifs, boîte, compteurs.
  - name: agenda
    description: Agenda de chaîne, gardes, tableau des événements.
  - name: publication
    description: Cycle de vie d'une date, machine à états, porte de publication.
  - name: ticketing
    description: Jauge, tarifs, contremarques, remboursements.
  - name: run
    description: Conduite du direct, santé, chapitres, incidents, clé de flux.
  - name: moderation
    description: File, verdicts, sanctions, dictionnaire.
  - name: crew
    description: Équipe, rôles, invitations, accès ponctuels.
  - name: payouts
    description: Versements, banque, réconciliation, exports comptables.
  - name: channel
    description: Identité publique, boutique, rediffusions, réglages, journal.

security:
  - sessionCookie: []
  - bearerToken: []

paths:

  # =============================================================== amorçage

  /v1/bootstrap:
    get:
      operationId: getStudioBootstrap
      tags: [bootstrap]
      summary: L'amorçage — la seule chose que le premier rendu attend.
      description: |
        **Un appel**, et rien n'est peint tant qu'il n'est pas là : la personne, **toutes** ses
        chaînes avec leurs rôles effectifs, `grants` **projetés sur ses rôles**, les préférences,
        la version des droits, les compteurs de pastilles et les constantes de domaine.

        **La racine est une personne, pas une chaîne.** Un régisseur indépendant peut être de
        garde sur deux directs le même soir, chez deux chaînes différentes.

        L'échec de cet appel est un **écran d'échec à part entière, avec l'identifiant de trace** :
        c'est le seul moment où la personne peut encore lire un numéro et le dicter au support.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity]
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: L'amorçage.
          headers:
            X-Arthome-Served-At: { $ref: '#/components/headers/ServedAt' }
            X-Arthome-Rights-Version: { $ref: '#/components/headers/RightsVersion' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/StudioBootstrap' } }
              example:
                servedAt: '2026-09-21T18:00:00.000Z'
                rightsVersion: 412
                data:
                  person: { personId: 019928b0-0000-7000-8000-000000000001, displayName: 'Claire D.', isFreelance: true, runsCalled: 84, readingTimezone: Europe/Paris }
                  rightsVersion: 412
                  channels:
                    - channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                      channelName: Compagnie Verticale
                      roles: [production, coordination]
                      isOwner: false
                      navigation: [dashboard, crew, events, stream, stats, tickets, store, replays, journal, help]
                      datePanes: [public, tickets, chat, tech, crew, replay]
                      canRevenue: true
                      canOps: true
                      canTech: true
                      canDecideOutcome: true
                      assignableRoles: [coordination, director, video, sound, moderation]
                      dateGrants: []
                  constants:
                    technicalProvisionThreshold: 10000
                    provisionRevisionHours: 72
                    waitlistPriorityWindowHours: 2
                    cancelDeadlineMinutesBefore: 60
                    payoutDelayDays: 14
                    commissionRateBps: 1200
                    chatBurstThresholdPerMinute: 60
                    holdScreenAutoAfterSec: 15
                    seasonBounds: { startsOn: '09-01', endsOn: '08-31' }
                  labelCatalog: { locale: fr, version: 41, url: 'https://cdn.arthome.fr/i18n/studio/fr/v41.json' }
                  counters: { moderationPending: 14, inboxUnread: 2, dutiesTonight: 3, invitationsPending: 1, datesToCover: 3, payoutsDue: 0 }
                  realtime: { namespace: /studio, pulseIntervalSec: 5 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/Unavailable' }

  /v1/inbox:
    get:
      operationId: listInbox
      tags: [bootstrap]
      summary: La boîte — invitations et alertes routées par rôle et par chaîne.
      description: |
        **Ouverte à tout le monde**, quel que soit le rôle. Le routage est décidé **côté
        serveur** : l'application ne filtre pas une file commune, sinon elle recevrait des alertes
        qu'elle n'a pas le droit de lire et se contenterait de ne pas les afficher — ce qui est
        une fuite, pas une règle.
      x-arthome-maturity: provisional
      x-arthome-upstream: [notifications]
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Page d'entrées de boîte.
          headers:
            X-Arthome-Rights-Version: { $ref: '#/components/headers/RightsVersion' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [items, page]
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/InboxEntry' } }
                      page: { $ref: '#/components/schemas/OffsetPageInfo' }
              example:
                servedAt: '2026-09-21T18:00:10.000Z'
                rightsVersion: 412
                items:
                  - id: 019928b1-0000-7000-8000-000000000001
                    kind: invitation
                    channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                    body: { contentLanguage: fr, text: 'Compagnie Verticale vous invite comme coordination.' }
                    deepLinkCode: crew_invitation
                    createdAt: '2026-09-20T14:02:00Z'
                    read: false
                page: { page: 1, pageSize: 20, totalItems: 2, totalPages: 1 }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      operationId: markInboxRead
      tags: [bootstrap]
      summary: Marque des entrées de boîte comme lues.
      description: '**Monotone : on ne dé-lit pas.** Rejouée, elle ne change rien.'
      x-arthome-maturity: provisional
      x-arthome-upstream: [notifications]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entryIds: { type: array, items: { type: string, format: uuid } }
                all: { type: boolean, default: false }
            example: { all: true }
      responses:
        '200':
          description: Compteurs à jour.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/StudioCounters' } }
              example:
                servedAt: '2026-09-21T18:00:20.000Z'
                rightsVersion: 412
                data: { moderationPending: 14, inboxUnread: 0, dutiesTonight: 3 }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /v1/me/duties:
    get:
      operationId: listDuties
      tags: [agenda]
      summary: Mes gardes — toutes chaînes confondues, avec les chevauchements.
      description: |
        `person_duties` est tenu par `identity` et porte **toutes** les chaînes accessibles. Le
        chevauchement est **servi** (`overlapsWith`), calculé une fois dans `@arthome/core` : une
        surface qui le recalculerait produirait une seconde implémentation de la règle.
      x-arthome-maturity: stable
      x-arthome-upstream: [identity, catalog, streaming]
      parameters:
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - name: from
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Les gardes de la période.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [items]
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/Duty' } }
              example:
                servedAt: '2026-09-21T18:00:30.000Z'
                rightsVersion: 412
                items:
                  - dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                    channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                    channelName: Compagnie Verticale
                    title: Nuit blanche
                    crewRole: director
                    startsAt: '2026-09-21T19:00:00Z'
                    runState: idle
                    overlapsWith: []
                    accessExpiresAt: '2026-09-21T21:45:00Z'
        '401': { $ref: '#/components/responses/Unauthorized' }

  # =============================================================== agenda et événements

  /v1/channels/{channelId}/events:
    get:
      operationId: listChannelEvents
      tags: [agenda]
      summary: Le tableau des événements — page + total, six clés de tri, filtre multi-états.
      description: |
        **Page + total** : la maquette affiche « 1–8 SUR N » et énumère les numéros de page. On
        épingle une page et on l'envoie à un collègue — c'est une affordance d'interface, et c'est
        la raison de la décision.

        **Le tri par état suit l'ordre canonique de la machine à états**, pas l'alphabet :
        `orderRank` voyage avec l'état pour cela.

        **Le tri par recette est refusé** (`SORT_KEY_FORBIDDEN`) aux rôles sans `canRevenue`, et le
        champ est **absent** de leurs lignes. Un tri accepté en silence trahirait l'ordre des
        valeurs qu'on n'a pas le droit de montrer.

        La scission temporelle (à venir / passé) et le filtre multi-états sont des **paramètres du
        contrat**, jamais un filtrage après rapatriement : « passé » porte sur tout l'historique
        de la chaîne.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing]
      parameters:
        - $ref: '#/components/parameters/ChannelId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortDir'
        - name: window
          in: query
          schema: { type: string, enum: [upcoming, past], default: upcoming }
        - name: states
          in: query
          description: Filtre **multi-états**, séparé par des virgules.
          schema: { type: string, examples: ['scheduled,technical'] }
        - name: q
          in: query
          description: Recherche libre sur le titre et les métadonnées, **côté serveur**.
          schema: { type: string }
      responses:
        '200':
          description: Page du tableau des événements, **projetée selon le rôle**.
          headers:
            X-Arthome-Rights-Version: { $ref: '#/components/headers/RightsVersion' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [items, page]
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/EventsRow' } }
                      page: { $ref: '#/components/schemas/OffsetPageInfo' }
              example:
                servedAt: '2026-09-21T18:01:00.000Z'
                rightsVersion: 412
                items:
                  - dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                    title: Nuit blanche
                    startsAt: '2026-09-21T19:00:00Z'
                    state: scheduled
                    orderRank: 3
                    lowestPrice: { amountMinor: 2400, currencyCode: EUR }
                    fillRateBps: 8700
                    seatsSold: 174
                    grossRevenue: { amountMinor: 417600, currencyCode: EUR }
                page: { page: 1, pageSize: 20, totalItems: 84, totalPages: 5 }
        '403':
          description: '`SORT_KEY_FORBIDDEN` quand la clé de tri porte sur un champ absent de cette projection.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
              example:
                error: { code: SORT_KEY_FORBIDDEN, nature: refused, params: { sortBy: grossRevenue }, traceId: 4bf92f3577b34da6a3ce929d0e0e4736 }
                servedAt: '2026-09-21T18:01:00.000Z'
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/channels/{channelId}/agenda:
    get:
      operationId: getChannelAgenda
      tags: [agenda]
      summary: L'agenda d'une chaîne, sur une période.
      description: |
        Composé par `catalog` et alimenté par `ticketing` pour la jauge et la recette. La recette
        est **absente** sans `canRevenue` — et c'est la raison pour laquelle l'agenda servi à une
        régie n'a pas de champ `grossRevenue`, tandis que celui servi à la trésorerie n'a pas de
        clé de flux.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog, ticketing]
      parameters:
        - $ref: '#/components/parameters/ChannelId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - name: from
          in: query
          required: true
          schema: { type: string, format: date }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date }
      responses:
        '200':
          description: Les dates de la période.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [items]
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/EventsRow' } }
              example:
                servedAt: '2026-09-21T18:01:20.000Z'
                rightsVersion: 412
                items: []
        '404': { $ref: '#/components/responses/NotFound' }

  # =============================================================== publication

  /v1/channels/{channelId}/dates:
    post:
      operationId: createDateDraft
      tags: [publication]
      summary: Crée un brouillon de date — l'identifiant vient du domaine.
      description: |
        **L'identifiant est généré par le domaine (UUIDv7), pas par un défaut de base.** Le
        premier motif est ici : l'assistant de création annonce « brouillon enregistré » **avant
        tout aller-retour serveur**, et un identifiant du domaine permet de créer, enregistrer
        localement et synchroniser **sans clé de corrélation**. Les deux autres motifs : l'outbox
        exige que l'agrégat connaisse son identifiant avant l'insertion, et l'ordre temporel
        remplit bien les index.

        **La politique de rediffusion se choisit à la création**, parce que le tarif public en
        dépend. `none` est **définitif** pour cette date : on ne peut pas activer ensuite une
        rediffusion qu'on a promis de ne pas faire.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog]
      parameters:
        - $ref: '#/components/parameters/ChannelId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dateId, showId, venueId, startsAt, replayPolicy]
              properties:
                dateId:
                  type: string
                  format: uuid
                  description: '**Généré par le client** depuis `@arthome/core` (UUIDv7).'
                showId: { type: string, format: uuid }
                venueId: { type: string, format: uuid }
                startsAt: { type: string, format: date-time }
                replayPolicy: { type: string, enum: [included, subscription, unit, none] }
                replayWindowHours: { type: [integer, 'null'] }
            example:
              dateId: 019928c0-0000-7000-8000-000000000001
              showId: 019928a0-7d31-7a10-b8c4-2f9e11a4c111
              venueId: 019928a0-7d31-7a10-b8c4-2f9e11a4c444
              startsAt: '2026-11-04T19:30:00Z'
              replayPolicy: included
              replayWindowHours: 72
      responses:
        '201':
          description: Brouillon créé, avec sa publication et sa liste de contrôle.
          headers:
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/DateSheet' } }
              example:
                servedAt: '2026-09-21T18:02:00.000Z'
                rightsVersion: 412
                data:
                  dateId: 019928c0-0000-7000-8000-000000000001
                  channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                  title: Nuit blanche
                  startsAt: '2026-11-04T19:30:00Z'
                  venueClock: { venueTimezone: Europe/Paris, venueUtcOffsetMin: 60 }
                  runtimeMin: 95
                  openPanes: [public, tickets, chat, tech, crew, replay]
                  publication:
                    dateId: 019928c0-0000-7000-8000-000000000001
                    state: draft
                    orderRank: 1
                    version: 1
                    checklist:
                      - { id: title_and_discipline, satisfied: true, source: catalog, blocking: true }
                      - { id: poster, satisfied: false, source: catalog, blocking: true }
                      - { id: at_least_one_active_price, satisfied: false, source: ticketing, blocking: true }
                      - { id: technical_check_passed, satisfied: false, source: streaming, blocking: true }
                      - { id: chapters_planned, satisfied: false, source: catalog, blocking: false }
                    offeredTransitions:
                      - { from: draft, to: reserve, irreversible: false }
                      - { from: draft, to: scheduled, irreversible: true, promiseCode: prices_engaged }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /v1/dates/{dateId}/sheet:
    get:
      operationId: getDateSheet
      tags: [publication]
      summary: La fiche d'une date, et la liste des volets ouverts à cette personne.
      description: |
        **Un appel pour la fiche, puis un appel par volet ouvert, chez son propriétaire.** Un
        modérateur doit pouvoir charger le volet `chat` **sans** charger la fiche entière, sinon la
        billetterie transite pour rien.

        `openPanes` est **servi**, pas déduit : la découpe même de l'écran dépend des droits
        effectifs, et la vue d'ensemble n'apparaît qu'au-delà de trois volets ouverts.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: La fiche et sa publication.
          headers:
            X-Arthome-Rights-Version: { $ref: '#/components/headers/RightsVersion' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/DateSheet' } }
              example:
                servedAt: '2026-09-21T18:03:00.000Z'
                rightsVersion: 412
                data:
                  dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                  channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                  title: Nuit blanche
                  startsAt: '2026-09-21T19:00:00Z'
                  venueClock: { venueTimezone: Europe/Paris, venueUtcOffsetMin: 120 }
                  runtimeMin: 95
                  openPanes: [public, tickets, tech]
                  publication: { dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001, state: scheduled, orderRank: 3, version: 7, checklist: [], offeredTransitions: [] }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/dates/{dateId}/panes/tickets:
    get:
      operationId: getDateTicketsPane
      tags: [ticketing]
      summary: Le volet billetterie d'une date.
      description: |
        Servi par `ticketing`, **projeté selon le rôle** : `grossRevenue` est absent sans
        `canRevenue`. Le volet est ouvert à `artist`, `production` et `treasury`.
      x-arthome-maturity: stable
      x-arthome-upstream: [ticketing]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Jauge, paliers, tarifs, promotions, provision technique.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/DateSalesPane' } }
              example:
                servedAt: '2026-09-21T18:03:20.000Z'
                rightsVersion: 412
                data:
                  dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                  capacityTotal: 200
                  seatsAvailable: 26
                  seatsSold: 174
                  waitlistCount: 12
                  fillRateBps: 8700
                  priceTiers: [{ tier: full, amount: { amountMinor: 2400, currencyCode: EUR }, active: true }]
                  serviceFeePerSeat: { amountMinor: 150, currencyCode: EUR }
                  pricesLocked: true
                  technicalProvision: { required: false, threshold: 10000, revisableUntil: null }
                  version: 12
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/dates/{dateId}/publication/transitions:
    post:
      operationId: moveDatePublicationState
      tags: [publication]
      summary: Déplace la date dans la machine à états.
      description: |
        **Trois garanties, et aucune n'est une politesse d'interface.**

        1. **Le serveur refuse la transition inverse.** Ne pas l'offrir dans l'interface n'est pas
           une garantie. Le refus porte `TRANSITION_IRREVERSIBLE`, la transition visée **et la
           promesse engagée** en paramètres — `prices_engaged` pour `draft|reserve → scheduled`,
           `replay_sold` pour `ended → replay-online`. **Le verrou porte sur le couple `from > to`,
           pas sur l'état.**
        2. **Elle est conditionnelle et versionnée.** Deux personnes peuvent être sur la fiche :
           une commande partie de `technical` alors que l'état courant est `live` est refusée par
           `STATE_CONFLICT`, **avec l'état et la version courants**. Le studio est multi-opérateurs
           sans verrou ; l'arbitrage est sur le serveur.
        3. **`Idempotency-Key` est obligatoire, pas recommandée** : la transition engage un tarif
           public ou une vente.

        **La porte de publication est servie, pas recalculée** : le refus nomme les éléments
        **manquants** en paramètres, puisque l'écran les compte (« publier — 3 manques »). Jamais
        un pourcentage, que le client calculerait.

        **La tentative de marche arrière est elle-même journalisée** : une tentative de revenir sur
        un tarif engagé est en soi une information de conduite.

        Deux transitions ne sont **pas** des commandes : `technical → live` et `live → ended` sont
        **causées par un événement de `streaming`**. La publication ne commande pas l'antenne, elle
        l'**apprend** — seul `streaming` sait si le flux entre.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to, expectedVersion]
              properties:
                to: { type: string, enum: [draft, reserve, scheduled, technical, replay-online] }
                expectedVersion: { type: integer }
                acknowledgedPromiseCode:
                  type: [string, 'null']
                  description: |
                    **Obligatoire pour une transition sans retour.** La confirmation porte le code
                    de la promesse, et son texte vient du contrat : l'interface ne l'invente pas.
                  enum: [prices_engaged, replay_sold, null]
            example: { to: scheduled, expectedVersion: 7, acknowledgedPromiseCode: prices_engaged }
      responses:
        '200':
          description: Transition appliquée. La publication à jour, avec ses nouvelles transitions offertes.
          headers:
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/Publication' } }
              example:
                servedAt: '2026-09-21T18:04:00.000Z'
                rightsVersion: 412
                data:
                  dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                  state: scheduled
                  orderRank: 3
                  version: 8
                  publishedAt: '2026-09-21T18:04:00Z'
                  pricesLockedAt: '2026-09-21T18:04:00Z'
                  checklist: []
                  offeredTransitions: [{ from: scheduled, to: technical, irreversible: false }]
        '403': { $ref: '#/components/responses/Forbidden' }
        '409':
          description: |
            `STATE_CONFLICT` (avec l'état et la version courants), `TRANSITION_IRREVERSIBLE` (avec
            la promesse engagée), ou `PUBLICATION_CHECKLIST_INCOMPLETE` (avec la liste des
            manquants).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
              example:
                error:
                  code: PUBLICATION_CHECKLIST_INCOMPLETE
                  nature: refused
                  params: { missing: [poster, at_least_one_active_price, technical_check_passed] }
                  traceId: 4bf92f3577b34da6a3ce929d0e0e4736
                servedAt: '2026-09-21T18:04:00.000Z'

  /v1/dates/{dateId}/prices:
    put:
      operationId: setDatePrices
      tags: [ticketing]
      summary: Fixe les tarifs d'une date.
      description: |
        **`ticketing` applique son propre verrou**, il ne demande rien à `catalog` : il refuse dès
        qu'il a consommé `publication.engaged`, avec son propre code et sa propre trace. C'est la
        réponse au reproche « un agrégat à cheval sur trois contextes » — la publication publie un
        fait, chaque propriétaire verrouille ce qu'il possède.

        **« Appliquer à la série » exclut les tarifs** : chaque date engage ses propres acheteurs.
      x-arthome-maturity: stable
      x-arthome-upstream: [ticketing]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tiers, expectedVersion]
              properties:
                expectedVersion: { type: integer }
                tiers:
                  type: array
                  items:
                    type: object
                    required: [tier, amountMinor, currencyCode, active]
                    properties:
                      tier: { type: string, enum: [full, reduced, support] }
                      amountMinor: { type: integer, minimum: 0 }
                      currencyCode: { type: string, pattern: '^[A-Z]{3}$' }
                      active: { type: boolean }
            example:
              expectedVersion: 12
              tiers:
                - { tier: full, amountMinor: 2400, currencyCode: EUR, active: true }
                - { tier: reduced, amountMinor: 1600, currencyCode: EUR, active: true }
      responses:
        '200':
          description: Tarifs à jour.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/DateSalesPane' } }
              example:
                servedAt: '2026-09-21T18:05:00.000Z'
                rightsVersion: 412
                data: { dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001, capacityTotal: 200, seatsAvailable: 26, priceTiers: [], pricesLocked: false, version: 13 }
        '409':
          description: '`PRICES_LOCKED` quand la publication est engagée, `STATE_CONFLICT` sur version périmée.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
              example:
                error: { code: PRICES_LOCKED, nature: refused, params: { lockedAt: '2026-09-21T18:04:00Z' }, traceId: 4bf92f3577b34da6a3ce929d0e0e4736 }
                servedAt: '2026-09-21T18:05:00.000Z'

  /v1/dates/{dateId}/capacity-tiers:
    post:
      operationId: openCapacityTier
      tags: [ticketing]
      summary: Ouvre un palier de jauge, et prévient la liste d'attente dans le même geste.
      description: |
        **Une seule commande transactionnelle, pas deux.** Deux appels laisseraient la rareté se
        dissiper entre eux : la fenêtre de priorité (2 h) est un **paramètre de domaine**, servie
        et non recopiée.

        **La jauge s'élargit par paliers et ne se réduit jamais** après la mise en vente : une
        réduction est refusée par `CAPACITY_SHRINK_FORBIDDEN`.

        Au-delà de **10 000 places**, la provision technique est exigée, révisable jusqu'à **72 h**
        avant ; seuil, provision, échéance et exposition au malus sont **des données du contrat**.
      x-arthome-maturity: stable
      x-arthome-upstream: [ticketing]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [additionalCapacity, expectedVersion]
              properties:
                additionalCapacity: { type: integer, minimum: 1 }
                expectedVersion: { type: integer }
                notifyWaitlist: { type: boolean, default: true }
            example: { additionalCapacity: 50, expectedVersion: 12, notifyWaitlist: true }
      responses:
        '200':
          description: Palier ouvert et liste d'attente prévenue, dans la même transaction.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        properties:
                          sales: { $ref: '#/components/schemas/DateSalesPane' }
                          waitlistNotified: { type: integer }
                          priorityUntil: { type: string, format: date-time }
              example:
                servedAt: '2026-09-21T18:06:00.000Z'
                rightsVersion: 412
                data:
                  sales: { dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001, capacityTotal: 250, seatsAvailable: 76, priceTiers: [], pricesLocked: true, version: 13 }
                  waitlistNotified: 12
                  priorityUntil: '2026-09-21T20:06:00Z'
        '409':
          description: '`CAPACITY_SHRINK_FORBIDDEN`, ou `TECHNICAL_PROVISION_REQUIRED` au-delà du seuil.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
              example:
                error: { code: TECHNICAL_PROVISION_REQUIRED, nature: refused, params: { threshold: 10000, revisableUntil: '2026-09-18T19:00:00Z' }, traceId: 4bf92f3577b34da6a3ce929d0e0e4736 }
                servedAt: '2026-09-21T18:06:00.000Z'

  /v1/dates/{dateId}/chat-policy:
    put:
      operationId: setDateChatPolicy
      tags: [moderation]
      summary: Règle le régime de tchat de la date.
      description: |
        **`chat` applique son propre verrou.** Après engagement de la publication, on peut toujours
        **fermer** un tchat en direct ; on ne peut plus l'**ouvrir davantage**. `chat` le sait
        parce qu'il a consommé l'événement, pas parce qu'il a demandé à `catalog`.
      x-arthome-maturity: provisional
      x-arthome-upstream: [chat]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [expectedVersion]
              properties:
                expectedVersion: { type: integer }
                mode: { type: string, enum: [open, emoji, read_only, off] }
                filterSeverity: { type: string, enum: [low, medium, high] }
                slowModeSec: { type: integer, minimum: 0, maximum: 300 }
                holdersOnly: { type: boolean }
                retroactiveFilter: { type: boolean }
            example: { expectedVersion: 4, mode: emoji, slowModeSec: 10 }
      responses:
        '200':
          description: Régime à jour.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/ChatPolicy' } }
              example:
                servedAt: '2026-09-21T18:07:00.000Z'
                rightsVersion: 412
                data: { dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001, mode: emoji, filterSeverity: medium, slowModeSec: 10, holdersOnly: false, locked: true, version: 5 }
        '409': { $ref: '#/components/responses/Conflict' }

  /v1/dates/{dateId}/replay-policy:
    put:
      operationId: setDateReplayPolicy
      tags: [publication]
      summary: Fixe la politique de rediffusion — la promesse faite avant l'achat.
      description: |
        **`none` est définitif pour cette date.** On ne peut pas activer ensuite une rediffusion
        qu'on a promis de ne pas faire : le tarif public en dépendait. Les autres valeurs se
        verrouillent à l'ouverture de la billetterie.

        Le contrat sépare trois choses que les sources confondaient : la **promesse** est à
        `catalog`, la **mise en vente** à `ticketing`, le **fichier et son expiration** à
        `streaming`.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [policy, expectedVersion]
              properties:
                policy: { type: string, enum: [included, subscription, unit, none] }
                windowHours: { type: [integer, 'null'], minimum: 1 }
                expectedVersion: { type: integer }
            example: { policy: unit, windowHours: 72, expectedVersion: 7 }
      responses:
        '200':
          description: Politique à jour.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/Publication' } }
              example:
                servedAt: '2026-09-21T18:08:00.000Z'
                rightsVersion: 412
                data: { dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001, state: scheduled, orderRank: 3, version: 8, checklist: [], offeredTransitions: [] }
        '409':
          description: '`REPLAY_POLICY_FINAL` quand la politique était `none`.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
              example:
                error: { code: REPLAY_POLICY_FINAL, nature: refused, params: { currentPolicy: none }, traceId: 4bf92f3577b34da6a3ce929d0e0e4736 }
                servedAt: '2026-09-21T18:08:00.000Z'

  /v1/dates/{dateId}:
    delete:
      operationId: deleteDate
      tags: [publication]
      summary: Supprime une date.
      description: |
        **Refusée s'il reste des places vendues**, et le refus porte **le nombre** en paramètre :
        l'écran doit dire « 174 places vendues », pas « impossible ». C'est une règle du domaine,
        pas une garde d'interface, et l'application ne doit pas essayer de la vérifier seule.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Date supprimée.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data: { type: object, properties: { deleted: { type: boolean } } }
              example:
                servedAt: '2026-09-21T18:09:00.000Z'
                rightsVersion: 412
                data: { deleted: true }
        '409':
          description: '`DATE_HAS_SOLD_SEATS`, avec le nombre.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
              example:
                error: { code: DATE_HAS_SOLD_SEATS, nature: refused, params: { seatsSold: 174 }, traceId: 4bf92f3577b34da6a3ce929d0e0e4736 }
                servedAt: '2026-09-21T18:09:00.000Z'
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/dates/{dateId}/duplicate:
    post:
      operationId: duplicateDate
      tags: [publication]
      summary: Duplique une date, ou l'applique à la série.
      description: |
        **« Appliquer à la série » exclut les tarifs et la jauge** — jamais reportés, parce que
        chaque date engage ses propres acheteurs. Le contrat le dit plutôt que de laisser
        l'interface le deviner.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newDateId, startsAt]
              properties:
                newDateId: { type: string, format: uuid, description: Généré par le domaine côté client. }
                startsAt: { type: string, format: date-time }
                applyToSeries: { type: boolean, default: false }
            example: { newDateId: 019928c1-0000-7000-8000-000000000001, startsAt: '2026-11-05T19:30:00Z' }
      responses:
        '201':
          description: Nouvelle date créée, **sans** les tarifs ni la jauge de l'originale.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/DateSheet' } }
              example:
                servedAt: '2026-09-21T18:10:00.000Z'
                rightsVersion: 412
                data:
                  dateId: 019928c1-0000-7000-8000-000000000001
                  channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                  title: Nuit blanche
                  startsAt: '2026-11-05T19:30:00Z'
                  openPanes: [public, tickets]
                  publication: { dateId: 019928c1-0000-7000-8000-000000000001, state: draft, orderRank: 1, version: 1, checklist: [], offeredTransitions: [] }
        '409': { $ref: '#/components/responses/Conflict' }

  /v1/dates/{dateId}/outcome:
    post:
      operationId: decideDateOutcome
      tags: [publication]
      summary: Déclare l'issue d'une date — reporter, annuler, interrompre.
      description: |
        **Réservée au propriétaire et à la production.** Les autres rôles ne peuvent que
        **signaler**. Une décision d'issue vaut plusieurs milliers d'euros, et le journal est
        nominatif.

        **Un événement, quatre conséquences, et aucun des quatre consommateurs ne parle aux
        autres** : `ticketing` rembourse (annulée) / crédite (interrompue) / **ne bouge pas**
        (reportée — la place suit la nouvelle date) ; `payouts` retient ; `catalog` remplace
        l'état **sur chaque carte**, pas seulement sur la fiche ; `notifications` prévient les
        détenteurs.

        **Une issue déclarée est un fait : jamais réécrite, jamais effacée.**

        Le message de la régie voyage **avec sa langue de rédaction** : c'est du contenu, pas une
        clé i18n.
      x-arthome-maturity: stable
      x-arthome-upstream: [catalog]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [outcome, message, expectedVersion]
              properties:
                outcome: { type: string, enum: [postponed, cancelled, interrupted] }
                message:
                  type: object
                  required: [contentLanguage, text]
                  properties:
                    contentLanguage: { type: string }
                    text: { type: string, maxLength: 600 }
                rescheduledTo:
                  type: [string, 'null']
                  format: date-time
                  description: '**Exigé et seulement permis** pour `postponed`.'
                expectedVersion: { type: integer }
            example:
              outcome: postponed
              message: { contentLanguage: fr, text: 'Report au 4 novembre. Vos places restent valables.' }
              rescheduledTo: '2026-11-04T19:30:00Z'
              expectedVersion: 8
      responses:
        '200':
          description: Issue déclarée, et ce qu'elle implique pour les détenteurs.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        properties:
                          outcome: { type: string }
                          declaredAt: { type: string, format: date-time }
                          moneyEffectCode:
                            type: string
                            description: '`full_refund` · `account_credit` · `no_movement`. Un **code**, jamais une phrase.'
                          affectedSeats: { type: integer }
              example:
                servedAt: '2026-09-21T20:50:00.000Z'
                rightsVersion: 412
                data: { outcome: postponed, declaredAt: '2026-09-21T20:50:00Z', moneyEffectCode: no_movement, affectedSeats: 174 }
        '403':
          description: '`OUTCOME_DECISION_FORBIDDEN` — ce rôle ne peut que signaler.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
              example:
                error: { code: OUTCOME_DECISION_FORBIDDEN, nature: refused, params: { canEscalateTo: [artist, production] }, traceId: 4bf92f3577b34da6a3ce929d0e0e4736 }
                servedAt: '2026-09-21T20:50:00.000Z'
        '409': { $ref: '#/components/responses/Conflict' }

  # =============================================================== conduite du direct

  /v1/dates/{dateId}/run:
    get:
      operationId: getRunConsole
      tags: [run]
      summary: L'état de la conduite — un appel, tout l'écran de régie.
      description: |
        **La voie de retour réellement ouverte est servie** (`monitorPath`) : le studio doit le
        **savoir** pour ne pas promettre à l'opérateur une latence qu'il n'a pas. Le contrat porte
        la vérité, pas l'uniformité — créer une branche média pour uniformiser un schéma coûterait
        plus qu'il ne rapporte.

        **Deux champs, pas un** : `state` et `afterGracePeriod`. Le studio distingue « accroc
        amorti » de « publieur parti », et une coupure réseau de deux secondes en salle ne doit
        produire ni incident ni manifeste reparti de zéro.

        **La clé de flux n'est jamais ici** : elle ne figure dans aucune charge utile de liste.
      x-arthome-maturity: provisional
      x-arthome-upstream: [streaming]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: La console.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/RunConsole' } }
              example:
                servedAt: '2026-09-21T19:20:00.000Z'
                validUntil: '2026-09-21T19:20:15.000Z'
                rightsVersion: 412
                data:
                  dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                  state: on_air
                  afterGracePeriod: true
                  ingestProtocol: rtmps
                  monitorPath: ll_hls
                  monitorUrl: 'https://monitor.arthome.fr/a9f1c0/index.m3u8'
                  qualityLadder: [{ renditionId: '1080p', heightPx: 1080, enabled: true }]
                  startedAt: '2026-09-21T19:00:12Z'
                  lastSample:
                    measuredAt: '2026-09-21T19:19:57Z'
                    source: ingest_server
                    ingestUpKbps: 8900
                    latencyMs: null
                    droppedPct: 0.1
                    viewers: 1842
                  incident: null
                  chapters: []
                  chatThroughputPerMinute: 41
                  version: 3
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/dates/{dateId}/run/technical-check:
    post:
      operationId: runTechnicalCheck
      tags: [run]
      summary: Lance le contrôle technique.
      description: |
        Son succès **déverrouille la publication** : `technical_check_passed` est l'un des sept
        éléments de la liste de contrôle, et il vient d'ici. `catalog` le **projette**, il ne le
        demande pas. `idle → on_air` est refusé tant que le contrôle n'est jamais passé.
      x-arthome-maturity: provisional
      x-arthome-upstream: [streaming]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Résultat du contrôle, et la liste de pré-vol.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: object
                        properties:
                          passed: { type: boolean }
                          passedAt: { type: [string, 'null'], format: date-time }
                          failures: { type: array, items: { type: string } }
                          sample: { $ref: '#/components/schemas/HealthSample' }
              example:
                servedAt: '2026-09-21T18:45:00.000Z'
                rightsVersion: 412
                data:
                  passed: true
                  passedAt: '2026-09-21T18:45:00Z'
                  failures: []
                  sample: { measuredAt: '2026-09-21T18:44:58Z', source: ingest_server, ingestUpKbps: 9100 }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /v1/dates/{dateId}/run/state:
    put:
      operationId: setRunState
      tags: [run]
      summary: Passe à l'antenne, répète, ou coupe la diffusion.
      description: |
        **La commande « passer à l'antenne » va à `streaming`, pas à `catalog`** : seul `streaming`
        sait si le flux entre. La publication l'**apprend** ensuite, par événement — deux
        transitions sur huit sont causées ainsi, ce qui laisse `Publication` agrégat d'un seul
        contexte.

        `idle → on_air` est **refusé** si le contrôle technique n'est jamais passé.
      x-arthome-maturity: provisional
      x-arthome-upstream: [streaming]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state, expectedVersion]
              properties:
                state: { type: string, enum: [idle, rehearsal, on_air, ended] }
                expectedVersion: { type: integer }
            example: { state: on_air, expectedVersion: 3 }
      responses:
        '200':
          description: La console à jour.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/RunConsole' } }
              example:
                servedAt: '2026-09-21T19:00:12.000Z'
                rightsVersion: 412
                data: { dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001, state: on_air, afterGracePeriod: true, ingestProtocol: rtmps, monitorPath: ll_hls, version: 4 }
        '409':
          description: '`TECHNICAL_CHECK_REQUIRED`, ou `STATE_CONFLICT`.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
              example:
                error: { code: TECHNICAL_CHECK_REQUIRED, nature: refused, params: {}, traceId: 4bf92f3577b34da6a3ce929d0e0e4736 }
                servedAt: '2026-09-21T19:00:12.000Z'

  /v1/dates/{dateId}/run/quality-profile:
    put:
      operationId: setQualityProfile
      tags: [run]
      summary: Change le profil de diffusion et l'échelle de qualités.
      description: Les profils d'encodage nommés sont une préférence **de compte**, pas une valeur locale du poste.
      x-arthome-maturity: provisional
      x-arthome-upstream: [streaming]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [renditions, expectedVersion]
              properties:
                expectedVersion: { type: integer }
                renditions:
                  type: array
                  items:
                    type: object
                    required: [renditionId, enabled]
                    properties:
                      renditionId: { type: string }
                      enabled: { type: boolean }
            example: { expectedVersion: 4, renditions: [{ renditionId: '1080p', enabled: true }, { renditionId: '360p', enabled: true }] }
      responses:
        '200':
          description: Échelle de qualités à jour.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/RunConsole' } }
              example:
                servedAt: '2026-09-21T19:02:00.000Z'
                rightsVersion: 412
                data: { dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001, state: on_air, afterGracePeriod: true, ingestProtocol: rtmps, monitorPath: ll_hls, version: 5 }
        '409': { $ref: '#/components/responses/Conflict' }

  /v1/dates/{dateId}/run/health-samples:
    post:
      operationId: submitHealthSample
      tags: [run]
      summary: Soumet une mesure prise côté régie — la latence bout-en-bout.
      description: |
        **La latence bout-en-bout est une mesure dédiée**, jamais un chiffre natif présenté comme
        tel. Elle est mesurée par `RTCPeerConnection.getStats()` sur la voie WHEP et **soumise**,
        d'où `source: client_submitted`. **Si elle n'est pas mesurée, elle est absente** — jamais
        remplacée par un zéro.

        `deviceUpKbps` mesure la liaison du poste, **pas l'encodeur** : deux débits différents ne
        portent jamais le même nom, et seul `ingestUpKbps` alimente la liste de pré-vol.
      x-arthome-maturity: provisional
      x-arthome-upstream: [streaming]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [measuredAt]
              properties:
                measuredAt: { type: string, format: date-time }
                latencyMs: { type: [integer, 'null'] }
                deviceUpKbps: { type: [integer, 'null'] }
                jitterMs: { type: [integer, 'null'] }
            example: { measuredAt: '2026-09-21T19:20:00Z', latencyMs: 820, deviceUpKbps: 4100 }
      responses:
        '202':
          description: Mesure prise en compte. Écriture tolérante à la perte, sans clé d'idempotence.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data: { type: object, properties: { accepted: { type: boolean } } }
              example:
                servedAt: '2026-09-21T19:20:01.000Z'
                rightsVersion: 412
                data: { accepted: true }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/dates/{dateId}/run/chapters:
    post:
      operationId: postChapter
      tags: [run]
      summary: Pose un chapitre, à sa position dans le média.
      description: |
        Un chapitre porte `atMediaSec` — sa **position dans le média** —, jamais son heure de pose.
        C'est gratuit maintenant et irrattrapable ensuite : sans cela, les chapitres d'une
        rediffusion sont décalés de tout ce que la régie a mis à les poser.

        `vocabId` est un identifiant de vocabulaire, **jamais un libellé rédigé**.
      x-arthome-maturity: provisional
      x-arthome-upstream: [streaming]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [chapterId, vocabId, atMediaSec]
              properties:
                chapterId: { type: string, format: uuid }
                vocabId: { type: string }
                atMediaSec: { type: integer, minimum: 0 }
            example: { chapterId: 019928d0-0000-7000-8000-000000000001, vocabId: chapter.second_act, atMediaSec: 2760 }
      responses:
        '201':
          description: Chapitre posé.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id: { type: string, format: uuid }
                          vocabId: { type: string }
                          atMediaSec: { type: integer }
              example:
                servedAt: '2026-09-21T19:46:00.000Z'
                rightsVersion: 412
                data: { id: 019928d0-0000-7000-8000-000000000001, vocabId: chapter.second_act, atMediaSec: 2760 }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/dates/{dateId}/run/chapters/{chapterId}:
    delete:
      operationId: removeChapter
      tags: [run]
      summary: Retire un chapitre.
      description: Rejouée sur un chapitre déjà retiré, elle réussit.
      x-arthome-maturity: provisional
      x-arthome-upstream: [streaming]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - name: chapterId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Chapitre retiré.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data: { type: object, properties: { deleted: { type: boolean } } }
              example:
                servedAt: '2026-09-21T19:47:00.000Z'
                rightsVersion: 412
                data: { deleted: true }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/dates/{dateId}/incidents:
    post:
      operationId: raiseIncident
      tags: [run]
      summary: Déclare un incident et diffuse l'écran d'attente.
      description: |
        **Un voile client, jamais une bascule de flux** : le plan de contrôle publie l'état, le
        lecteur l'affiche **par-dessus une vidéo intacte**. Instantané, identique sur les trois
        storefronts, et le média reste intact pour la reprise.

        **Cause et issue sont deux vocabulaires**, et les séparer était nécessaire : les quatre
        entrées des sources sont des **issues**, la régie mobile en distinguait trois **causes** de
        plus qui n'existaient nulle part.

        Le message voyage **avec sa langue de rédaction**. Le catalogue fournit des **modèles** par
        nature d'incident, que la régie reprend ou remplace.

        **Latence de diffusion : ≤ 2 s, non négociable** — le voile client en dépend.
      x-arthome-maturity: provisional
      x-arthome-upstream: [streaming]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [incidentId, kind, cause, message]
              properties:
                incidentId: { type: string, format: uuid }
                kind: { type: string, enum: [hold_screen, postponed, cancelled, interrupted] }
                cause:
                  type: string
                  enum: [venue_feed_lost, run_desk_disconnected, bitrate_collapsed, compatibility_worker_failed, provider_error, manual]
                message:
                  type: object
                  required: [contentLanguage, text]
                  properties:
                    contentLanguage: { type: string }
                    text: { type: string, maxLength: 400 }
            example:
              incidentId: 019928d1-0000-7000-8000-000000000001
              kind: hold_screen
              cause: venue_feed_lost
              message: { contentLanguage: fr, text: 'Interruption technique. Nous reprenons dans quelques instants.' }
      responses:
        '201':
          description: Incident levé, diffusé en moins de deux secondes.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/StudioIncident' } }
              example:
                servedAt: '2026-09-21T19:52:00.000Z'
                rightsVersion: 412
                data:
                  id: 019928d1-0000-7000-8000-000000000001
                  kind: hold_screen
                  cause: venue_feed_lost
                  trigger: manual
                  message: { contentLanguage: fr, text: 'Interruption technique. Nous reprenons dans quelques instants.' }
                  raisedAt: '2026-09-21T19:52:00Z'
                  raisedBy: { personId: 019928b0-0000-7000-8000-000000000001, displayName: 'Claire D.', surface: studio-mobile }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /v1/incidents/{incidentId}/resolve:
    post:
      operationId: resolveIncident
      tags: [run]
      summary: Résout l'incident et retire le voile.
      description: |
        Le lecteur **retire le voile** sans redemander de jeton de lecture : sinon la reprise se
        paierait d'un rechargement de flux, sur un média qui n'a jamais été coupé.
      x-arthome-maturity: provisional
      x-arthome-upstream: [streaming]
      parameters:
        - name: incidentId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Incident résolu.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          resolvedAt: { type: string, format: date-time }
              example:
                servedAt: '2026-09-21T19:56:00.000Z'
                rightsVersion: 412
                data: { resolvedAt: '2026-09-21T19:56:00Z' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/incidents/{incidentId}/escalate:
    post:
      operationId: escalateIncidentToProduction
      tags: [run]
      summary: Escalade vers la production — le geste des rôles qui ne décident pas.
      description: |
        **Ce que peut faire un rôle sans `canDecideOutcome`.** Il ne déclare pas d'issue ; il
        signale, et l'alerte est **routée par rôle et par chaîne côté serveur**. Sans ce geste, la
        seule issue d'un régisseur seul en salle serait d'appeler quelqu'un.
      x-arthome-maturity: provisional
      x-arthome-upstream: [notifications]
      parameters:
        - name: incidentId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [note]
              properties:
                note: { type: string, maxLength: 400 }
            example: { note: 'Flux perdu depuis 4 minutes, la salle ne répond pas.' }
      responses:
        '202':
          description: Escalade routée.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          routedToRoles: { type: array, items: { type: string } }
              example:
                servedAt: '2026-09-21T19:57:00.000Z'
                rightsVersion: 412
                data: { routedToRoles: [artist, production] }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/dates/{dateId}/stream-key/reveal:
    post:
      operationId: revealStreamKey
      tags: [run]
      summary: Révèle la clé de flux — commande distincte, auditée, nominative.
      description: |
        **C'est un secret affiché sur un téléphone, dans une salle, souvent devant un
        prestataire.** Quatre garanties, et elles sont dans le contrat parce qu'aucune n'est
        vérifiable côté client :

        - la clé **n'est jamais** dans une charge utile de liste ;
        - sa révélation est **cette commande**, distincte, auditée et nominative ;
        - la réponse porte **`Cache-Control: no-store`** — elle ne doit se retrouver ni dans le
          cache HTTP du téléphone, ni dans l'instantané d'application pris par le système au
          passage en arrière-plan ;
        - l'**affectation du créneau `director`**, qui donne accès à la clé, est réservée à
          `artist ∨ production`.

        **Réauthentification exigée** : c'est une opération sensible, et elle est demandée **au
        moment de l'opération**, jamais au retour d'écran.
      x-arthome-maturity: provisional
      x-arthome-upstream: [streaming]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reauthToken]
              properties:
                reauthToken: { type: string, description: Jeton de réauthentification à usage unique, de courte durée. }
            example: { reauthToken: ott_9f2ac1 }
      responses:
        '200':
          description: La clé, une fois, sans cache.
          headers:
            Cache-Control:
              schema: { type: string, const: no-store }
              description: Non négociable. C'est ce qui tient le secret hors du cache et hors de l'instantané d'application.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/StreamKeyReveal' } }
              example:
                servedAt: '2026-09-21T18:40:00.000Z'
                rightsVersion: 412
                data:
                  streamKey: sk_live_9f2ac1b4
                  ingestUrl: 'rtmps://ingest.arthome.fr/live'
                  revealedAt: '2026-09-21T18:40:00Z'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v1/dates/{dateId}/stream-key/rotate:
    post:
      operationId: rotateStreamKey
      tags: [run]
      summary: Renouvelle la clé de flux — l'ancienne cesse aussitôt de diffuser.
      description: |
        **Immédiat**, et le contrat le dit : l'ancienne clé cesse aussitôt de diffuser. Renouveler
        **pendant un direct** coupe l'ingestion en cours — le refus porte un code distinct
        (`STREAM_KEY_ROTATION_DURING_RUN`) plutôt que d'exécuter en silence une commande dont la
        conséquence est une antenne noire.
      x-arthome-maturity: provisional
      x-arthome-upstream: [streaming]
      parameters:
        - $ref: '#/components/parameters/DateId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reauthToken]
              properties:
                reauthToken: { type: string }
                confirmDuringRun: { type: boolean, default: false }
            example: { reauthToken: ott_9f2ac1, confirmDuringRun: false }
      responses:
        '200':
          description: Nouvelle clé émise.
          headers:
            Cache-Control: { schema: { type: string, const: no-store } }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/StreamKeyReveal' } }
              example:
                servedAt: '2026-09-21T18:41:00.000Z'
                rightsVersion: 412
                data: { streamKey: sk_live_4d77e2, ingestUrl: 'rtmps://ingest.arthome.fr/live', revealedAt: '2026-09-21T18:41:00Z' }
        '409':
          description: '`STREAM_KEY_ROTATION_DURING_RUN` — confirmer explicitement, ou attendre la fin.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
              example:
                error: { code: STREAM_KEY_ROTATION_DURING_RUN, nature: refused, params: { runState: on_air }, traceId: 4bf92f3577b34da6a3ce929d0e0e4736 }
                servedAt: '2026-09-21T19:41:00.000Z'

  # =============================================================== modération

  /v1/channels/{channelId}/moderation/queue:
    get:
      operationId: listModerationQueue
      tags: [moderation]
      summary: La file de modération — **au curseur**, première exception à page + total.
      description: |
        **Une file de modération grandit pendant qu'on la lit.** Une pagination par décalage y
        double des lignes et en saute d'autres — **mécaniquement, pas exceptionnellement**. C'est
        un flux, même hébergé dans le studio, donc curseur (D-010).

        Le **total séparé** (`pendingCount`) alimente la pastille : il ne se compte pas sur la page
        courante, sinon la barre du bas afficherait le nombre de lignes chargées.

        La **prise en charge des autres est visible** : `claimedBy` et `claimExpiresAt` arrivent
        sur le même canal, avec le nom de qui agit. Sans cela, deux modérateurs travaillent en
        aveugle l'un de l'autre et se marchent dessus à chaque ligne.
      x-arthome-maturity: provisional
      x-arthome-upstream: [chat]
      parameters:
        - $ref: '#/components/parameters/ChannelId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: dateId
          in: query
          schema: { type: string, format: uuid }
        - name: filter
          in: query
          schema: { type: string, enum: [all, pending, settled], default: pending }
        - name: q
          in: query
          description: Recherche **serveur** sur le pseudonyme et le texte.
          schema: { type: string }
      responses:
        '200':
          description: Page de file, plus le total pour la pastille.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [items, page]
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/ModerationItem' } }
                      page: { $ref: '#/components/schemas/CursorPageInfo' }
              example:
                servedAt: '2026-09-21T19:30:00.000Z'
                rightsVersion: 412
                lastEventSeq: 8812
                items:
                  - id: 019928e0-0000-7000-8000-000000000001
                    messageId: 019928f8-0000-7000-8000-000000000009
                    dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                    channelId: 019928a0-7d31-7a10-b8c4-2f9e11a4c222
                    state: reported
                    reason: harassment
                    reportsCount: 3
                    atMediaSec: 1812
                    sentAt: '2026-09-21T19:29:42Z'
                    authorHandle: '@anon.7742'
                    authorSanction: none
                    body: { contentLanguage: fr, text: '…' }
                    origin: human_verdict
                    version: 1
                page: { hasMore: true, nextCursor: eyJjIjoiMjAyNi0wOS0yMVQxOTozMCJ9, pendingCount: 14 }
        '403': { $ref: '#/components/responses/Forbidden' }
        '410': { $ref: '#/components/responses/Gone' }

  /v1/moderation/items/{itemId}/claim:
    post:
      operationId: claimModerationItem
      tags: [moderation]
      summary: Prend en charge une ligne — un bail, pas une écriture.
      description: |
        **« Prendre en charge n'est pas trancher. »** C'est un **bail court**, renouvelé tant que
        la personne est présente et **libéré par le serveur** à l'expiration : un modérateur dont
        le téléphone s'éteint ne gèle pas une ligne pendant tout le direct.

        **Ne se met jamais en file hors ligne** : rejouée à la reconnexion, elle réclamerait une
        ligne que quelqu'un d'autre a déjà traitée.
      x-arthome-maturity: provisional
      x-arthome-upstream: [chat]
      parameters:
        - name: itemId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Bail posé, avec son instant d'expiration.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/ModerationItem' } }
              example:
                servedAt: '2026-09-21T19:30:10.000Z'
                rightsVersion: 412
                data:
                  id: 019928e0-0000-7000-8000-000000000001
                  messageId: 019928f8-0000-7000-8000-000000000009
                  dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                  state: claimed
                  reportsCount: 3
                  atMediaSec: 1812
                  claimedBy: { personId: 019928b0-0000-7000-8000-000000000001, displayName: 'Claire D.', surface: studio-mobile }
                  claimExpiresAt: '2026-09-21T19:32:10Z'
                  version: 2
        '409':
          description: '`MODERATION_ALREADY_CLAIMED`, avec le nom de qui tient le bail.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
              example:
                error: { code: MODERATION_ALREADY_CLAIMED, nature: refused, params: { claimedBy: 'Yann P.', claimExpiresAt: '2026-09-21T19:32:00Z' }, traceId: 4bf92f3577b34da6a3ce929d0e0e4736 }
                servedAt: '2026-09-21T19:30:10.000Z'
    delete:
      operationId: releaseModerationItem
      tags: [moderation]
      summary: Relâche la prise en charge.
      description: Accélère la libération ; **rien n'en dépend**, le bail expire de lui-même.
      x-arthome-maturity: provisional
      x-arthome-upstream: [chat]
      parameters:
        - name: itemId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Ligne relâchée.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/ModerationItem' } }
              example:
                servedAt: '2026-09-21T19:31:00.000Z'
                rightsVersion: 412
                data: { id: 019928e0-0000-7000-8000-000000000001, messageId: 019928f8-0000-7000-8000-000000000009, dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001, state: reported, reportsCount: 3, atMediaSec: 1812, version: 3 }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/moderation/items/{itemId}/verdict:
    post:
      operationId: settleModerationItem
      tags: [moderation]
      summary: Rend un verdict — conditionnel, jamais idempotent aveugle.
      description: |
        **Le second verdict est refusé, et le refus transporte la décision gagnante** — auteur
        **et** verdict — pour que l'écran affiche « X a déjà supprimé ce message » au lieu d'un
        échec nu. Un refus nu obligerait à un second aller-retour en plein direct.

        **C'est pourquoi la commande est conditionnelle** (`expectedVersion`) et **non** idempotente
        aveugle : un rejeu idempotent écraserait le premier verdict, ce qui est exactement
        l'inverse de la règle.

        **Deux des quatre verdicts portent sur la personne, pas sur le message** : `mute` et `ban`
        composent avec la sanction de chaîne. Les trois axes — état du message, nature de la ligne
        de file, sanction sur la personne — ne s'empilent jamais.

        **Se met en file hors ligne**, avec les sanctions sur une personne nommée, et **rien
        d'autre** : c'est le seul geste de garde qu'une 4G de sous-sol doit pouvoir différer.
      x-arthome-maturity: provisional
      x-arthome-upstream: [chat]
      parameters:
        - name: itemId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [verdict, expectedVersion]
              properties:
                verdict: { type: string, enum: [publish, remove, mute, ban] }
                reason: { type: string, enum: [spam, harassment, hate, off_topic, filter] }
                muteUntil:
                  type: [string, 'null']
                  format: date-time
                  description: '**Un instant**, jamais une étiquette. Absent = sans limite.'
                expectedVersion: { type: integer }
            example: { verdict: mute, reason: harassment, muteUntil: '2026-09-21T20:30:00Z', expectedVersion: 2 }
      responses:
        '200':
          description: Verdict rendu.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/ModerationItem' } }
              example:
                servedAt: '2026-09-21T19:31:20.000Z'
                rightsVersion: 412
                data:
                  id: 019928e0-0000-7000-8000-000000000001
                  messageId: 019928f8-0000-7000-8000-000000000009
                  dateId: 019928a0-7d31-7a10-b8c4-2f9e11a4c001
                  state: settled
                  verdict: mute
                  reportsCount: 3
                  atMediaSec: 1812
                  settledBy: { personId: 019928b0-0000-7000-8000-000000000001, displayName: 'Claire D.', surface: studio-mobile }
                  settledAt: '2026-09-21T19:31:20Z'
                  origin: human_verdict
                  version: 3
        '409':
          description: '`MODERATION_ALREADY_SETTLED`, **avec le verdict gagnant et son auteur**.'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
              example:
                error:
                  code: MODERATION_ALREADY_SETTLED
                  nature: refused
                  params: { verdict: remove, settledBy: 'Yann P.', settledAt: '2026-09-21T19:31:18Z' }
                  traceId: 4bf92f3577b34da6a3ce929d0e0e4736
                servedAt: '2026-09-21T19:31:20.000Z'

  /v1/channels/{channelId}/audience:
    get:
      operationId: searchAudience
      tags: [moderation]
      summary: Le public d'une chaîne — cherchable, y compris ceux qui n'ont pas écrit.
      description: |
        **Une collection interrogeable par elle-même, pas une projection du tchat** : la console
        cherche « un spectateur **présent, qui n'a pas écrit** ». Des milliers de pseudonymes,
        donc **recherche serveur obligatoire**.
      x-arthome-maturity: provisional
      x-arthome-upstream: [chat]
      parameters:
        - $ref: '#/components/parameters/ChannelId'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: q
          in: query
          schema: { type: string }
        - name: presentOnDateId
          in: query
          schema: { type: string, format: uuid }
        - name: sanction
          in: query
          schema: { type: string, enum: [none, muted, banned] }
      responses:
        '200':
          description: Page de public.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [items, page]
                    properties:
                      items: { type: array, items: { $ref: '#/components/schemas/AudienceMember' } }
                      page: { $ref: '#/components/schemas/OffsetPageInfo' }
              example:
                servedAt: '2026-09-21T19:32:00.000Z'
                rightsVersion: 412
                items:
                  - id: 019928e1-0000-7000-8000-000000000001
                    handle: '@anon.7742'
                    sanction: muted
                    sanctionExpiresAt: '2026-09-21T20:30:00Z'
                    messagesCount: 0
                    firstSeenAt: '2026-02-11T20:10:00Z'
                    subscriberTier: pass
                    holdsSeat: true
                    present: true
                page: { page: 1, pageSize: 20, totalItems: 934, totalPages: 47 }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v1/channels/{channelId}/audience/{memberId}/sanction:
    put:
      operationId: sanctionAudienceMember
      tags: [moderation]
      summary: Sanctionne une personne — par chaîne, avec un instant d'expiration.
      description: |
        **La sanction porte sur la personne, au sein d'une chaîne** : la même personne est bannie
        chez un artiste et bienvenue chez un autre. C'est pourquoi elle appartient à `chat` et non
        à `identity` — y loger la sanction obligerait chaque verdict, geste le plus fréquent d'un
        direct saturé, à une écriture croisée vers le service le plus sensible du système.

        **Une sanction porte un instant d'expiration, jamais une étiquette.** « Sans limite »,
        1 min, 10 min, 1 h et la durée libre sont **un seul champ**, calculé une fois.
      x-arthome-maturity: provisional
      x-arthome-upstream: [chat]
      parameters:
        - $ref: '#/components/parameters/ChannelId'
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind]
              properties:
                kind: { type: string, enum: [none, muted, banned] }
                expiresAt: { type: [string, 'null'], format: date-time }
                reason: { type: string, enum: [spam, harassment, hate, off_topic, filter] }
            example: { kind: muted, expiresAt: '2026-09-21T20:30:00Z', reason: harassment }
      responses:
        '200':
          description: Sanction appliquée.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    required: [data]
                    properties: { data: { $ref: '#/components/schemas/AudienceMember' } }
              example:
                servedAt: '2026-09-21T19:33:00.000Z'
                rightsVersion: 412
                data: { id: 019928e1-0000-7000-8000-000000000001, handle: '@anon.7742', sanction: muted, sanctionExpiresAt: '2026-09-21T20:30:00Z', messagesCount: 0, present: true }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/channels/{channelId}/moderation/banned-words:
    post:
      operationId: addBannedWord
      tags: [moderation]
      summary: Ajoute un mot au dictionnaire — le reclassement est asynchrone.
      description: |
        **L'ambiguïté est tranchée : le traitement rétroactif est asynchrone.** La commande répond
        **immédiatement** avec `reprocessing: true` et le nombre **estimé** de messages concernés ;
        les nouveaux éléments de file arrivent par le canal temps réel, marqués
        `origin: retroactive_filter` pour que le journal les distingue d'une décision humaine.

        Motif : un reclassement synchrone sur des milliers de messages **bloquerait la commande en
        plein direct**.
      x-arthome-maturity: provisional
      x-arthome-upstream: [chat]
      parameters:
        - $ref: '#/components/parameters/ChannelId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [word]
              properties:
                word: { type: string, minLength: 1, maxLength: 60 }
                retroactive: { type: boolean, default: false }
            example: { word: 'exemple', retroactive: true }
      responses:
        '202':
          description: Mot ajouté ; le reclassement tourne en fond.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          word: { type: string }
                          reprocessing: { type: boolean }
                          estimatedAffectedMessages: { type: integer }
              example:
                servedAt: '2026-09-21T19:34:00.000Z'
                rightsVersion: 412
                data: { word: exemple, reprocessing: true, estimatedAffectedMessages: 312 }
        '403': { $ref: '#/components/responses/Forbidden' }

  /v1/channels/{channelId}/moderation/banned-words/{word}:
    delete:
      operationId: removeBannedWord
      tags: [moderation]
      summary: Retire un mot du dictionnaire.
      description: 'Le retrait **ne republie pas** les messages déjà retirés : une décision de modération reste un fait.'
      x-arthome-maturity: provisional
      x-arthome-upstream: [chat]
      parameters:
        - $ref: '#/components/parameters/ChannelId'
        - name: word
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/Surface'
        - $ref: '#/components/parameters/Traceparent'
      responses:
        '200':
          description: Mot retiré.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/EnvelopeMeta'
                  - type: object
                    properties:
                      data: { type: object, properties: { deleted: { type: boolean } } }
              example:
                servedAt: '2026-09-21T19:35:00.000Z'
                rightsVersion: 412
                data: { deleted: true }
        '404': { $ref: '#/components/responses/NotFound' }

  /v1/dates/{dateId}/chat/messages:
    get:
      operationId: listStudioChatMessages
      tags: [moderation]
      summary: Le tchat du direct vu du studio — **au curseur**, seconde exception à page + total.
      description: |
        **Le studio voit les deux états du message, le spectateur en voit un.** Un message retiré
        n'atteint jamais une surface publique ; ici il est servi avec son état, parce que c'est ce
        que la modération arbitre.

[...]
